.cdk-overlay-connected-position-bounding-box {
    z-index: 1000 !important;
  }
  .placeholder-bf{
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: white !important;
  }
  .product-btn{
    border-radius:2rem;
    margin-right:10px;
  }
  .search-store{
    flex-direction: row-reverse;
  }
.buttonwrapper {
  display: flex;
    //width: 250px;
    //border: 1px solid #a9a9a9;
    justify-content: space-between;
}

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.search-input label span{
 font-size:25px;
}
.store-search{
  margin:0px;
}
.storecategory-table
{
  margin-top:20px;
}
.search-input{
    height: 35px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    background: #F4F6F9;
    padding-left: 20px;
    border: 1px solid rgba(76, 87, 102, .1);
    width:70%;
    //margin-left:40px;
    margin-left:31%;
}
.store-table{
 // width:80%;
  //margin:0 auto;
overflow-x:hidden !important;
}
.search-store div{
  margin-right:10px;
}
.search-input:focus{
  outline:none !important;
}
.actions-btn{
  width:30px;
}
.spinner_container {
    border-radius: 10px;
    height: 70px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    z-index: 3;
    opacity: 0.5;
}
 .dark-overlay{
    background-color: rgba(0,0,0,0.7);
    position: absolute; 
    top:0;
    left:0;
    width: 100%;
    min-height:805px; 
  }
  .mat-cell:nth-child(1),
        .mat-header-cell:nth-child(1){
          flex: 0 0 10%;
}
        .mat-cell:nth-child(6),
        .mat-header-cell:nth-child(6){
         flex: 0 0 10%;
}

