<div  class="modal-content" >
	<div class="modal-header">
					<h4 class="modal-title"> Add Merchandising Manager</h4>
					<button type="button" class="close" aria-label="Close" (click)="reset();">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				
			<!--begin: Wizard -->
			<div #wizard class="kt-grid kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1" data-ktwizard-state="step-first">
				<div class="kt-grid__item">
					<!--begin: Form Wizard Nav -->
					<div class="kt-wizard-v1__nav">
						<div class="kt-wizard-v1__nav-items">
							<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step" data-ktwizard-state="current">
								<div class="kt-wizard-v1__nav-body">
									<div class="kt-wizard-v1__nav-icon">
										<i class="flaticon-bus-stop"></i>
									</div>
									<div class="kt-wizard-v1__nav-label">
										1) Basic Details
									</div>
								</div>
							</a>
							<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step">
								<div class="kt-wizard-v1__nav-body">
									<div class="kt-wizard-v1__nav-icon">
										<i class="flaticon-list"></i>
									</div>
									<div class="kt-wizard-v1__nav-label">
										2)  Assign Geography
									</div>
								</div>
							</a>
							<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step">
								<div class="kt-wizard-v1__nav-body">
									<div class="kt-wizard-v1__nav-icon">
										<i class="flaticon-responsive"></i>
									</div>
									<div class="kt-wizard-v1__nav-label">
										3) Assign Store Category
									</div>
								</div>
							</a>
							
						</div>
					</div>
					<!--end: Form Wizard Nav -->
				</div>
				
				<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1">
					<!--begin: Form Wizard Form-->
					<form class="kt-form" id="kt_form" [formGroup]="merchand">
						<!--begin: Form Wizard Step 1-->
							<div class="modal-body" >
						<div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
							<div class="kt-heading kt-heading--md">Enter Basic Details</div>
							<div class="kt-form__section kt-form__section--first">
									<div class="kt-wizard-v1__form">
									<div class="row validated"> 
											<div class="col-xl-6">
												<div class="form-group">
													<label>User ID</label>
													<input type="text" class="form-control" formControlName="user_id"
													placeholder="Enter User ID"   (change)="applyFilter($event.target.value)" >
													<div *ngIf="isControlHasError('user_id','required')">
															<span class="invalid-feedback">User ID is Required.</span>
														</div>
														<div *ngIf="duplicated ==true">
															<span class="invalid-feedback">User ID is Already Exit.</span>
														</div>
												<!--	<span class="form-text text-muted">Please enter your Postcode.</span>-->
												</div>
											</div>
											<div class="col-xl-6">
												<div class="form-group">
													<label>First Name</label>
													<input type="text" class="form-control" formControlName="f_name"
													placeholder="Enter  First Name">
															<div *ngIf="isControlHasError('f_name','required')">
																<span class="invalid-feedback">First  Name is Required.</span>
															</div>
												</div>
											</div>
										</div>
	
										<div class="row validated">
												<div class="col-xl-6">
													<div class="form-group">
														<label>Last Name</label>
													<input type="text" class="form-control" formControlName="l_name"
														placeholder="Enter Last Name">
														<div *ngIf="isControlHasError('l_name','required')">
																<span class="invalid-feedback">Retail Category is Required.</span>
															</div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="form-group">
														<label>Email ID</label>
														<input type="text" class="form-control" formControlName="email"
														placeholder="Enter Email ID" (change)="applyFilter1($event.target.value)">
																<div *ngIf="isControlHasError('email','required')">
																	<span class="invalid-feedback">Email ID is Required.</span>
																</div>
																<div *ngIf="isControlHasError('email','email')">
																	<span class="invalid-feedback">Email ID is not valid.</span>
																</div>
																<div *ngIf="duplicated1 ==true">
																	<span class="invalid-feedback">Email ID is Already Exit.</span>
																</div>
													</div>
												</div>
											</div>
	
											<div class="row validated">
												<div class="col-xl-6">
													<div class="form-group">
														<label>Mobile Number</label>
														<input type='number' class="form-control" formControlName="mobile_no"
														placeholder="Enter Mobile Number" (change)="applyFilter2($event.target.value)">
																<div *ngIf="isControlHasError('mobile_no','required')">
																	<span class="invalid-feedback">Mobile Number is Required.</span>
																</div>
																<div *ngIf="isControlHasError('mobile_no','pattern')">
																	<span class="invalid-feedback">Mobile Number is not valid.</span>
																</div>
																<div *ngIf="duplicated2 == true">
																	<span class="invalid-feedback">Mobile No is Already Exit.</span>
																</div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="form-group">
														<label>Alternative Mobile Number</label>
														<input type='number' class="form-control" formControlName="alt_mobile_no"
														placeholder="Enter Mobile Number">
																
																<div *ngIf="isControlHasError('alt_mobile_no','pattern')">
																	<span class="invalid-feedback">Alternative Mobile Number is not valid.</span>
																</div>
													</div>
												</div>
											</div>
	
											<div class="row validated">
												<div class="col-xl-6">
													<div class="form-group">
														<label>Address Line 1</label>
														<input type="text" class="form-control" formControlName="address_line1"
														placeholder="Enter Address">
														<div *ngIf="isControlHasError('address_line1','required')">
																<span class="invalid-feedback">Address is Required.</span>
															</div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="form-group">
														<label>Address Line 2</label>
														<input type="text" class="form-control" formControlName="address_line2"
														placeholder="Enter Address">
																<div *ngIf="isControlHasError('address_line2','required')">
																	<span class="invalid-feedback">Address is Required.</span>
																</div>
													</div>
												</div>
											</div>
		<div class="row validated">
							
			<div class="col-xl-6">
				<div class="form-group">
					<label>Country</label>
					<select class="form-control" formControlName="country"   (ngModelChange)="getstate($event)" >
							<!-- <option [ngValue]="''" disabled selected>Select Country</option> -->
							<option [ngValue]="null" disabled [selected]=dd_selected>Select Country</option>
							<!--<option *ngFor="let countrys of country" [ngValue]="countrys.id">
		{{ countrys.name}} 
	</option>-->
	<option [ngValue]="'101'">India</option>
						</select>
							<div *ngIf="isControlHasError('country','required')">
								<span class="invalid-feedback">Country is Required.</span>
							</div>
						
				</div>
			</div>
			<div class="col-xl-6">
				<div class="form-group">
					<label>State</label>
					<select class="form-control" formControlName="state"   (ngModelChange)="getdistrict($event)" >
							<!-- <option [ngValue]="''" selected disabled>Select State</option> -->
							<option [ngValue]="null" [selected]=dd_selected disabled>Select State</option>
							<option *ngFor="let states of state" [ngValue]="states.id">
		{{ states.name}} 
	</option>
						</select>
					<div *ngIf="isControlHasError('state','required')">
							<span class="invalid-feedback"> State is Required.</span>
						</div>
				</div>
			</div>
		
		</div>
	<div class="row validated">
	<div class="col-xl-6">
				<div class="form-group">
					<label>District</label>
					<select class="form-control" formControlName="district"   (ngModelChange)="gettaluk($event)" >
							<!-- <option [ngValue]="''"selected disabled>Select District</option> -->
							<option [ngValue]="null" [selected]=dd_selected disabled>Select District</option>
							<option *ngFor="let districts of district" [ngValue]="districts.id"  >
		{{ districts.name}} 
	</option>
						</select>
							<div *ngIf="isControlHasError('district','required')">
								<span class="invalid-feedback">District is Required.</span>
							</div>
						
				</div>
			</div>
			<div class="col-xl-6">
				<div class="form-group">
					<label>Taulk</label>
					<select class="form-control" formControlName="taluk"    >
							<!-- <option [ngValue]="''" selected disabled>Select Taulk</option> -->
							<option [ngValue]="null" [selected]=dd_selected disabled>Select Taulk</option>
							<option *ngFor="let taluks of taluk" [ngValue]="taluks.id">
		{{ taluks.name}} 
	</option>
						</select>
					<div *ngIf="isControlHasError('taluk','required')">
							<span class="invalid-feedback"> Taulk is Required.</span>
						</div>
				</div>
			</div>
		
		</div>
		<div class="row validated">
	<div class="col-xl-6">
				<div class="form-group">
					<label>Town/Village</label>
					<input type="text" class="form-control" formControlName="city"
					placeholder="Enter  Town/Village">
							<div *ngIf="isControlHasError('city','required')">
								<span class="invalid-feedback">Town/Village is Required.</span>
							</div>
						
				</div>
			</div>
			<div class="col-xl-6">
				<div class="form-group">
					<label>Pincode</label>
					<input type="text" class="form-control" formControlName="pincode"
					placeholder="Enter Pincode">
							<div *ngIf="isControlHasError('pincode','required')">
								<span class="invalid-feedback">Pincode is Required.</span>
							</div>
				</div>
			</div>
		
		</div>
		
	
	</div>
	
	</div>
	</div>
						<!--end: Form Wizard Step 1-->
	
						<!--begin: Form Wizard Step 2-->
						<div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
							<div class="kt-heading kt-heading--md">Assign Geography</div>
							<div class="kt-form__section kt-form__section--first">
								<div class="kt-wizard-v1__form">
								
									<div class="row validated">
												<div class="col-xl-6">
													<div class="form-group">
														<label>Address Line 1</label>
														<input type="text" class="form-control" formControlName="c_address"
														placeholder="Enter Address">
														<div *ngIf="isControlHasError('c_address','required')">
																<span class="invalid-feedback">Address is Required.</span>
															</div>
													</div>
												</div>
													<div class="col-xl-6">
													<div class="form-group">
														<label>Address Line 2	</label>
														<input type="text" class="form-control" formControlName="c_address1"
														placeholder="Enter Address">
														<div *ngIf="isControlHasError('c_address1','required')">
																<span class="invalid-feedback">Address is Required.</span>
															</div>
													</div>
												</div>
											
											</div>
							<div class="row validated">
							
								<div class="col-xl-6">
								
									<div class="form-group">
										<label>Country</label>
										<select class="form-control" formControlName="c_country"   (ngModelChange)="getstate_geo($event)" >
												<option [ngValue]="null" disabled [selected]=dd_selected>Select Country</option>
												<!--<option *ngFor="let countrys of country_geo" [ngValue]="countrys.id">
							{{ countrys.name}} 
						</option>-->
						<option [ngValue]="'101'">India</option>
											</select>
										
												<div *ngIf="isControlHasError('c_country','required')">
													<span class="invalid-feedback">Country is Required.</span>
												</div>
											
									</div>
								</div>
								
								<div class="col-xl-6">
									<div class="form-group">
										<label>State</label>
										<select class="form-control" formControlName="c_state"   (ngModelChange)="getdistrict_geo($event)" >
												<option [ngValue]="null" selected [selected]=dd_selected>Select State</option>
												<option *ngFor="let states of state_geo" [ngValue]="states.id">
							{{ states.name}} 
						</option>
											</select>
										<div *ngIf="isControlHasError('c_state','required')">
												<span class="invalid-feedback"> State is Required.</span>
											</div>
									</div>
								</div>
							
							</div>
					<div class="row validated">
					<div class="col-xl-6">
									<div class="form-group">
										<label>District</label>
										<select class="form-control" formControlName="c_district"   (ngModelChange)="gettaluk_geo($event)" >
												<option [ngValue]="null"[selected]=dd_selected disabled>Select District</option>
												<option *ngFor="let districts of district_geo" [ngValue]="districts.id"  >
							{{ districts.name}}
						</option>
											</select>
												<div *ngIf="isControlHasError('c_district','required')">
													<span class="invalid-feedback">District is Required.</span>
												</div>
											
									</div>
								</div>
								<div class="col-xl-6">
									<div class="form-group">
										<label>Taulk</label>
										<select class="form-control" formControlName="c_taluk"    >
												<option [ngValue]="null" [selected]=dd_selected disabled>Select Taulk</option>
												<option *ngFor="let taluks of taluk_geo" [ngValue]="taluks.id">
							{{ taluks.name}} 
						</option>
											</select>
										<div *ngIf="isControlHasError('c_taluk','required')">
												<span class="invalid-feedback"> Taulk is Required.</span>
											</div>
									</div>
								</div>
							
							</div>
			
				<div class="row validated">
					<div class="col-xl-6">
									<div class="form-group">
										<label>Town/Village</label>
										<input type="text" class="form-control" formControlName="c_town"
										placeholder="Enter  Town/Village">
												<div *ngIf="isControlHasError('c_town','required')">
													<span class="invalid-feedback">Town/Village is Required.</span>
												</div>
											
									</div>
								</div>
								<div class="col-xl-6">
									<div class="form-group">
										<label>Pincode</label>
										<input type="text" class="form-control" formControlName="c_pincode"
										placeholder="Enter Pincode">
												<div *ngIf="isControlHasError('c_pincode','required')">
													<span class="invalid-feedback">Pincode is Required.</span>
												</div>
									</div>
								</div>
							
							</div>
				</div>
			</div>
		</div>
						<!--end: Form Wizard Step 2-->
	
						<!--begin: Form Wizard Step 3-->
						<div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
							<div class="kt-heading kt-heading--md">Select  Store Category</div>
							<div class="kt-form__section kt-form__section--first">
								<div class="kt-wizard-v1__form">
							<div class="row validated">
												<div class="col-xl-6">
													<div class="form-group">
														<label>Category</label>
													<ng-multiselect-dropdown
	  [placeholder]="'Select Store Category'"
	  [data]="dropdownList"
	  [(ngModel)]="selectedItems"
	  [settings]="dropdownSettings"
	  (onSelect)="onItemSelect($event)"
	  (onSelectAll)="onSelectAll($event)"
	  formControlName="cate"
	>
	</ng-multiselect-dropdown>
														<div *ngIf="isControlHasError('categorys','required')">
																<span class="invalid-feedback">category is Required.</span>
															</div>
													</div>
												</div>
												
											</div>
								</div>
							</div>
						</div>
						<!--end: Form Wizard Step 3-->
	
						</div>
	
	<div class="modal-footer  d-flex justify-content-between">
						<!--begin: Form Actions -->
						<!-- <div class="kt-form__actions"> -->
							<div class="btn btn-pill btn-outline-secondary  kt-font-bold custom-btn" data-ktwizard-type="action-prev">
								Previous
							</div>
							<div (click)="onSubmit()"  class="btn btn-pill btn-outline-success kt-font-bold custom-btn" data-ktwizard-type="action-submit" [hidden]=save_enable>
								Submit
							</div>
							<div (click)="onEdit()"  class="btn btn-pill btn-outline-success kt-font-bold custom-btn" data-ktwizard-type="action-submit" [hidden]=Edit_enable>
								Update
							</div>
							<div (click)="onSubmit_next()" class="btn btn-pill btn-outline-success   kt-font-bold custom-btn ml-auto" data-ktwizard-type="action-next">
								Next Step
							</div>
						<!-- </div> -->
						</div>
						<!--end: Form Actions -->
					</form>
					<!--end: Form Wizard Form-->
				</div>
			</div>
			<!--end: Wizard -->
	
	</div>