@import "sass/pages/wizard/wizard-1";

.productnew-btn{
    border-radius:2rem;
    margin-left:10px;
  }
  button.mat-raised-button.mat-button-base.mat-primary {
    margin-left: 3px;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
