
	<!--<div class="spinner_container"><mat-spinner *ngIf="showSpinner"></mat-spinner></div>-->
	<kt-portlet >
		<!-- PORTLET LOADING | Binded to TABLE Datasource -->
		<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
		<kt-portlet-header [title]="'Merchanding Manger'"  >
			
	
	<ng-container ktPortletTools>
            <button type="button" class="btn btn-light-primary font-weight-bolder btn-pill" 
                [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()">Export
            </button>
			<div [matTooltip]="storeDetail.length>0 ? 'Create New Manger' : 'No Store Category Found'">
					<button  type="button" class="btn btn-light-primary font-weight-bolder ml-2 btn-pill" (click)="openModal()"
						color="primary" [disabled]="storeDetail.length>0 ? false : true">Add Manger</button>
				</div>
			<!-- <button  type="button" class="btn btn-light-primary font-weight-bolder ml-2 btn-pill" (click)="openModal()"
                color="primary" >Add Manger</button> -->
            <input hidden type="file" #uploader (change)="onFileChange($event,contentSmallAlert)"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                multiple="false" />
            <mat-menu #menu="matMenu">
					<span (mouseleave)="menuTrigger.closeMenu()">
				<button mat-menu-item color="primary" (click)="sample_download()">Sample File</button>
				<button type="submit" mat-menu-item color="primary" (click)="uploader.click()">Upload File</button>
                <button mat-menu-item color="primary" *ngIf="allDataExcel.length>0" (click)="export('db')">Download
					File</button>
					</span>
            </mat-menu>
        </ng-container>
		</kt-portlet-header>
		<!-- end::Header -->
	
		<!-- start::Body (attribute: ktPortletBody) -->
		<kt-portlet-body>
			<!-- start::FILTERS & GROUP ACTIONS -->
			<div class="kt-form">
				<!-- start::FILTERS -->
				<div class="kt-form__filtration store-search">
					<div class="row align-items-center search-store">
						
							<div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
									<div class="kt-input-icon kt-input-icon--left">
									  <input type="text" class="form-control product-btn" placeholder="Search..."  (keyup)="applyFilter($event.target.value)">
									  <span class="kt-input-icon__icon kt-input-icon__icon--left">
										<span><i class="la la-search"></i></span>
									  </span>
									</div>
								  </div>
						<!-- <div class="col-md-3 kt-margin-bottom-10-mobile"> -->
							<!-- <mat-form-field class="mat-form-field-fluid search-input"> -->
								<!-- <input matInput  #searchInput placeholder="Search in all fields"  (keyup)="applyFilter($event.target.value)"> -->
								<!-- <input   class="search-input" #searchInput placeholder="Search in all fields"  (keyup)="applyFilter($event.target.value)"> -->
								<!-- <mat-hint align="start">
									<strong>Search</strong> in all fields
								</mat-hint> -->
							<!-- </mat-form-field> -->
						<!-- </div> -->
					</div>
				</div>
				<!-- end::FILTERS -->
				
			
	
	
				<!-- start::GROUP ACTIONS -->
				<!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
				<!-- Group actions are shared for all LISTS -->
				<div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
					[ngClass]="{'show' : selection.selected.length > 1}"><!-- We show 'Group Actions' div if smth are selected -->
					<div class="col-xl-12">
						<div class="kt-form__group kt-form__group--inline">
							<!-- <div class="kt-form__label kt-form__label-no-wrap">
								<label class="kt--font-bold kt-font-danger-">
									<span translate="ECOMMERCE.COMMON.SELECTED_RECORDS_COUNT"></span> {{ selection.selected.length }}
								</label>
								<!-- selectedCountsTitle => function from codeBehind (users-list.component.ts file) -->
								<!-- selectedCountsTitle => just returns title of selected items count -->
								<!-- for example: Selected records count: 4 -->
							<!--</div> -->
							<div class="kt-form__control kt-form__group--inline">
								<button  type="button" (click)="fetchUsers()" mat-raised-button   class="btn btn-outline-danger product-btn">
									<mat-icon>clear_all</mat-icon>
									Bulk Delete
								</button>
								{{ selection.selected.length }} Records
							</div>
						</div>
					</div>
				</div>
				<!-- end::GROUP ACTIONS -->
			</div>
			<!-- end::FILTERS & GROUP ACTIONS -->
	
			<!-- MATERIAL TABLE | Binded to datasources -->
			<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
			<!-- <div class="table-responsive mat-elevation-z8 storecategory-table">																																																																																																																																																																																												 -->
			<div class="mat-table__wrapper brand-overflow">
				<mat-table class="lmat-elevation-z8"
					#table
					[dataSource]="dataSource"
					matSort
					#sort1="matSort"
					matSortActive="id"
					matSortDirection="asc"
					matSortDisableClear>
					<!-- Checkbox Column -->
	
					<!-- Table with selection -->
					<!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
					<ng-container matColumnDef="select">
				<mat-header-cell style="max-width:100px" *matHeaderCellDef>
					<mat-checkbox (change)="$event ? masterToggle() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()">
					</mat-checkbox>
				</mat-header-cell>
				<mat-cell style="max-width:100px" *matCellDef="let  row">
					<mat-checkbox (click)="$event.stopPropagation()"
						(change)="$event ? selection.toggle(row) : null"
						[checked]="selection.isSelected(row)">
					</mat-checkbox>
				</mat-cell>
			</ng-container>
	
					<ng-container matColumnDef="s_no" >
						<!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
						<mat-header-cell  class="max-one"  *matHeaderCellDef mat-sort-header>S.No</mat-header-cell>
						<mat-cell   class="max-one"  *matCellDef="let row;let i = index">{{ this.paginator.pageIndex == 0 ?  i+1 : (i +1)+ this.paginator.pageIndex * this.paginator.pageSize}}</mat-cell>
					</ng-container>
	
					<ng-container matColumnDef="user_id">
						<mat-header-cell  *matHeaderCellDef mat-sort-header>User Id</mat-header-cell>
						<mat-cell   *matCellDef="let row"><button  type="button" class="actions-btn" (click)="viewUser1(row,basic_details)" mat-icon-button color="primary" matTooltip="View Basic Info">
							{{row.user_id}}
							</button></mat-cell>
						
					</ng-container>
	
					<ng-container matColumnDef="name">
						<mat-header-cell       *matHeaderCellDef mat-sort-header >Name</mat-header-cell>
						<mat-cell   *matCellDef="let row" >
						{{row.f_name | titlecase}}  {{row.l_name | titlecase}}
						</mat-cell>
					</ng-container>
					
					<!--<ng-container matColumnDef="basic_details">
						<mat-header-cell    class="max-two "     *matHeaderCellDef mat-sort-header >Basic Details</mat-header-cell>
						<mat-cell   class="max-two "   *matCellDef="let row" >
					       	 <button class="btn btn-outline-primary product-btn" (click)="editUser(row,content9)"  matTooltip="View Basic Details">
							<!--	<mat-icon>assignment_ind</mat-icon>--> <!--Basic Details
							</button>
						</mat-cell>
					</ng-container>-->
					
					<ng-container matColumnDef="assign_geography">
						<mat-header-cell    class="custom-matcolumns"  *matHeaderCellDef mat-sort-header >Assigned Geography</mat-header-cell>
						<mat-cell  class="custom-matcolumns"   *matCellDef="let row" >
						<button  type="button" class="actions-btn" (click)="viewUser(row,geography)"  mat-icon-button color="primary" matTooltip="View Geography">
								<!--<mat-icon>gps_fixed</mat-icon>-->Geography
							</button>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="assign_store_category">
						<mat-header-cell   class="custom-matcolumnsextra" *matHeaderCellDef mat-sort-header >Assigned Store Category</mat-header-cell>
						<mat-cell    class="custom-matcolumns"   *matCellDef="let row" >
						<!-- <button  type="button" class="actions-btn" (click)="viewUser(row,storecategory)" mat-icon-button color="primary"  matTooltip="View Store Category"> -->
								<!--<mat-icon>store_mall_directory</mat-icon>-->
								<!-- Store Category -->
							<!-- </button> -->
							<span class="table-text">
								<span  *ngIf="row.category.length>0" >
									<select class="form-control pr-0" >
											<option [ngValue]="null" disabled>Store Category</option>
											<option  *ngFor="let store of getJson(row.category)" [ngValue]="store.category" [disabled]=true>
											{{store.store_name}}
											</option>
											
										</select>
									</span>
									<span *ngIf="row.category.length<=0">
										NA
									</span>
							</span>	
						</mat-cell>
					</ng-container>
					<!--<ng-container matColumnDef="category" >
						<mat-header-cell    class="max-two"   *matHeaderCellDef mat-sort-header >Store Category</mat-header-cell>
						<mat-cell    class="max-two"   *matCellDef=" let row" >
						<div *ngFor="let category_stores of category_store"  >
						<div *ngIf="category_stores.user_id == row.user_id" >
						<div *ngFor="let category_sto of category_stores.data">
				{{category_sto.store_name}},
				</div>
				</div>
    </div>
				
						</mat-cell>
					</ng-container>-->
					
					<ng-container   matColumnDef="actions">
						<mat-header-cell   class="header-cell"   *matHeaderCellDef>Actions</mat-header-cell>
						<mat-cell  class="action-cell"  *matCellDef="let row">
							<button type="button" class="btn btn-sm btn-clean btn-icon" (click)="editUser(row,content9)" mat-icon-button  >
								<mat-icon>create</mat-icon>
							</button>
							<button  type="button" class="btn btn-sm btn-clean btn-icon" mat-icon-button   type="button" (click)="deletemerchand(row)">
								<mat-icon>delete</mat-icon>
							</button>
						</mat-cell>
					</ng-container>
	
					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	
					<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
				</mat-table>
				<div class="mat-table__message" *ngIf="dataSource.data.length === 0">No records found</div><!-- Message for empty data  -->
				<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
			</div>
	
			<!-- start: BOTTOM -->
			<div class="mat-table__bottom">
				<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
				<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
				<!-- MATERIAL PAGINATOR | Binded to dasources -->
				<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
				<mat-paginator  #paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
			</div>
		<!-- </div> -->
			<!-- end: BOTTOM -->
	 
<div class="kt-section ">
		<div class="kt-section__content">
			<ng-template #storecategory let-c="close" let-d="dismiss">
			<div class="modal-header">
				<h4 class="modal-title">Store Category -({{datas.user_id}})</h4>
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" >
				
											<div class="form-group"  *ngFor="let store of view_data">
												<label><b>{{store.category }}</b></label>
											 <div class="col-lg-9">
											<input type="text" class="form-control"  value=	{{store.store_name}}	
												placeholder="Enter  Store Name" readonly>
											</div>
										</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click')">Close</button>
				
			</div>

			</ng-template>
		 
		</div>
		</div>
		
	<!--Geography-->
	<div class="kt-section ">
		<div class="kt-section__content">
			<ng-template #geography let-c="close" let-d="dismiss">
			<div class="modal-header">
				<h4 class="modal-title">Geography-({{datas.user_id}})</h4>
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
	
				
			<div class="modal-body" >
			
				<div class="row validated">
	<label class="control-label col-lg-2">Address1</label>
	 <div class="col-lg-9">
	<input type="text" class="form-control"  value="{{address_1}}" Readonly>
	 </div></div><br>
	 <div class="row validated">
	<label class="control-label col-lg-2">Address2</label>
	 <div class="col-lg-9">
	<input type="text" class="form-control"  value="{{address_2}}" Readonly>
	 </div></div><br>
				<div class="row validated">
	<label class="control-label col-lg-2">Taluk</label>
	 <div class="col-lg-9">
	<input type="text" class="form-control"  value="{{taluk.name}}" Readonly>
	 </div></div><br>
							<div class="row validated">
	<label class="control-label col-lg-2">District</label>
	 <div class="col-lg-9">
	<input type="text" class="form-control"  value="{{district.name}}" Readonly>
	 </div></div><br>
	 			 <div class="row validated">
	<label class="control-label col-lg-2">State</label>
	 <div class="col-lg-9">
	<input type="text" class="form-control"  value="{{state.name}}" Readonly>
	 </div></div><br>
	  <div class="row validated">
	<label class="control-label col-lg-2">Country</label>
	 <div class="col-lg-9">
	<input type="text" class="form-control"  value="{{country.name}}" Readonly>
	 </div></div><br>
	 <div class="row validated">
	<label class="control-label col-lg-2">Pincode</label>
	 <div class="col-lg-9">
	<input type="text" class="form-control"  value="{{pincode}}" Readonly>
	 </div></div><br>
			</div>
			 
			<div class="modal-footer">
				<button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click')">Close</button>
			</div>
	
			</ng-template>
		 
		</div>
		</div>
		<!--Basic-->
		<div class="kt-section ">
		<div class="kt-section__content">
			<ng-template #basic_details let-c="close" let-d="dismiss">
			<div class="modal-header">
				<h4 class="modal-title">Basic Details-({{datas.user_id}})</h4>
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
	        <div class="modal-body" >
			<div class="row validated">
											<div class="col-xl-6">
												<div class="form-group">
													<label>Name</label>
												<input type="text" class="form-control"  value="{{datas.f_name | titlecase}} {{datas.l_name | titlecase}}"
													placeholder="Enter  Name" readonly>
													
												</div>
											</div>
										<div class="col-xl-6">
												<div class="form-group">
													<label>Email-ID</label>
												<input type="text" class="form-control"  value="{{datas.email}}"
													placeholder="Enter  Name" readonly>
													
												</div>
											</div>
										</div>
						<div class="row validated">
											<div class="col-xl-6">
												<div class="form-group">
													<label>Mobile No</label>
												<input type="text" class="form-control"  value="{{datas.mobile_no}}"
													placeholder="Enter  Name" readonly>
													
												</div>
											</div>
										<div class="col-xl-6">
												<div class="form-group">
													<label>Alternative  Mobile No</label>
												<input type="text" class="form-control"  value="{{datas.alt_mobile_no}}"
													placeholder="Enter  Name" readonly>
													
												</div>
											</div>
										</div>
											<div class="row validated">
											<div class="col-xl-6">
												<div class="form-group">
													<label>Address Line 1</label>
												<input type="text" class="form-control"  value="{{address_1}}"
													placeholder="Enter  Name" readonly>
													
												</div>
											</div>
										<div class="col-xl-6">
												<div class="form-group">
													<label>Address Line 2</label>
												<input type="text" class="form-control"  value="{{address_2}}"
													placeholder="Enter  Name" readonly>
													
												</div>
											</div>
										</div>
											<div class="row validated">
											<div class="col-xl-6">
												<div class="form-group">
													<label>Town/Village</label>
												<input type="text" class="form-control"  value="{{city}}"
													placeholder="Enter  Name" readonly>
													
												</div>
											</div>
										<div class="col-xl-6">
												<div class="form-group">
													<label>Taluk</label>
												<input type="text" class="form-control"  value="{{taluk.name}}"
													placeholder="Enter  Name" readonly>
													
												</div>
											</div>
										</div>					
									<div class="row validated">
											<div class="col-xl-6">
												<div class="form-group">
													<label>District</label>
												<input type="text" class="form-control"  value="{{district.name}}"
													placeholder="Enter  Name" readonly>
													
												</div>
											</div>
										<div class="col-xl-6">
												<div class="form-group">
													<label>State</label>
												<input type="text" class="form-control"  value="{{state.name}}"
													placeholder="Enter  Name" readonly>
													
												</div>
											</div>
										</div>			
										<div class="row validated">
											<div class="col-xl-6">
												<div class="form-group">
													<label>County</label>
												<input type="text" class="form-control"  value="{{country.name}}"
													placeholder="Enter  Name" readonly>
													
												</div>
											</div>
										<div class="col-xl-6">
												<div class="form-group">
													<label>Pincode</label>
												<input type="text" class="form-control"  value="{{pincode}}"
													placeholder="Enter  Name" readonly>
													
												</div>
											</div>
										</div>			
										
										
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click')">Close</button>
			</div>
	
			</ng-template>
		 
		</div>
		</div>