.btntick{
    color:#0abb87;
 }
 .btnclose{
     color:#e7505a;
 }
 .btntick:hover{
     background:#0abb87;
 }
 .btnclose:hover{
     background:#e7505a
 }
 .icon-check:hover,.icon-close:hover{
     color:white !important;
 }
 .star {
     position: relative;
     display: inline-block;
     font-size: 1.5rem;
     color: #d3d3d3;
   }
   .full {
     color:#5d78ff;
   }
   .half {
     position: absolute;
     display: inline-block;
     overflow: hidden;
     color: #5d78ff;
   }
   .cimage{
     height:250px;
     width:100%;
   }
   .gifImage{
     height:265px;
     width:100%;
   }
   .calendar-matappend{
    border-right:1px solid #e2e5ec;
    border-top:1px solid #e2e5ec;
    border-bottom:1px solid #e2e5ec;
    margin-left: -1px;
    border-radius: .25rem;
    height:38px;
  }
  .calendar-matappend2{
    border-right:1px solid #e2e5ec;
    border-top:1px solid #e2e5ec;
    border-bottom:1px solid #e2e5ec;
    margin-left: -1px;
    border-radius: .25rem;
    height:39px;
  }
  .days-btn{
    border:none !important;
  }
  span.textbox {
    background-color: #FFF;
    color: #888;
    line-height:20px;
    height:20px;
    padding:3px;
    border:1px #888 solid;
    font-size:9pt;
}
  
span.textbox input {
    border: 0px;
    background-color: #FFF;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}