<mat-card>
  <mat-tab-group (selectedTabChange)="store_inspector_call()" >
  <mat-tab label="Merchanding Manger" ><kt-user-master></kt-user-master></mat-tab>
  <mat-tab label="Store Inspector"><kt-store-inspector-master></kt-store-inspector-master></mat-tab>
  <mat-tab label="Contractor / Vendor"><kt-contractor-vendor-master> </kt-contractor-vendor-master></mat-tab>
</mat-tab-group>
</mat-card>