<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header [title]="'View Reports'" [class]="'kt-portlet__head--lg'">

    </kt-portlet-header>
    <kt-portlet-body>
       
                    <div class="kt-form__section kt-form__section--first">
                        <div class="kt-wizard-v1__form">
                            <div class="kt-form__actions">
                                <div class="row kt-margin-b-30">
                                    <div class="col-xs-12 col-md-12 col-lg-12">
                                        <div class="kt-form__filtration">
                                            <div class="row align-items-center search-store">
                                                <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                                    <div class="kt-input-icon kt-input-icon--left">
                                                        <input type="text" class="form-control product-btn"
                                                            placeholder="Search..."
                                                            (keyup)="applyFilter($event.target.value)">
                                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                            <span><i class="la la-search"></i></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 kt-margin-b-20-tablet-and-mobile select_drp">
                                                    <div class="">
                                                        <div class="row align-items-center">
                                                            <div class="col-md-offset-2"></div>
                                                            <div class="col-md-4 pr-0">
                                                                <label class="mb-0 pull-right">Type:</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <select
                                                                    class="bootstrap-select form-control product-btn"
                                                                    (change)="typeChanged($event)">
                                                                    <option [ngValue]=0>All</option>
                                                                    <option *ngFor="let type of typesList"
                                                                        [ngValue]="type.audit_type">
                                                                        {{ type.audit_name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
                                [ngClass]="{'show' : selection.selected.length > 0}">
                                <!-- We show 'Group Actions' div if smth are selected -->
                                <div class="col-xl-12">
                                    <div class="kt-form__group kt-form__group--inline">
                                        <div class="kt-form__label kt-form__label-no-wrap">
                                            <label class="kt--font-bold kt-font-danger-">
                                                <span></span>
                                            </label>
                                            <!-- selectedCountsTitle => function from codeBehind (users-list.component.ts file) -->
                                            <!-- selectedCountsTitle => just returns title of selected items count -->
                                            <!-- for example: Selected records count: 4 -->
                                        </div>
                                        <div class="kt-form__control kt-form__group--inline">
                                            <!-- <button (click)="fetchRetails()" mat-raised-button matTooltip="Approve bulk records"
                                class="btn btn-outline-danger product-btn">
                                    <mat-icon>clear_all</mat-icon>
                                Bulk Approve
                              
                                </button>
                                <button (click)="fetchRetails()" mat-raised-button matTooltip="Reject bulk records"
                                class="btn btn-outline-danger product-btn ml-3">
                                    <mat-icon>clear_all</mat-icon>
                                Bulk Reject
                              
                                </button> -->
                                            <button type="button"
                                                class="btn btn-light-primary font-weight-bolder btn-pill"
                                                matTooltip="Bulk - Approve, Reject" [matMenuTriggerFor]="menu"
                                                #menuTrigger="matMenuTrigger"
                                                (mouseenter)="menuTrigger.openMenu()">Select an option
                                            </button>


                                            <mat-menu #menu="matMenu">
                                                <span (mouseleave)="menuTrigger.closeMenu()">
                                                    <button mat-menu-item color="primary">Bulk Approve</button>
                                                    <button type="submit" mat-menu-item color="primary"> Bulk
                                                        Reject</button>
                                                </span>
                                            </mat-menu>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="mat-elevation-z8"> -->
                            <div class="mat-table__wrapper brand-overflow">
                                <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort
                                    #sort1="matSort" matSortActive="ind" matSortDirection="asc" matSortDisableClear>
                                    <!-- <ng-container matColumnDef="select">
                                        <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"></mat-checkbox>
                                        </mat-cell> 
                                    </ng-container>-->
                                    <ng-container matColumnDef="s_no">
                                        <mat-header-cell style="max-width:70px" *matHeaderCellDef>S No</mat-header-cell>
                                        <mat-cell style="max-width:70px" *matCellDef="let be;let i = index">
                                            {{ (i+1) + (paginator.pageIndex * paginator.pageSize) }}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="audit_id">
                                        <mat-header-cell *matHeaderCellDef>Audit ID</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text">{{be.audit_list_s_no}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="retail_id">
                                        <mat-header-cell *matHeaderCellDef>Retailer</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text">{{be.retailer_id}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="start_date">
                                        <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span
                                                class="table-text">{{(be.audit_list[0].overall_audit_start_date * 1000) | date:'short'}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="end_date">
                                        <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span
                                                class="table-text">{{(be.audit_list[0].overall_audit_end_date * 1000) | date:'short'}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <!--  <ng-container matColumnDef="basic_info">
                                            <mat-header-cell *matHeaderCellDef>Basic Info</mat-header-cell>
                                            <mat-cell *matCellDef="let be">
                                                    <a class="nav-link" href="javascript:void(0);" (click)="viewBasicInfo()" matTooltip="View Basic Info">Basic Info</a>
                                                 
                                            </mat-cell>
                                    </ng-container>-->
                                    <ng-container matColumnDef="branding_elements">
                                        <mat-header-cell *matHeaderCellDef>Branding Elements</mat-header-cell>
                                        <mat-cell *matCellDef="let be;let i = index;">
                                            <button type="button" class="actions-btn iconMainTable"
                                                (click)="viewBEInfo((i) + (paginator.pageIndex * paginator.pageSize),'Branding Elements');openLarge(table,'xl');"
                                                matTooltip="View Branding Elements" mat-icon-button color="primary">
                                                <i class="flaticon2-list-2"></i></button>

                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="promo">
                                        <mat-header-cell *matHeaderCellDef>Promo Materials</mat-header-cell>
                                        <mat-cell *matCellDef="let be;let i = index;">
                                            <button type="button" class="actions-btn iconMainTable"
                                                (click)="viewPromoInfo((i) + (paginator.pageIndex * paginator.pageSize),'Promo Materials');openLarge(table,'xl');"
                                                matTooltip="View  Promo Materials" mat-icon-button color="primary">
                                                <i class="flaticon2-gift-1"></i></button>


                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="planogram">
                                        <mat-header-cell *matHeaderCellDef>Planogram</mat-header-cell>
                                        <mat-cell *matCellDef="let be;let i = index;">
                                            <button type="button" class="actions-btn iconMainTable"
                                                (click)="viewProInfo((i) + (paginator.pageIndex * paginator.pageSize),'Planogram');openLarge(table,'xl');"
                                                matTooltip="View Planogram" mat-icon-button color="primary">
                                                <i class="flaticon-map"></i></button>

                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="check_list">
                                        <mat-header-cell *matHeaderCellDef>Check List</mat-header-cell>
                                        <mat-cell *matCellDef="let be;let i = index;">
                                            <button type="button" class="actions-btn iconMainTable"
                                                (click)="viewCheckListInfo((i) + (paginator.pageIndex * paginator.pageSize),'Check List');openLarge(table,'xl');"
                                                matTooltip="View Check List" mat-icon-button color="primary">
                                                <i class="flaticon2-list-3"></i></button>

                                        </mat-cell>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="action">
                                            <mat-header-cell   *matHeaderCellDef>Actions</mat-header-cell>
                                            <mat-cell *matCellDef="let be;let i = index">
                                                    
                                                    <button class="btn btn-sm btn-clean btn-icon btntick" mat-icon-button 
                                    (click)="openModal(be);"
                                    matTooltip="Approved">
                                        <mat-icon class="icon-check">check</mat-icon>
                                    </button>
                                    <button class="btn btn-sm btn-clean btn-icon btnclose" mat-icon-button  (click)="deleteRetail(be.s_no)"
                                    matTooltip="Reject" type="button">
                                        <mat-icon class="icon-close">close</mat-icon>
                                    </button>
                                            </mat-cell>
                                    </ng-container> -->





                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                                </mat-table>
                                <div class="mat-table__message" *ngIf="dataSource.data.length===0">No records found
                                </div>

                                <!-- Message for empty data  -->
                                <!-- <div class="mat-table__message" *ngIf="loader===true">Please wait....</div> -->
                                <!-- start: BOTTOM -->
                                <div class="mat-table__bottom">

                                    <mat-paginator #paginator [length]="25" [pageSize]="5"
                                        [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                </div>
                                <!-- end: BOTTOM -->
                            </div>

                            <!-- </div> -->



                        </div>
                    </div>
                
    </kt-portlet-body>

    <!-- Modal Box -->


    <ng-template #table let-modal>
        <div class="modal-header">
            <h4 class="modal-title">{{modalTableTitle}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <span *ngIf="modalTableTitle1==='Branding Elements'">
                <div class="kt-form__section kt-form__section--first">
                    <div class="kt-wizard-v1__form">
                        <div class="kt-form__actions">
                            <div class="row kt-margin-b-30">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <div class="kt-form__filtration">
                                        <div class="row align-items-center search-store">
                                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                                <div class="kt-input-icon kt-input-icon--left">
                                                    <input type="text" class="form-control product-btn"
                                                        placeholder="Search..."
                                                        (keyup)="commonSer.applyFilter($event.target.value,dataSourceBE)">
                                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                        <span><i class="la la-search"></i></span>
                                                    </span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
                            [ngClass]="{'show' : selectionBE.selected.length > 0}">
                            <!-- We show 'Group Actions' div if smth are selected -->
                            <div class="col-xl-12">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label kt-form__label-no-wrap">
                                        <label class="kt--font-bold kt-font-danger-">
                                            <span></span>
                                        </label>

                                    </div>
                                    <div class="kt-form__control kt-form__group--inline">

                                        <button type="button" class="btn btn-light-primary font-weight-bolder btn-pill"
                                            matTooltip="Bulk - Approve, Reject" [matMenuTriggerFor]="menu"
                                            #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()">Select
                                            an option
                                        </button>


                                        <mat-menu #menu="matMenu">
                                            <span (mouseleave)="menuTrigger.closeMenu()">
                                                <button mat-menu-item color="primary">Bulk Approve</button>
                                                <button type="submit" mat-menu-item color="primary"> Bulk
                                                    Reject</button>
                                            </span>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mat-elevation-z8">
                            <div class="mat-table__wrapper brand-overflow">
                                <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSourceBE" matSort
                                    #sort1="matSort" matSortActive="ind" matSortDirection="asc" matSortDisableClear>
                                    <!-- <ng-container matColumnDef="select">
													<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
														<mat-checkbox (change)="$event ? masterToggleBE() : null"
														[checked]="selectionBE.hasValue() && isAllSelectedBE()"
														[indeterminate]="selectionBE.hasValue() && !isAllSelectedBE()"></mat-checkbox>
													</mat-header-cell>
													<mat-cell *matCellDef="let row" class="mat-column-checkbox">
														<mat-checkbox (click)="$event.stopPropagation()"
														(change)="$event ? selectionBE.toggle(row) : null" [checked]="selectionBE.isSelected(row)"></mat-checkbox>
													</mat-cell>
												</ng-container> -->
                                    <ng-container matColumnDef="s_no">
                                        <mat-header-cell *matHeaderCellDef>S No</mat-header-cell>
                                        <mat-cell *matCellDef="let be;let i = index">
                                            {{i+1}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="name">
                                        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text">{{be.name}}</span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="material">
                                        <mat-header-cell *matHeaderCellDef>Material</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text">{{be.material}}</span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="dimensions">
                                        <mat-header-cell *matHeaderCellDef>Dimension</mat-header-cell>
                                        <mat-cell *matCellDef="let be">

                                            <span class="table-text"
                                                *ngIf="be.dimension != 'null'">{{be.dimension}}</span>
                                            <span class="table-text" *ngIf="be.dimension == 'null'">NA</span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="measurement">
                                        <mat-header-cell *matHeaderCellDef>Measurements</mat-header-cell>
                                        <mat-cell *matCellDef="let be">

                                            <span class="table-text" *ngIf="be.dimension == 'null'">NA</span>
                                            <span class="table-text"
                                                *ngIf="be.dimension == '1-d'">{{be.measurement[0]}}</span>
                                            <span class="table-text" *ngIf="be.dimension == '2-d'">{{be.measurement[0]}}
                                                * {{be.measurement[1]}}</span>
                                            <span class="table-text" *ngIf="be.dimension == '3-d'">{{be.measurement[0]}}
                                                * {{be.measurement[1]}} * {{be.measurement[2]}}</span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="uom">
                                        <mat-header-cell *matHeaderCellDef>Unit of Measurement</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text" *ngIf="be['uom']!='null'">{{be.uom}}</span>
                                            <span class="table-text" *ngIf="be['uom']=='null'">NA</span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="actual_quantity">
                                        <mat-header-cell *matHeaderCellDef>Actual Quantity</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text">{{be.quantity}}</span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="quantity">
                                        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text">{{be.m_quantity}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="comments">
                                        <mat-header-cell *matHeaderCellDef>Comments</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text"
                                                *ngIf="be['description']!='null'|| be['desc']!=''">{{be.description}}</span>
                                            <span class="table-text"
                                                *ngIf="be['description']=='null'|| be['desc']==''">NA</span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="image">
                                        <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
                                        <mat-cell *matCellDef="let be;let i = index">
                                            <button class="btn btn-sm btn-clean btn-icon" mat-icon-button
                                                (click)="openmodal(mymodal);imageviewBE(i);" matTooltip="Approved"
                                                [disabled]="be.image.length==0">
                                                <mat-icon> insert_photo</mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="action">
                                        <mat-header-cell   *matHeaderCellDef>Actions</mat-header-cell>
                                        <mat-cell *matCellDef="let be;let i = index">
                                                
                                                <button class="btn btn-sm btn-clean btn-icon btntick" mat-icon-button 
                                (click)="openModal(be);"
                                matTooltip="Approved" >
                                    <mat-icon class="icon-check">check</mat-icon>
                                </button>
                                <button class="btn btn-sm btn-clean btn-icon btnclose  " mat-icon-button  (click)="deleteRetail(be.s_no)"
                                matTooltip="Reject" type="button">
                                    <mat-icon class="icon-check">close</mat-icon>
                                </button>
                                        </mat-cell>
                                
                                 </ng-container> -->

                                    <mat-header-row *matHeaderRowDef="displayedColumnsBrandingElements">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnsBrandingElements"></mat-row>
                                </mat-table>

                            </div>


                            <!-- start: BOTTOM -->
                            <div class="mat-table__bottom">
                                <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
                                <mat-spinner [diameter]="20" *ngIf="dataSourceBE.loading$ | async"></mat-spinner>
                                <!-- MATERIAL PAGINATOR | Binded to dasources -->
                                <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
                                <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5,10, 20]" [length]="totalSize"
                                    [pageIndex]="currentPage" (page)="pageEvent = page_chage($event,dataSourceBE.data)"
                                    [showFirstLastButtons]="true"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <span *ngIf="modalTableTitle1==='Promo Materials'">
                <div class="kt-form__section kt-form__section--first">
                    <div class="kt-wizard-v1__form">
                        <div class="kt-form__actions">
                            <div class="row kt-margin-b-30">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <div class="kt-form__filtration">
                                        <div class="row align-items-center search-store">
                                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                                <div class="kt-input-icon kt-input-icon--left">
                                                    <input type="text" class="form-control product-btn"
                                                        placeholder="Search..."
                                                        (keyup)="commonSer.applyFilter($event.target.value,dataSourcePromo)">
                                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                        <span><i class="la la-search"></i></span>
                                                    </span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
                            [ngClass]="{'show' : selectionPromo.selected.length > 0}">
                            <!-- We show 'Group Actions' div if smth are selected -->
                            <div class="col-xl-12">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label kt-form__label-no-wrap">
                                        <label class="kt--font-bold kt-font-danger-">
                                            <span></span>
                                        </label>

                                    </div>
                                    <div class="kt-form__control kt-form__group--inline">

                                        <button type="button" class="btn btn-light-primary font-weight-bolder btn-pill"
                                            matTooltip="Bulk - Approve, Reject" [matMenuTriggerFor]="menu"
                                            #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()">Select
                                            an option
                                        </button>


                                        <mat-menu #menu="matMenu">
                                            <span (mouseleave)="menuTrigger.closeMenu()">
                                                <button mat-menu-item color="primary">Bulk Approve</button>
                                                <button type="submit" mat-menu-item color="primary"> Bulk
                                                    Reject</button>
                                            </span>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mat-elevation-z8">
                            <div class="mat-table__wrapper brand-overflow">
                                <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSourcePromo" matSort
                                    #sort1="matSort" matSortActive="ind" matSortDirection="asc" matSortDisableClear>
                                    <!-- <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                                        <mat-checkbox (change)="$event ? masterTogglePromo() : null"
                                        [checked]="selectionPromo.hasValue() && isAllSelectedPromo()"
                                        [indeterminate]="selectionPromo.hasValue() && !isAllSelectedPromo()"></mat-checkbox>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionPromo.toggle(row) : null" [checked]="selectionPromo.isSelected(row)"></mat-checkbox>
                                    </mat-cell>
                                </ng-container> -->

                                    <ng-container matColumnDef="s_no">
                                        <mat-header-cell *matHeaderCellDef>S No</mat-header-cell>
                                        <mat-cell *matCellDef="let be;let i = index">
                                            {{i+1}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="product_category">
                                        <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text">{{be.category}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="name">
                                        <mat-header-cell *matHeaderCellDef>Name/Description</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text">{{be.name}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="actual_quantity">
                                        <mat-header-cell *matHeaderCellDef>Actual Quantity</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text">{{be.quantity}}</span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="quantity">
                                        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text">{{be.m_quantity}}</span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="comments">
                                        <mat-header-cell *matHeaderCellDef>Comments</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text"
                                                *ngIf="be['desc']!='null'|| be['desc']!=''">{{be.desc}}</span>
                                            <span class="table-text"
                                                *ngIf="be['desc']=='null'|| be['desc']==''">NA</span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="image">
                                        <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
                                        <mat-cell *matCellDef="let be;let i = index">
                                            <button class="btn btn-sm btn-clean btn-icon" mat-icon-button
                                                (click)="openmodal(mymodal);imageviewPromo(i);" matTooltip="Approved"
                                                [disabled]="be.image.length==0">
                                                <mat-icon> insert_photo</mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="action">
                    
                                        <mat-header-cell   *matHeaderCellDef>Actions</mat-header-cell>
                                        <mat-cell *matCellDef="let be;let i = index">
                                                
                                                <button class="btn btn-sm btn-clean btn-icon btntick" mat-icon-button 
                                (click)="openModal(be);"
                                matTooltip="Approved" >
                                    <mat-icon class="icon-check">check</mat-icon>
                                </button>
                                <button class="btn btn-sm btn-clean btn-icon btnclose  " mat-icon-button  (click)="deleteRetail(be.s_no)"
                                matTooltip="Reject" type="button">
                                    <mat-icon class="icon-check">close</mat-icon>
                                </button>
                                        </mat-cell>
                            
                                 </ng-container>                       -->




                                    <mat-header-row *matHeaderRowDef="displayedColumnsPromo"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnsPromo"></mat-row>
                                </mat-table>

                            </div>
                            <!-- start: BOTTOM -->
                            <div class="mat-table__bottom">
                                <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
                                <mat-spinner [diameter]="20" *ngIf="dataSourcePromo.loading$ | async"></mat-spinner>
                                <!-- MATERIAL PAGINATOR | Binded to dasources -->
                                <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
                                <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                                    [length]="totalSize" [pageIndex]="currentPage"
                                    (page)="pageEvent = page_chage($event,dataSourcePromo.data)"
                                    [showFirstLastButtons]="true"></mat-paginator>
                            </div>
                        </div>
                    </div>

                </div>
            </span>
            <span *ngIf="modalTableTitle1==='Planogram'">
                <div class="kt-form__section kt-form__section--first">
                    <div class="kt-wizard-v1__form">
                        <div class="kt-form__actions">
                            <div class="row kt-margin-b-30">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <div class="kt-form__filtration">
                                        <div class="row align-items-center search-store">
                                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                                <div class="kt-input-icon kt-input-icon--left">
                                                    <input type="text" class="form-control product-btn"
                                                        placeholder="Search..."
                                                        (keyup)="commonSer.applyFilter($event.target.value,dataSourceProductsDisplay)">
                                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                        <span><i class="la la-search"></i></span>
                                                    </span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
                            [ngClass]="{'show' : selectionPalno.selected.length > 0}">
                            <!-- We show 'Group Actions' div if smth are selected -->
                            <div class="col-xl-12">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label kt-form__label-no-wrap">
                                        <label class="kt--font-bold kt-font-danger-">
                                            <span></span>
                                        </label>
                                        <!-- selectedCountsTitle => function from codeBehind (users-list.component.ts file) -->
                                        <!-- selectedCountsTitle => just returns title of selected items count -->
                                        <!-- for example: Selected records count: 4 -->
                                    </div>
                                    <div class="kt-form__control kt-form__group--inline">
                                        <!-- <button (click)="fetchRetails()" mat-raised-button matTooltip="Approve bulk records"
                                                    class="btn btn-outline-danger product-btn">
                                                        <mat-icon>clear_all</mat-icon>
                                                    Bulk Approve
                                                  
                                                    </button>
                                                    <button (click)="fetchRetails()" mat-raised-button matTooltip="Reject bulk records"
                                                    class="btn btn-outline-danger product-btn ml-3">
                                                        <mat-icon>clear_all</mat-icon>
                                                    Bulk Reject
                                                  
                                                    </button> -->
                                        <button type="button" class="btn btn-light-primary font-weight-bolder btn-pill"
                                            matTooltip="Bulk - Approve, Reject" [matMenuTriggerFor]="menu"
                                            #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()">Select
                                            an option
                                        </button>


                                        <mat-menu #menu="matMenu">
                                            <span (mouseleave)="menuTrigger.closeMenu()">
                                                <button mat-menu-item color="primary">Bulk Approve</button>
                                                <button type="submit" mat-menu-item color="primary"> Bulk
                                                    Reject</button>
                                            </span>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mat-elevation-z8">
                            <div class="mat-table__wrapper brand-overflow">
                                <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSourceProductsDisplay"
                                    matSort #sort1="matSort" matSortActive="ind" matSortDirection="asc"
                                    matSortDisableClear>

                                    <ng-container *ngFor="let disCol of displayedColumnsProduct; let colIndex = index"
                                        matColumnDef="{{disCol}}">
                                        <span
                                            *ngIf=" disCol !== 'm_quantity' && disCol !== 'Quantity' && disCol !== 'desc' && disCol !== 'id' && disCol !== 'imagename'">
                                            <mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell>
                                        </span>
                                        <!-- <span *ngIf="disCol === 'select'  "> -->
                                        <!-- <mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell> -->
                                        <!-- <mat-header-cell *matHeaderCellDef >
                                                                <mat-checkbox (change)="$event ? masterTogglePalno() : null"
                                                                [checked]="selectionPalno.hasValue() && isAllSelectedPalno()"
                                                                [indeterminate]="selectionPalno.hasValue() && !isAllSelectedPalno()"></mat-checkbox>
                                                            </mat-header-cell> -->
                                        <!-- </span> -->
                                        <span *ngIf="disCol === 'm_quantity'">
                                            <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                                        </span>
                                        <span *ngIf="disCol === 'Quantity'">
                                            <mat-header-cell *matHeaderCellDef>Actual Quantity</mat-header-cell>
                                        </span>
                                        <span *ngIf="disCol === 'desc'">
                                            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                                        </span>
                                        <!-- <span *ngIf="disCol === 'id'">
                                                                <mat-header-cell *matHeaderCellDef ></mat-header-cell>
                                                            </span>
                                                            <span *ngIf="disCol === 'imagename'">
                                                                <mat-header-cell *matHeaderCellDef ></mat-header-cell>
                                                            </span> -->
                                        <mat-cell *matCellDef="let element;let i = index">
                                            <!-- <span class="table-text" *ngIf="disCol === 'select'">
                                                                    <mat-checkbox (click)="$event.stopPropagation()"
                                                                    (change)="$event ? selectionPalno.toggle(element) : null" [checked]="selectionPalno.isSelected(element)"></mat-checkbox>
                                                                </span> -->
                                            <span class="table-text"
                                                *ngIf="disCol === 's_no'  && disCol !== 'id' && disCol !== 'imagename'">
                                                {{i+1}}
                                            </span>

                                            <span class="table-text"
                                                *ngIf="disCol !== 's_no' && disCol !== 'image' && disCol !== 'id' && disCol !== 'imagename'">
                                                {{element[disCol]}}
                                            </span>
                                            <span class="table-text" *ngIf="disCol === 'image'">
                                                <button class="btn btn-sm btn-clean btn-icon" mat-icon-button
                                                    (click)="openmodal(mymodal);imageviewPlano(i);"
                                                    matTooltip="Approved" [disabled]="element[disCol].length==0">
                                                    <mat-icon> insert_photo</mat-icon>
                                                </button>
                                            </span>
                                            <span class="table-text" *ngIf="disCol == 'action'">
                                                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                                <!-- <mat-cell *matCellDef="let be;let i = index"> -->

                                                <button class="btn btn-sm btn-clean btn-icon btntick" mat-icon-button
                                                    (click)="openModal(be);" matTooltip="Approved">
                                                    <mat-icon class="icon-check">check</mat-icon>
                                                </button>
                                                <!-- <button class="btn btn-sm btn-clean btn-icon btnclose  " mat-icon-button
                                                    (click)="deleteRetail(be.s_no)" matTooltip="Reject" type="button">
                                                    <mat-icon class="icon-check">close</mat-icon>
                                                </button> -->
                                                <!-- </mat-cell> -->
                                            </span>

                                        </mat-cell>
                                    </ng-container>



                                    <mat-header-row *matHeaderRowDef="displayedColumnsProduct"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnsProduct"></mat-row>
                                </mat-table>
                                <div class="mat-table__message" *ngIf="dataSourceProductsDisplay.data.length===0"> No
                                    records found</div>
                                <!--  <div class="mat-table__message" *ngIf="allDataExcel1.length===0">No records found</div>-->
                                <!-- Message for empty data  -->
                                <!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
                            </div>
                            <!-- start: BOTTOM -->
                            <div class="mat-table__bottom">
                                <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
                                <mat-spinner [diameter]="20" *ngIf="dataSourceCheckList.loading$ | async"></mat-spinner>
                                <!-- MATERIAL PAGINATOR | Binded to dasources -->
                                <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
                                <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                                    [length]="totalSize" [pageIndex]="currentPage"
                                    (page)="pageEvent =page_chage($event,dataSourceProductsDisplay.data)"
                                    [showFirstLastButtons]="true"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>


            </span>

            <span *ngIf="modalTableTitle1==='Check List'">
                <div class="kt-form__section kt-form__section--first">
                    <div class="kt-wizard-v1__form">
                        <div class="kt-form__actions">
                            <div class="row kt-margin-b-30">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <div class="kt-form__filtration">
                                        <div class="row align-items-center search-store">
                                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                                <div class="kt-input-icon kt-input-icon--left">
                                                    <input type="text" class="form-control product-btn"
                                                        placeholder="Search..."
                                                        (keyup)="commonSer.applyFilter($event.target.value,dataSourceCheckList)">
                                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                        <span><i class="la la-search"></i></span>
                                                    </span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
                            [ngClass]="{'show' : selectionCheck.selected.length > 0}">
                            <!-- We show 'Group Actions' div if smth are selected -->
                            <div class="col-xl-12">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label kt-form__label-no-wrap">
                                        <label class="kt--font-bold kt-font-danger-">
                                            <span></span>
                                        </label>
                                        <!-- selectedCountsTitle => function from codeBehind (users-list.component.ts file) -->
                                        <!-- selectedCountsTitle => just returns title of selected items count -->
                                        <!-- for example: Selected records count: 4 -->
                                    </div>
                                    <div class="kt-form__control kt-form__group--inline">
                                        <!-- <button (click)="fetchRetails()" mat-raised-button matTooltip="Approve bulk records"
                                                    class="btn btn-outline-danger product-btn">
                                                        <mat-icon>clear_all</mat-icon>
                                                    Bulk Approve
                                                  
                                                    </button>
                                                    <button (click)="fetchRetails()" mat-raised-button matTooltip="Reject bulk records"
                                                    class="btn btn-outline-danger product-btn ml-3">
                                                        <mat-icon>clear_all</mat-icon>
                                                    Bulk Reject
                                                  
                                                    </button> -->
                                        <button type="button" class="btn btn-light-primary font-weight-bolder btn-pill"
                                            matTooltip="Bulk - Approve, Reject" [matMenuTriggerFor]="menu"
                                            #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()">Select
                                            an option
                                        </button>


                                        <mat-menu #menu="matMenu">
                                            <span (mouseleave)="menuTrigger.closeMenu()">
                                                <button mat-menu-item color="primary">Bulk Approve</button>
                                                <button type="submit" mat-menu-item color="primary"> Bulk
                                                    Reject</button>
                                            </span>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mat-elevation-z8">
                            <div class="mat-table__wrapper brand-overflow">
                                <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSourceCheckList" matSort
                                    #sort1="matSort" matSortActive="ind" matSortDirection="asc" matSortDisableClear>
                                    <!-- <ng-container matColumnDef="select">
                                            <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                                                <mat-checkbox (change)="$event ? masterToggleCheck() : null"
                                                [checked]="selectionCheck.hasValue() && isAllSelectedCheck()"
                                                [indeterminate]="selectionCheck.hasValue() && !isAllSelectedCheck()"></mat-checkbox>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                                                <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? selectionCheck.toggle(row) : null" [checked]="selectionCheck.isSelected(row)"></mat-checkbox>
                                            </mat-cell>
                                        </ng-container> -->
                                    <ng-container matColumnDef="s_no">
                                        <mat-header-cell *matHeaderCellDef>S No</mat-header-cell>
                                        <mat-cell *matCellDef="let be;let i = index">
                                            {{i+1}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="question">
                                        <mat-header-cell *matHeaderCellDef>Question</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text">{{be.desc}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="ans_category">
                                        <mat-header-cell *matHeaderCellDef>Answer Category</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text">{{be.answer_category}}</span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="complaince/desc">
                                        <mat-header-cell *matHeaderCellDef>Complaince/Rating</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            <span class="table-text"
                                                *ngIf="be['description']!='null'|| be['description']!=''">{{be.description}}</span>
                                            <span class="table-text" *ngIf="be['rating']>0">
                                                <ng-template #t let-fill="fill">
                                                    <span class="star" [class.full]="fill === 100">
                                                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                                    </span>
                                                </ng-template>
                                                <ngb-rating [(rate)]="be.rating" [starTemplate]="t" [readonly]="true"
                                                    [max]="5">

                                                </ngb-rating>
                                            </span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="image">
                                        <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
                                        <mat-cell *matCellDef="let be;let i = index">
                                            <button class="btn btn-sm btn-clean btn-icon" mat-icon-button
                                                (click)="openmodal(mymodal);imageviewCheck(i);" matTooltip="Approved"
                                                [disabled]="be.image.length==0">

                                                <mat-icon> insert_photo</mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="action">
                                                    <mat-header-cell   *matHeaderCellDef>Actions</mat-header-cell>
                                                    <mat-cell *matCellDef="let be;let i = index">
                                                            
                                                            <button class="btn btn-sm btn-clean btn-icon btntick" mat-icon-button 
                                            (click)="openModal(be);"
                                            matTooltip="Approved" >
                                                <mat-icon class="icon-check">check</mat-icon>
                                            </button>
                                            <button class="btn btn-sm btn-clean btn-icon btnclose  " mat-icon-button  (click)="deleteRetail(be.s_no)"
                                            matTooltip="Reject" type="button">
                                                <mat-icon class="icon-check">close</mat-icon>
                                            </button>
                                                    </mat-cell>
                                          
                                             </ng-container>                    -->



                                    <mat-header-row *matHeaderRowDef="displayedColumnsCheckList"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnsCheckList"></mat-row>
                                </mat-table>
                                
                                <!--  <div class="mat-table__message" *ngIf="allDataExcel1.length===0">No records found</div>-->
                                <!-- Message for empty data  -->
                                <!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
                            </div>
                            <!-- start: BOTTOM -->
                            <div class="mat-table__bottom">
                                <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
                                <mat-spinner [diameter]="20" *ngIf="dataSourceCheckList.loading$ | async"></mat-spinner>
                                <!-- MATERIAL PAGINATOR | Binded to dasources -->
                                <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
                                <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5,10, 20]" [length]="totalSize"
                                    [pageIndex]="currentPage"
                                    (page)="pageEvent =page_chage($event,dataSourceCheckList.data)"
                                    [showFirstLastButtons]="true"></mat-paginator>
                            </div>

                        </div>
                    </div>
                </div>
            </span>
           
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-pill btn-outline-secondary btn-sm btn_close"
                (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>



    <!-- IMAGE -->
    <ng-template #mymodal let-modal>

        <div class="modal-header">
            <h4 class="modal-title">{{imgName}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ngb-carousel id="carousel" #carouse *ngIf="data && imgLength >1" (slide)="change($event)" wrap="false">
                <ng-template *ngFor="let imgIdx of data; let i = index" [id]="i" ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="imgIdx.image" [alt]="" class="img-responsive cimage image-wrapper"
                            [ngStyle]="{visibility:isLoading?'hidden':''}" (load)="hideLoader()" (error)="hideLoader()">
                    </div>
                    <div class="carousel-caption">
                        <h3 color="primary">{{imgIdx.head}}</h3>
                        <p>{{imgIdx.data}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
            <div *ngIf="data && imgLength==1">
                <div class="picsum-img-wrapper">
                    <img [src]="data[0].image" [alt]="" class="img-responsive cimage"
                        [ngStyle]="{visibility:isLoading?'hidden':''}" (load)="hideLoader()" (error)="hideLoader()">
                </div>
                <div class="carousel-caption">
                    <h3 color="primary">{{data[0].head}}</h3>
                    <p>{{data[0].data}}</p>
                </div>
            </div>
            <div [ngStyle]="{position:'absolute',top:'0px'}"  *ngIf="isLoading" class="testing">
                <img class="gifImage" [src]="loader" />
            </div>

        </div>
        <div class="modal-footer">
            Number images ({{imgNumber}}/{{imgLength}})
        </div>

    </ng-template>




</kt-portlet>