.btntick{
   color:#0abb87;
}
.btnclose{
    color:#e7505a;
}
.btntick:hover{
    background:#0abb87;
}
.btnclose:hover{
    background:#e7505a
}
.icon-check:hover,.icon-close:hover{
    color:white !important;
}
.star {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: #d3d3d3;
  }
  .full {
    color:#5d78ff;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #5d78ff;
  }
  .cimage{
    height:250px;
    width:100%;
  }
  .gifImage{
    height:265px;
    width:100%;
  }
  