.cdk-overlay-connected-position-bounding-box {
  z-index: 1000 !important;
}
.placeholder-bf{
font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: white !important;
}
.product-btn{
  border-radius:2rem;
  margin-right:10px;
}
.search-work{
  flex-direction: row-reverse;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.search-input label span{
font-size:25px;
}
.work-search{
margin:0px;
}
.storecategory-table
{
margin-top:20px;
}
.search-input{
height: 35px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  background: #F4F6F9;
  padding-left: 20px;
  border: 1px solid rgba(76, 87, 102, .1);
  width:70%;
  //margin-left:40px;
  margin-left:31%;
}
// .work-table{
// // width:80%;
// //margin:0 auto;
// overflow-x:hidden !important;
// }
.search-work div{
margin-right:10px;
}
.search-input:focus{
outline:none !important;
}
.actions-btn{
width:30px;
}
.header-cell{
  padding: 0 1rem;
}
.action-cell{
  padding: 0 0.3rem;
}
mat-header-cell{
  color:black;
 }
 .overall-spacing{
     margin:2rem 0;	
}
// .mat-cell:nth-child(1),
// .mat-header-cell:nth-child(1){
//   flex: 0 0 10%;
// }
// .mat-cell:nth-child(5),
// .mat-header-cell:nth-child(5){
//  flex: 0 0 10%;
// }
