
	
<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header [title]="'Work Category'" [class]="'kt-portlet__head--lg'" >
		

<ng-container ktPortletTools>
			 <input hidden type="file" #uploader
          (change)="onFileChange($event,contentSmallAlert)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" multiple="false"/>
      <button type="button" class="btn btn-light-primary font-weight-bolder btn-pill" matTooltip="Excel - Upload, Download" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()">Export
              </button>
          <!-- <button (click)="openCentred(content10)" mat-raised-button color="primary" matTooltip="Create New Category">New</button> -->
  
              <mat-menu #menu="matMenu">
								  <span (mouseleave)="menuTrigger.closeMenu()">
                  <!--	<button mat-menu-item color="primary" (click)="sample()">Sample File</button>-->
				  <button mat-menu-item color="primary" (click)="downloadFile()">Sample File</button>
                    <button type="submit" mat-menu-item color="primary" (click)="uploader.click()">Upload File</button>
					<button mat-menu-item  *ngIf="allDataExcel.length>0" color="primary" (click)="export()">Download File</button>
				</span>
                  </mat-menu>
		
			<button [routerLink]="" class="btn btn-light-primary font-weight-bolder ml-2 btn-pill" color="primary" (click)="openCentred(content10)">Add Category</button>
			<!--<button type="button" mat-raised-button color="primary" (click)="uploader.click()" matTooltip="Import Excel Sheet"><i
				class="fa fa-upload" aria-hidden="true"></i>Upload</button>-->
				<input hidden type="file" #uploader (change)="onFileChange($event)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" multiple="false"/>

		<!--<button mat-raised-button color="primary" (click)="export()" matTooltip="Export Database"><i
				class="fa fa-download"></i>Download </button>-->


			<!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
			<!-- mat-raised-button | Rectangular contained button w/ elevation  -->
			<!-- <div ngbDropdown class="d-inline-block dropdown"  >
          <button id="dropdownBasic1" ngbDropdownToggle class="btn btn-outline-primary product-btn" >Action</button>
          <div  class="dropdown-menu dropdown-menu-fit" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Sample Template</button>
            <button class="dropdown-item">Upload</button>
            <button class="dropdown-item">Dowload</button>
          </div>
        </div> -->
        
        
        
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<!-- start::Body (attribute: ktPortletBody) -->
	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="kt-form">
			<!-- start::FILTERS -->
			<div class="kt-form__filtration work-search">
				<div class="row align-items-center search-work">
						<div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
								<div class="kt-input-icon kt-input-icon--left">
									<input type="text" class="form-control product-btn" placeholder="Search..."  (keyup)="applyFilter($event.target.value)">
									<span class="kt-input-icon__icon kt-input-icon__icon--left">
										<span><i class="la la-search"></i></span>
									</span>
								</div>
							</div>
					<!-- <div class="col-md-3 kt-margin-bottom-10-mobile"> -->
						<!-- <mat-form-field class="mat-form-field-fluid search-input"> -->
							<!-- <input matInput  #searchInput placeholder="Search in all fields"  (keyup)="applyFilter($event.target.value)"> -->
							<!-- <input   class="search-input" #searchInput placeholder="Search in all fields"  (keyup)="applyFilter($event.target.value)"> -->
							<!-- <mat-hint align="start">
								<strong>Search</strong> in all fields
							</mat-hint> -->
						<!-- </mat-form-field> -->
					<!-- </div> -->
				</div>
			</div>
			<!-- end::FILTERS -->
			
    


			<!-- start::GROUP ACTIONS -->
			<!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
			<!-- Group actions are shared for all LISTS -->
			<div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
				[ngClass]="{'show' : selection.selected.length > 1}"><!-- We show 'Group Actions' div if smth are selected -->
				<div class="col-xl-12">
					<div class="kt-form__group kt-form__group--inline">
						<!-- <div class="kt-form__label kt-form__label-no-wrap">
							<label class="kt--font-bold kt-font-danger-">
								<span translate="ECOMMERCE.COMMON.SELECTED_RECORDS_COUNT"></span> {{ selection.selected.length }} -->
							<!-- </label> -->
							<!-- selectedCountsTitle => function from codeBehind (users-list.component.ts file) -->
							<!-- selectedCountsTitle => just returns title of selected items count -->
							<!-- for example: Selected records count: 4 -->
						<!-- </div> -->
						<div class="kt-form__control kt-form__group--inline">
							<button (click)="fetchUsers()" mat-raised-button matTooltip="Fetch selected users"  class="btn btn-outline-danger product-btn">
								<mat-icon>clear_all</mat-icon>
								Bulk delete
							</button>
							{{ selection.selected.length }} Records
						</div>
					</div>
				</div>
			</div>
			<!-- end::GROUP ACTIONS -->
		</div>
		<!-- end::FILTERS & GROUP ACTIONS -->

		<!-- MATERIAL TABLE | Binded to datasources -->
		<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
		<!-- <div class="mat-elevation-z8 storecategory-table">																																																																																																																																																																																									 -->
		<div class="mat-table__wrapper work-table">
			<mat-table class="lmat-elevation-z8"
				#table
				[dataSource]="dataSource"
				matSort
				#sort1="matSort"
				matSortActive="id"
				matSortDirection="asc"
				matSortDisableClear>
				<!-- Checkbox Column -->

				<!-- Table with selection -->
				<!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
				<ng-container matColumnDef="select">
      <mat-header-cell style="max-width:100px" *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell style="max-width:100px" *matCellDef="let  row">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

				<ng-container matColumnDef="s_no">
					<!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
					<mat-header-cell class="max-one"  *matHeaderCellDef mat-sort-header>S.No</mat-header-cell>
					<mat-cell  class="max-one" *matCellDef="let row;let i = index">{{ this.paginator.pageIndex == 0 ?  i+1 : (i +1)+ this.paginator.pageIndex * this.paginator.pageSize}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="category">
					<mat-header-cell   *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
					<mat-cell      *matCellDef="let row">{{row.category}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="work_name">
					<mat-header-cell    *matHeaderCellDef mat-sort-header >Name</mat-header-cell>
					<mat-cell      *matCellDef="let row" >
					{{row.work_name}}
					</mat-cell>
				</ng-container>
				<ng-container   matColumnDef="actions">
					<mat-header-cell     *matHeaderCellDef>Actions</mat-header-cell>
					<mat-cell     *matCellDef="let row">
						<button class="btn btn-sm btn-clean btn-icon" (click)="editUser(row,content9)" mat-icon-button  matTooltip="Edit user">
							<mat-icon>create</mat-icon>
						</button>
						<button class="btn btn-sm btn-clean btn-icon" mat-icon-button  matTooltip="Delete user" type="button" (click)="deletework(row)">
							<mat-icon>delete</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<div class="mat-table__message" *ngIf="dataSource.data.length === 0">No records found</div><!-- Message for empty data  -->
			<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<!-- MATERIAL PAGINATOR | Binded to dasources -->
			<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
			<mat-paginator  #paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
		</div>
		<!-- </div> -->
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>
<div class="kt-section ">
	<div class="kt-section__content">
	  <ng-template #content8 let-c="close" let-d="dismiss">
		<div class="modal-header">
		  <h4 class="modal-title">Add work Category</h4>
		  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
<form  enctype="multipart/form-data" method="post" (ngSubmit)="add_work_master()"
			novalidate="" class="ng-untouched ng-pristine ng-valid">
		<div class="modal-body" >

        <button type="button"  mat-icon-button color="primary" matTooltip="Edit user" (click)="addAddress()"> <mat-icon>add</mat-icon></button>
     
      <p class="container border mb-4 p-3" *ngFor="let category of categorys; let i = index;">

              Category {{i + 1}}:
         <input type="text" [(ngModel)]="category.name" name="category">
              <button type="button"  mat-icon-button color="primary" matTooltip="Edit user" (click)="removeAddress(i)"><mat-icon>indeterminate_check_box</mat-icon></button>
         </p>      
         
      
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click')">Close</button>
		  <button type="submit" class="btn btn-outline-success btn-pill custom-btn" >Save changes</button>
		</div>
</form>
	  </ng-template>
	 
	</div>
  </div>
  <!-- End Modal - ->
<!-- Edit modal -->

<div class="kt-section ">
	<div class="kt-section__content">
	  <ng-template #content9 let-c="close" let-d="dismiss">
		<div class="modal-header">
		  <h4 class="modal-title">Edit Work Category</h4>
		  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
<form [formGroup]="Edit_Name_form" enctype="multipart/form-data" method="post" (ngSubmit)="edit_work_master()"
			novalidate="" class="ng-untouched ng-pristine ng-valid">
		<div class="modal-body" >
				<div class="overall-spacing">
			 <div class="row validated">
<label class="control-label col-lg-2">Category</label>
 <div class="col-lg-9">
<input type="text" class="form-control"  formControlName="category"  Readonly>
 </div></div>
<br><br>
<div class="row validated">
<label class="control-label col-lg-2">Name</label>
   <div class="col-lg-9">
<input type="text" class="form-control" formControlName="work_name" placeholder="Enter Category Name" (change)="duplicate()">
 <div *ngIf="editlog.work_name.errors && (editlog.work_name.dirty || editlog.work_name.touched)" class="m-b-10 error">
  <div *ngIf="editlog.work_name.errors.required"> <span class="invalid-feedback">Category name is required</span></div>
</div>
<div *ngIf="cond"><span class="invalid-feedback" >Category name is already Exist.!</span></div>

 </div>
  </div>
			
						
		</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click')">Close</button>
		  <button type="submit" class="btn btn-outline-success btn-pill custom-btn" [disabled]="!Edit_Name_form.valid">Save changes</button>
		</div>
</form>
	  </ng-template>
	 
	</div>
  </div>
  <!-- End Modal -->
<div class="kt-section ">
	<div class="kt-section__content">
	  <ng-template #content10 let-c="close" let-d="dismiss">
		<div class="modal-header">
		  <h4 class="modal-title">Add Category</h4>
		  <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset();">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
<form  [formGroup]="Name_form" enctype="multipart/form-data" method="post" (ngSubmit)="add_work_master()" novalidate="" class="ng-untouched ng-pristine ng-valid">
<div class="modal-body" >
	  <div class="overall-spacing">
<div class="row validated">
<label class="control-label col-lg-2">Category</label>
 <div class="col-lg-9">
<input type="text" class="form-control"  value="Category {{str_id}}" Readonly>
 </div></div>
<br><br>
<div class="row validated">
<label class="control-label col-lg-2">Name</label>
   <div class="col-lg-9">
<input type="text" class="form-control" formControlName="work_name" placeholder="Enter Category Name" id="work_name" (change)="duplicate()">
 <div *ngIf="log.work_name.errors && (log.work_name.dirty || log.work_name.touched)" class="m-b-10 error">
  <div *ngIf="log.work_name.errors.required"> <span class="invalid-feedback">Category name is required</span></div>
</div>
<div *ngIf="cond"><span class="invalid-feedback" >Category name is already Exist.!</span></div>
 </div>
  </div>
</div>
</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click');reset();">Close</button>
		  <button type="submit" class="btn btn-outline-success btn-pill custom-btn" >Save changes</button>
		</div>
</form>
	  </ng-template>
	 
	</div>
  </div>

 

