button.mat-raised-button.mat-button-base.mat-primary {
  margin-left: 3px;
}
.uom{
 line-height: 1.5 !important;
 
}
.checkbox{
  font-size:13px !important;
 font-weight:300;
 font-family: Poppins, Helvetica, sans-serif;
}
.u_o_m{
  width:113px;
}
.drop_disabled{
  // cursor: not-allowed !important;
   pointer-events: none !important;
 }
 .check_box_hide{
   display: none !important;
  
 }
 .check_box_show{
  display: flex !important;
 
}
//saranya css
.productnew-btn{
  border-radius:2rem;
  margin-left:10px;
}
.brand-warning{
  white-space: pre-line;
}
/*.application-checked{
  display:inherit;
  margin-top:15px;
}*/
.form-body .row{
 display: flex;
 flex-wrap: wrap;
//  row-gap: 20px;
}
.form-body label{
 flex: 1 1 auto;
 width: 100px;
 height: 30px;
}
mat-header-cell{
 color:black;
}
.warn-color{
  color:#48465b;
}
.header-action{
  //justify-content:center;
  padding: 0 2rem;
}
.brading-delete{
  margin-left:-10px;
}
.header-cell{
  padding:0 1rem;
}
