<kt-portlet [class]="'kt-portlet--height-fluid'">
        <kt-portlet-header [title]="'Branding Elements'" [class]="'kt-portlet__head--lg'">
            <ng-container ktPortletTools>
                <button type="button" 
                class="btn btn-light-primary font-weight-bolder btn-pill"  matTooltip="Excel - Upload, Download"
                    [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()">Export
                </button>
                <button class="btn btn-light-primary font-weight-bolder ml-2 btn-pill" (click)="assignType('new',s_no);openLarge(add_be)"
                    color="primary">New
                    Branding Element</button>
                <input hidden type="file" #uploader (change)="onFileChange($event,contentSmallAlert)"
                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    multiple="false" />
                <mat-menu #menu="matMenu">
                        <span (mouseleave)="menuTrigger.closeMenu()">
                    <button mat-menu-item color="primary" (click)="export('sample')">Sample File</button>
                    <button type="submit" mat-menu-item color="primary" (click)="uploader.click()">Upload File</button>
                    <button mat-menu-item color="primary" *ngIf="allDataExcel1.length>0" (click)="export('db')">Download
                        File</button>
                        </span>
                </mat-menu>
            </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <div class="kt-form__actions">
                <div class="row kt-margin-b-30">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="kt-form__filtration">
                            <div class="row align-items-center search-store">


                                    <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                            <div class="kt-input-icon kt-input-icon--left">
                                              <input type="text" class="form-control product-btn" placeholder="Search..."  (keyup)="applyFilter($event.target.value)">
                                              <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                <span><i class="la la-search"></i></span>
                                              </span>
                                            </div>
                                          </div>
                                <!-- <div class="col-xs-3 col-md-3 col-lg-3 kt-margin-bottom-10-mobile"> -->
                                    <!-- <mat-form-field class="mat-form-field-fluid"><input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search"><mat-hint align="start"><strong>Search</strong> in all fields
                                                </mat-hint></mat-form-field> -->
                                    <!-- <input class="search-input" #searchInput placeholder="Search in all fields"
                                        (keyup)="applyFilter($event.target.value)"> -->
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- start::GROUP ACTIONS -->
                <!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
                <!-- Group actions are shared for all LISTS -->
                <div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
                [ngClass]="{'show' : selection.selected.length > 0}">
                    <!-- We show 'Group Actions' div if smth are selected -->
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label kt-form__label-no-wrap">
                                <label class="kt--font-bold kt-font-danger-">
                                    <span></span>
                                </label>
                                <!-- selectedCountsTitle => function from codeBehind (users-list.component.ts file) -->
                                <!-- selectedCountsTitle => just returns title of selected items count -->
                                <!-- for example: Selected records count: 4 -->
                            </div>
                            <div class="kt-form__control kt-form__group--inline">
                                <button (click)="fetchUsers()" mat-raised-button matTooltip="Delete bulk records"
                                class="btn btn-outline-danger product-btn">
                                    <mat-icon>clear_all</mat-icon>
                                Bulk Delete
                            
                                </button>
                                {{ selection.selected.length }} Records
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end::GROUP ACTIONS -->
                <!-- end::FILTERS & GROUP ACTIONS -->
                <!-- MATERIAL TABLE | Binded to datasources -->
                <!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
                <!-- <div class="mat-elevation-z8"> -->
                    <div class="mat-table__wrapper brand-overflow">
                        <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
                        matSortActive="ind" matSortDirection="asc" matSortDisableClear>
                            <ng-container matColumnDef="select">
                                <mat-header-cell  style="max-width:70px" *matHeaderCellDef class="mat-column-checkbox">
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
                                </mat-header-cell>
                                <mat-cell  style="max-width:70px" *matCellDef="let row" class="mat-column-checkbox">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"></mat-checkbox>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="ind">
                                <!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
                                <mat-header-cell style="max-width:70px"  *matHeaderCellDef>S.No</mat-header-cell>
                                <mat-cell  style="max-width:70px" *matCellDef="let be;let i = index">
                                {{paginator.pageIndex * paginator.pageSize + i + 1}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="idd">
                                <mat-header-cell  style="max-width:70px" *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                                <mat-cell style="max-width:70px" *matCellDef="let be">
                                    <span class="table-text">{{be.idd}}</span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <mat-header-cell class="custom-matcolumns" *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                <mat-cell class="custom-matcolumns" *matCellDef="let be">
                                    <span class="table-text">{{be.name}}</span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="material">
                                <mat-header-cell class="custom-matcolumns" *matHeaderCellDef mat-sort-header>Material</mat-header-cell>
                                <mat-cell class="custom-matcolumns" *matCellDef="let be">
                                    <span class="table-text">{{be.material}}</span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="dimensions">
                                <mat-header-cell class="custom-matcolumns" *matHeaderCellDef mat-sort-header>Dimension</mat-header-cell>
                                <mat-cell class="custom-matcolumns" *matCellDef="let be">
                                        <span *ngIf="be['dimensions']=='null'" class="table-text">NA</span>
                                        <span *ngIf="be['dimensions']!='null'" class="table-text">{{be.dimensions}}</span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="measurement">
                                    <mat-header-cell class="custom-matcolumns" *matHeaderCellDef mat-sort-header>Measurement</mat-header-cell>
                                    <mat-cell class="custom-matcolumns" *matCellDef="let be">
                                            <span *ngIf="be['dimensions']=='null'" class="table-text">NA</span>
                                        <span *ngIf="be['dimensions']==='1-d'" class="table-text">{{be.length}}</span>
                                        <span *ngIf="be['dimensions']==='2-d'" class="table-text">{{be.length}} * {{be.height}}</span>
                                        <span *ngIf="be['dimensions']==='3-d'" class="table-text">{{be.length}} * {{be.height}} * {{be.width}}</span>

                                    </mat-cell>
                                </ng-container>
                            <ng-container matColumnDef="uom">
                                <mat-header-cell class="custom-matcolumns" *matHeaderCellDef mat-sort-header>
                                    <span class="u_o_m">Unit of
                                    Measurement</span>
                                </mat-header-cell>
                                <mat-cell class="custom-matcolumns" *matCellDef="let be">
                                    <span *ngIf="be['uom']=='null'" class="table-text">NA</span>
                                    <span *ngIf="be['uom']!='null'" class="table-text">{{be.uom}}</span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <mat-header-cell class="header-action" *matHeaderCellDef>Actions</mat-header-cell>
                                <mat-cell class="header-cell" *matCellDef="let be">
                                    <button  class="btn btn-sm btn-clean btn-icon" mat-icon-button 
                                    (click)="assignType('edit',be.s_no);editBE(be.s_no,add_be)"
                                    matTooltip="Edit Branding Element">
                                        <mat-icon>create</mat-icon>
                                    </button>
                                    <button  class="btn btn-sm btn-clean btn-icon" mat-icon-button  (click)="deleteBE(be.s_no)"
                                    matTooltip="Delete Branding Element" type="button">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                        </mat-table>
                        <div class="mat-table__message" *ngIf="allDataExcel1.length===0">No records found</div>
                        <!-- Message for empty data  -->
                        <!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
                    </div>
                    <!-- start: BOTTOM -->
                    <div class="mat-table__bottom">
                        <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
                        <!--	<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>-->
                        <!-- MATERIAL PAGINATOR | Binded to dasources -->
                        <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
                        <!--	<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>-->
                        <mat-paginator #paginator [length]="25" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons></mat-paginator>
                    </div>
                    <!-- end: BOTTOM -->
                <!-- </div> -->
            </kt-portlet-body>
            <ng-template #add_be let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">{{modalTitle}}</h4> 
                
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" [formGroup]="branding_elements">
                        <div class="form-body">
                            <div class="row validated">
                                <!--  <div class="form-group validated">-->
                                <label class="control-label col-lg-3">ID</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" formControlName="be_id"
                                        placeholder="Enter Branding Element ID">
                                        <div *ngIf="isControlHasError('be_id','required')">
                                            <span class="invalid-feedback">Branding Element ID is Required.</span>
                                        </div>
                                        <div *ngIf="dupId===true">
                                            <span class="invalid-feedback">Branding Element ID Already Exist.</span>
                                        </div>
                                    </div>
                                    <!-- </div>-->
                                </div>
                                <br>
                                    <div class="row validated">
                                        <!--  <div class="form-group validated">-->
                                        <label class="control-label col-lg-3">Name</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" formControlName="be_name"
                                        placeholder="Enter Branding Element Name">
                                                <div *ngIf="isControlHasError('be_name','required')">
                                                    <span class="invalid-feedback">Branding Element Name is Required.</span>
                                                </div>
                                            </div>
                                            <!-- </div>-->
                                        </div>
                                        <br>
                                            <div class="row validated">
                                                <!--  <div class="form-group validated">-->
                                                <label class="control-label col-lg-3">Material</label>
                                                <div class="col-lg-9">
                                                    <input type="text" class="form-control" formControlName="be_material"
                                        placeholder="Enter Branding Element Material">
                                                        <div *ngIf="isControlHasError('be_material','required')">
                                                            <span class="invalid-feedback">Branding Element Material is Required.</span>
                                                        </div>
                                                    </div>
                                                    <!-- </div>-->
                                                </div>
                                                <br>
                                                    <!--   <div class="row validated uom" [ngClass]="{'check_box_hide' : showCheckbox===false,'check_box_show' : showCheckbox===true}" *ngIf="showCheckbox===true">-->
                                                    <div class="row validated uom" *ngIf="showCheckbox===true">
                                                        <label class="control-label col-lg-3">Unit Of Measurement</label>
                                                        <div class="col-lg-9">
                                                            <mat-checkbox class="checkbox" (change)="checkBoxClicked($event)" [(ngModel)]="checked"
                                        [ngModelOptions]="{standalone: true}">Applicable</mat-checkbox>
                                                        </div>
                                                    </div>
                                                    <div class="row validated uom">
                                                        <label class="control-label col-lg-3" *ngIf="showCheckbox===false">Unit of
                                    Measurement</label>
                                                        <label class="control-label col-lg-3" *ngIf="checked===true && showCheckbox===true"></label>
                                                        <div class="col-lg-9">
                                                            <label *ngIf="checked===false && showCheckbox===false">Not Available</label>
                                                            <span [ngClass]="{'application-checked' : checked===true}" *ngIf="checked===true">
                                                                <select class="form-control" formControlName="be_uom">
                                                                    <option [ngValue]="null" disabled>Select Unit of Measurement</option>
                                                                    <option *ngFor="let type of be_uom" [ngValue]="type">
                                                {{ type.viewValue }}
                                            </option>
                                                                </select>
                                                                <div *ngIf="branding_elements.get('be_uom').invalid && (branding_elements.get('be_uom').dirty || branding_elements.get('be_uom').touched)">
                                                                    <span class="invalid-feedback"
                                                *ngIf="branding_elements.get('be_uom').errors.required">
                                                Unit of Measurement is Required.
    
                                            </span>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <br>
                                                        <div class="row validated">
                                                                <label class="control-label col-lg-3" *ngIf="checked===true && showCheckbox===true">Dimension</label>
                                                            <label class="control-label col-lg-3" *ngIf="showCheckbox===false">Dimension</label>
                                                            <!--<label class="control-label col-lg-3" *ngIf="checked===true && showCheckbox===true"></label>-->
                                                            <div class="col-lg-9">
                                                                    <label *ngIf="checked===false && showCheckbox===false">Not Available</label>
                                                                    <span [ngClass]="{'application-checked' : checked===true}" *ngIf="checked===true">
                                                                    <select class="form-control" formControlName="be_dim" (change)="dimensionChanged(be_dim[$event.target.selectedIndex-1])">
                                                                    <option [ngValue]="null" disabled>Select Dimension</option>
                                                                    <option *ngFor="let type of be_dim" [ngValue]="type">
                                            {{ type.viewValue }}
                                        </option>
                                                                </select>
                                                                <div *ngIf="branding_elements.get('be_dim').invalid && (branding_elements.get('be_dim').dirty || branding_elements.get('be_dim').touched)">
                                                                    <span class="invalid-feedback"
                                            *ngIf="branding_elements.get('be_dim').errors.required">
                                            Dimension is Required.
    
                                        </span>
                                                                </div>
                                                            </span>
                                                            </div>
                                                            <!--   </div>-->
                                                        </div>
                                                        <br>
                                                            <div class="row validated" *ngIf="checked===true">
                                                                <label class="control-label col-lg-3"></label>
                                                                <div class="col-lg-3" *ngIf="(dimType === '1-d' || dimType === '2-d' || dimType === '3-d')">
                                                                    <input type="number" class="form-control" formControlName="be_l"
                                            placeholder="Enter Length" min="0">
                                                                        <div *ngIf="branding_elements.get('be_l').invalid && (branding_elements.get('be_l').dirty || branding_elements.get('be_l').touched)">
                                                                            <span class="invalid-feedback"
                                                        *ngIf="branding_elements.get('be_l').errors.required">
                                                        Dimension Length is Required.
                
                                                    </span>
                                             <!--       <span class="invalid-feedback"
                                                        *ngIf="branding_elements.get('be_l').errors.pattern">
                                                        Only Number is Required.
                
                                                    </span>-->
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3" *ngIf="(dimType === '2-d' || dimType === '3-d')">
                                                                        <input type="number" class="form-control" formControlName="be_h"
                                                placeholder="Enter Length,Height" min="0">
                                                                            <div *ngIf="branding_elements.get('be_h').invalid && (branding_elements.get('be_h').dirty || branding_elements.get('be_h').touched)">
                                                                                <span class="invalid-feedback"
                                                            *ngIf="branding_elements.get('be_h').errors.required">
                                                            Dimension Height is Required.
                    
                                                        </span> 
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-3" *ngIf="dimType === '3-d'">
                                                                            <input type="number" class="form-control" formControlName="be_w"
                                                    placeholder="Enter Length,Height,Width" min="0">
                                                                                <div *ngIf="branding_elements.get('be_w').invalid && (branding_elements.get('be_w').dirty || branding_elements.get('be_w').touched)">
                                                                                    <span class="invalid-feedback"
                                                                *ngIf="branding_elements.get('be_w').errors.required">
                                                                Dimension Width is Required.
                        
                                                            </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click')">Close</button>
                                                                    <button class="btn btn-outline-success btn-pill custom-btn" (click)="onSubmitBrandingelements(content7,contentSmallAlert)">Save
                    changes</button>
                                                                </div>
                                                            </ng-template>
                                                            <ng-template #contentSmallAlert let-c="close" let-d="dismiss">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title warn-color">Warning Message</h4>
                                                                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p class="brand-warning">
                    {{alertMessage}}
                </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Ok</button>
                                                                </div>
                                                            </ng-template>
                                                        </kt-portlet>