    <mat-card-header>
        <!--<mat-card-title style="color:white;">
            Loading...
        </mat-card-title>-->
    </mat-card-header>
    <mat-card-content>
        <mat-progress-spinner diameter=60 mode="indeterminate"  color="accent"></mat-progress-spinner>
    </mat-card-content>


<!-- <div class="overlay">
	<div class="center">
	 
	<div *ngIf="showSpinner" >Loading ...</div>
	</div>
    </div> -->
    

    