<mat-card>
<mat-tab-group>
  <mat-tab label="Personal Information">
  <!--<kt-portlet>-->
  <kt-portlet-body>
 <!-- <form class="kt-form" id="kt_form">
<div class="kt-form__section kt-form__section--first">
									<div class="kt-wizard-v1__form enter-basics">
									<div class="row validated"> 
											<div class="col-xl-6">
												<div class="form-group">	
												
													<label>Retail ID</label>
													
													<input type="text" class="form-control"
													placeholder="Enter Retail ID">
													
													
												</div>
											</div>
                                            </div>
                                            </div>
                                            </div>
                                            </form>-->

					<form class="kt-form" id="kt_form" [formGroup]="personal_details">

 <div class="kt-section kt-margin-t-30">
							<div class="kt-section__body">
                            
                                    

                                    <div class="form-group row validated">
                                            <label class="col-lg-3 col-form-label">First Name</label>
                                            <div class="col-lg-9 col-xl-4">
                                            <input type="text" class="form-control" formControlName="f_name" placeholder="Enter First Name">
                                           <div *ngIf="isControlHasError('f_name','required')">
															<span class="invalid-feedback">First Name is Required.</span>
															
														</div>
                                            </div>
                                           
                                           
                                    </div>

                                     <div class="form-group row validated">
                                            <label class="col-lg-3 col-form-label">Last Name</label>
                                            <div class="col-lg-9 col-xl-4">
                                            <input type="text" class="form-control" formControlName="l_name" placeholder="Enter Last Name">
                                             <div *ngIf="isControlHasError('l_name','required')">
															<span class="invalid-feedback">Last Name is Required.</span>
															
														</div>
                                            </div>
                                           
                                           
                                    </div>
                                     <div class="form-group row validated">
                                            <label class="col-lg-3 col-form-label">Email ID</label>
                                            <div class="col-lg-9 col-xl-4">
                                            <input type="text" class="form-control" formControlName="email" placeholder="Enter Email ID">
                                            <div *ngIf="isControlHasError('email','required')">
															<span class="invalid-feedback">Email is Required.</span>
															
														</div>
                                            <div *ngIf="isControlHasError('email','email')">
																	<span class="invalid-feedback">Email ID is not valid.</span>
																</div>
                                                                {{dupEmail}}
                                             <div *ngIf="dupEmail===true">
																	<span class="invalid-feedback">Email ID Already Exist.</span>
																</div>
                                            </div>
                                           
                                           
                                    </div>

                                    <div class="form-group row validated">
                                            <label class="col-lg-3 col-form-label">Mobile Number</label>
                                            <div class="col-lg-9 col-xl-4">
                                            <input type="text" class="form-control" formControlName="mobile" placeholder="Enter Mobile Number">
                                            <div *ngIf="isControlHasError('mobile','required')">
															<span class="invalid-feedback">Mobile Number is Required.</span>
															
														</div>
                                            	<div *ngIf="isControlHasError('mobile','pattern')">
																	<span class="invalid-feedback">Mobile Number is not valid.</span>
																</div>
                                                                {{dupMobileNum}}
                                            <div *ngIf="dupMobileNum===true">
																	<span class="invalid-feedback">Mobile Number Already Exist.</span>
																</div>
                                            </div>
                                           
                                           
                                    </div>
                                     <div class="form-group row validated">
                                            <label class="col-lg-3 col-form-label">Alternate Mobile Number</label>
                                            <div class="col-lg-9 col-xl-4">
                                            <input type="text" class="form-control" formControlName="alt_mobile" placeholder="Enter Alternate Mobile Number">
                                            <div *ngIf="isControlHasError('alt_mobile','required')">
															<span class="invalid-feedback">Alternate Number is Required.</span>
															
														</div>
                                            </div>
                                           
                                           
                                    </div>
							
						
							</div>
						</div>
                        </form>
                        </kt-portlet-body>
                   <!--      </kt-portlet>-->
                        <kt-portlet-footer>
			<div class="kt-form__actions">
				<div class="row">
					<div class="col-lg-4"></div>
					<div class="col-lg-8">
							<button type="submit" (click)="resetDetails('personal_details');" class="btn btn-secondary">
							
							Cancel
						</button>&nbsp;
                        <button type="submit" name="builder_submit" (click)="submitPersonalInfo();"  class="btn btn-primary">
							
							Save Changes
						</button>
					</div>
				</div>
			</div>
		</kt-portlet-footer>
       
  </mat-tab>
  <mat-tab label="Change Password">
  <!--<kt-portlet>-->
  <kt-portlet-body>
  <form class="kt-form" id="kt_form" [formGroup]="password">
       <div class="kt-section kt-margin-t-30">
							<div class="kt-section__body">
						<div class="form-group row validated">
                                            <label class="col-lg-3 col-form-label">Current Password</label>
                                            <div class="col-lg-9 col-xl-4">
                                            <input type="password" class="form-control" formControlName="c_pwd" placeholder="Enter Current Password" autocomplete="off">
                                             <div *ngIf="isControlHasErrorPassword('c_pwd','required')">
															<span class="invalid-feedback">Current Password is Required.</span>
															
														</div>
                                            	<div *ngIf="isControlHasErrorPassword('c_pwd','pattern')">
																	<span class="invalid-feedback">Mobile Number is not valid.</span>
																</div>
																<!--<div *ngIf="isControlHasError('c_pwd','required')">
																	<span class="invalid-feedback">First Name is Required.</span>
																	
																</div>-->
                                            </div>
                                           
                                           
                                    </div>
                          <div class="form-group row validated">
                                            <label class="col-lg-3 col-form-label">New Password</label>
                                            <div class="col-lg-9 col-xl-4">
                                            <input type="password" class="form-control" formControlName="password" placeholder="Enter New Password" autocomplete="off">
                                            <div *ngIf="isControlHasErrorPassword('password','required')">
															<span class="invalid-feedback">New Password is Required.</span>
															
														</div>
                                            	<div *ngIf="isControlHasErrorPassword('password','minlength')">
																	<span class="invalid-feedback">New Password is not valid.Minimum length 3</span>
																</div>
                                                <div *ngIf="isControlHasErrorPassword('password','maxlength')">
																	<span class="invalid-feedback">New Password is not valid.Maximum length 8</span>
																</div>
                                            </div>
                                           
                                           
                                    </div>

                                    <div class="form-group row validated">
                                            <label class="col-lg-3 col-form-label">Confirm Password</label>
                                            <div class="col-lg-9 col-xl-4">
                                            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Enter New Password" autocomplete="off">
                                            <div *ngIf="isControlHasErrorPassword('confirmPassword','required')">
															<span class="invalid-feedback">Password is Required.</span>
															
														</div>
                                            	<div *ngIf="isControlHasErrorPassword('confirmPassword','minlength')">
																	<span class="invalid-feedback">New Password is not valid.Minimum length 3</span>
																</div>
                                                <div *ngIf="isControlHasErrorPassword('confirmPassword','maxlength')">
																	<span class="invalid-feedback">New Password is not valid.Maximum length 8</span>
																</div>
																<div *ngIf="password.get('confirmPassword').errors && password.get('confirmPassword').errors.ConfirmPassword">
																<span class="invalid-feedback">Passsword and ConfirmPassword didn't match.</span>
																</div>
                                            </div>
                                           
                                           
                                    </div>

                                    </div>
                                    </div>
                                    </form>
  </kt-portlet-body>
   <!--</kt-portlet>-->
   <kt-portlet-footer>
			<div class="kt-form__actions">
				<div class="row">
					<div class="col-lg-4"></div>
					<div class="col-lg-8">
						
						<button type="submit" (click)="resetDetails('password_details');" class="btn btn-secondary">
							
							Cancel
						</button>&nbsp;
                        <button type="submit" (click)="updatePassword();" class="btn btn-primary">
							
							Save Changes
						</button>
						
					</div>
				</div>
			</div>
		</kt-portlet-footer>
  </mat-tab>
  <mat-tab label="Account Settings">Account Settings Here!</mat-tab>
</mat-tab-group>
</mat-card>



