<kt-portlet [class]="'kt-portlet--height-fluid'">
<kt-portlet-header [title]="'Product Group Structure'" [class]="'kt-portlet__head--lg'" *ngIf="showTable===true">Product Group Structure</kt-portlet-header>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" *ngIf="showTree===true">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <div class="col-xs-3 col-md-3 col-lg-3">
  
        <mat-checkbox class="checklist-leaf-node"
                      [checked]="checklistSelection.isSelected(node)"
                      (change)="todoLeafItemSelectionToggle(node)">{{node.item}}  
                  </mat-checkbox>
                  </div>
                  <div class="col-xs-3 col-md-3 col-lg-3">
  
                  <button *ngIf="node.item!='Product ID'" mat-button (click)="removeNode(node,node.item)">Remove</button>
  </div>
      </mat-tree-node>
    
      <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <div class="col-xs-3 col-md-3 col-lg-3">
        <mat-form-field>
          <mat-label>New Sub-Group...</mat-label>
          <input matInput #itemValue placeholder="Enter Sub-Group">
        </mat-form-field>
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3">
  
        <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
        </div>
      </mat-tree-node>
    
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox [checked]="descendantsAllSelected(node)"
                      [indeterminate]="descendantsPartiallySelected(node)"
                      (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
        <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
      </mat-tree-node>
  
    </mat-tree>
  
    
    <div class="row" *ngIf="dataSource.data[0].children.length>1 && dataSource.data[0].children[1]['item']!='' && showTree===true">
        <div class="col-xs-4 col-md-4 col-lg-4">
  </div>
    <div class="col-xs-4 col-md-4 col-lg-4 button-alignment">
    <button type="button" class="btn btn-outline-primary product-btn" (click)="createTable(content7)">Create Table</button>
  </div>
  <div class="col-xs-4 col-md-4 col-lg-4">
    </div>
  </div>
  
  <!--Nested Tree-->
  <mat-tree [dataSource]="dataSource2" [treeControl]="treeControl1" class="example-tree" *ngIf="showTree===false">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        {{node.name}}
      </li>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChildNested">
      <li class="product-tree">
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl1.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </div>
        <ul class="tree" [class.example-tree-invisible]="!treeControl1.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
  <!--Nested Tree-->
  <!--Table-->
  <!--<div *ngIf="showTable===true">-->
  <kt-portlet-header [title]="'Products List'" [class]="'kt-portlet__head--lg'" *ngIf="showTable===true">
      <ng-container ktPortletTools>
      <input hidden type="file" #uploader
          (change)="onFileChange($event,contentSmallAlert)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" multiple="false"/>
      <button type="button"  class="btn btn-light-primary font-weight-bolder btn-pill"  matTooltip="Excel - Upload, Download" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()">Export
              </button>
          <button (click)="openLarge(add_p)"  class="btn btn-light-primary font-weight-bolder ml-2 btn-pill" color="primary">New
              Product</button>
  
              <mat-menu #menu="matMenu">
                  <span (mouseleave)="menuTrigger.closeMenu()">
                  <!--	<button mat-menu-item color="primary" (click)="sample()">Sample File</button>-->
    
                    <button type="submit" mat-menu-item color="primary" (click)="uploader.click()">Upload File</button>
                    <button mat-menu-item color="primary" *ngIf="allDataExcel.length>0" (click)="export()">Download File</button>
                    </span>
                  </mat-menu>
          </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
  
  <div class="kt-form__actions" *ngIf="showTable===true">
      <div class="row kt-margin-b-30">
          <div class="col-xs-12 col-md-12 col-lg-12">
                  <div class="kt-form__filtration">
                  <div class="row align-items-center search-store">

                               
                      <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                          <div class="kt-input-icon kt-input-icon--left">
                            <input type="text" class="form-control product-btn" placeholder="Search..."  (keyup)="applyFilter($event.target.value)">
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                              <span><i class="la la-search"></i></span>
                            </span>
                          </div>
                        </div>
                          <!-- <div class="col-xs-3 col-md-3 col-lg-3 kt-margin-bottom-10-mobile"> -->
                            <!--  <mat-form-field class="mat-form-field-fluid">
                                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                      <mat-hint align="start">
                                      <strong>Search</strong> in all fields
                                  </mat-hint>
                              </mat-form-field>-->
						<!-- <input class="search-input" (keyup)="applyFilter($event.target.value)" placeholder="Search in all fields">   -->

                          <!-- </div> -->
                         
                      </div>
                      </div>
          </div>
         
      </div>
  </div>
  
       <!-- MATERIAL TABLE | Binded to datasources -->
              <!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
              <!-- <div class="mat-elevation-z8" *ngIf="showTable===true"> -->
              <div class="mat-table__wrapper brand-overflow" *ngIf="showTable===true">
                <mat-table class="lmat-elevation-z8"
                    #table
                    [dataSource]="dataSource1"
                    matSort
                    #sort1="matSort"
                    matSortActive="s_no"
                    matSortDirection="asc"
                    matSortDisableClear>
                    <!-- Checkbox Column -->
    
                    <!-- Table with selection -->
                    <!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
     
    
                    <ng-container *ngFor="let column of columns;" [matColumnDef]="column.columnDef">
                        <!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
                        <mat-header-cell *matHeaderCellDef [ngClass]="{'product-sno' : column.header=='s_no'}">
                          <span class="table-header" *ngIf="column.header=='Product ID'">{{ column.header }}</span>
                          <span class="table-header"  *ngIf="column.header!='Product ID'" >{{ column.header | titlecase }}</span>
                        </mat-header-cell>
                <!--      <span *ngFor="let sno of snoValues;">-->
                        <mat-cell *matCellDef="let row;let i = index" [ngClass]="{'product-sno' : column.columnDef=='s_no','product-actions':column.columnDef=='action'}">
                          <span class="table-text" *ngIf="column.columnDef!='action' && column.columnDef!='s_no'">{{ column.cell(row) }}</span>
                          <span *ngIf="column.columnDef=='s_no' && dataSource1.data[0]['Product ID']!=''">
                            {{(i+1) + (paginator.pageIndex * paginator.pageSize)}}

                          </span>
                          <span *ngIf="column.columnDef=='action' && dataSource1.data[0]['Product ID']!=''">
                           
                              <button mat-icon-button class="btn btn-sm btn-clean btn-icon" (click)="editProduct(row,snoValues[(i) + (paginator.pageIndex * paginator.pageSize)]['s_no']);openLarge(edit_p);" matTooltip="Edit Product">
                                  <mat-icon>create</mat-icon>
                              </button>&nbsp;
                              <button mat-icon-button class="btn btn-sm btn-clean btn-icon"  (click)="deleteProducts(row['Product ID'])" matTooltip="Delete Product" type="button">
                                  <mat-icon>delete</mat-icon>
                              </button>
                          </span>
                        </mat-cell>
                <!--      </span>-->
                    </ng-container>
                  
                  
  
    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div class="mat-table__message" *ngIf="dataSource1.data.length==0 || dataSource1.data[0]['Product ID']==''">No records found</div><!-- Message for empty data  -->
       <!-- <div class="mat-table__message" *ngIf="dataSource1.isPreloadTextViewed$">Please wait....</div>-->
        
            </div>
           
    
            <!-- start: BOTTOM -->
        <span *ngIf="showTable===true">   
         <div class="mat-table__bottom">
            <!--  <mat-paginator [pageSizeOptions]="[3, 10, 20]" showFirstLastButtons></mat-paginator>-->
           <!-- <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->

              
            </div>
            </span>
            <!-- </div> -->
            <mat-paginator [ngStyle]="{display: showTable ? 'block' : 'none'}" #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

            <!-- end: BOTTOM -->
  </kt-portlet-body>
  <!--</div>-->
  
  <!-- New Product -->
  <ng-template #add_p let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add Products</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <!-- <div class="kt-section"> -->
          <form class="form-horizontal" [formGroup]="products">
            <div class="form-body" formArrayName="persons">
              <span *ngFor="let item of products.controls.persons.controls; let pointIndex=index;" [formGroupName]="pointIndex">
                    <div class="row validated">
                          <!--  <div class="form-group validated">-->
                                    <label class="control-label col-lg-2">{{createNewAry[pointIndex] | titlecase}}</label>
                                   <div class="col-lg-9">
                                    <input type="text" class="form-control" [formControlName]="createNewAry[pointIndex]" placeholder="Enter {{createNewAry[pointIndex]  | titlecase}}">
                                    <div *ngIf="isControlHasError(createNewAry[pointIndex],'required',pointIndex)" >
                                        <span class="invalid-feedback">Please enter the {{createNewAry[pointIndex]}}.</span>
                                    </div>
                                   
                                        </div>
                           <!-- </div>-->
                        </div>
                        <br>
                      </span>
                        </div>
                        </form>
  
         
            </div>
    <!-- </div> -->
    <div class="modal-footer">
      <button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click')">Close</button>
      <button class="btn btn-outline-success btn-pill custom-btn" (click)="onSubmitProducts(contentSmallAlert,'new')">Save changes</button>
    </div>
  </ng-template>
  <!-- New Product Modal-->
  
  
  <!-- Edit Product -->
  <ng-template #edit_p let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Edit Product</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <!-- <div class="kt-section"> -->
            <form class="form-horizontal" [formGroup]="products">
              <div class="form-body" formArrayName="persons">
                <span *ngFor="let item of products.controls.persons.controls; let pointIndex=index;" [formGroupName]="pointIndex">
                      <div class="row validated">
                            <!--  <div class="form-group validated">-->
                                      <label class="control-label col-lg-2">{{createNewAry[pointIndex] | titlecase}}</label>
                                     <div class="col-lg-9">
                                      <input type="text" class="form-control" [formControlName]="createNewAry[pointIndex]" placeholder="Enter {{createNewAry[pointIndex]  | titlecase}}">
                                      <div *ngIf="isControlHasError(createNewAry[pointIndex],'required',pointIndex)" >
                                          <span class="invalid-feedback">Please enter the {{createNewAry[pointIndex] | titlecase}}.</span>
                                      </div>
                                     
                                          </div>
                             <!-- </div>-->
                          </div>
                          <br>
                        </span>
                          </div>
                          </form>
    
           
              </div>
      <!-- </div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click')">Close</button>
        <button class="btn btn-outline-success btn-pill custom-btn" (click)="onSubmitProducts(contentSmallAlert,'edit')">Save changes</button>
      </div>
    </ng-template>
    <!-- Edit Product Modal-->
  <!-- Alert Modal-->
  <ng-template #content7 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Alert Message</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
      Are you sure want to create table with the given data ?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn-outline-info btn-pill custom-btn" (click)="clickedOk()">Ok</button>
  
      </div>
    </ng-template>
  
    <ng-template #contentSmallAlert let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title warn-color">Warning Message</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="brand-warning">
            {{alertMessage}}
        </p>
     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info btn-sm btn-pill custom-btn" (click)="c('Close click')">Ok</button>
      </div>
    </ng-template>
    <!--End of Alert Modal-->
  
  </kt-portlet>
  
  