.mat-form-field {
    margin-right: 4px;
  }
.button-alignment{
text-align: center;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  

  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  button.mat-raised-button.mat-button-base.mat-primary {
    margin-left: 5px;
}


/*saranya css*/ 

.product-btn{
  border-radius:2rem;
}
.productnew-btn{
  border-radius:2rem;
  margin-left:10px;
}


.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:10;
  top:0; 
  left:0; 
  position:fixed;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
} 



.mat-tree-node{
  text-transform:capitalize;
}
.search-store{
  flex-direction:row-reverse;
}
.search-input{
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    background: #F4F6F9;
    padding-left: 20px;
    border: 1px solid rgba(76, 87, 102, .1);
    // width:100%;
    margin-left:40px;
}
.search-input:focus{
  outline:none !important;
}
.actions-btn{
  width:30px;
}










ul.tree, ul.tree ul {
  list-style: none;
   margin: 0;
   padding: 0;
 } 
 ul.tree ul {
   margin-left: 10px;
 }
 ul.tree li{
   margin: 0;
   padding: 0 7px;
   line-height: 20px;
  //  color: #369;
  //  font-weight: bold;
   border-left:1px solid rgb(100,100,100);
   padding-left: 40px;

 }
 ul.tree li div{
  margin: 0;
  padding: 0 7px;
  line-height: 20px;
  // color: #369;
  // font-weight: bold;
  border-left:1px solid rgb(100,100,100);
  padding-left: 40px;

}
.product-tree div{
  margin-left:10px;
  font-weight: bold;
}
li{
  font-weight:bold;
}
ul.tree li div{
  border-left:none;
  position:absolute;
  top:5px;
}
ul.tree li{
  position: relative;
}
 ul.tree li:last-child {
     border-left:none;
 }
 ul{
   padding-left:60px;
 }
//  ul.tree li{
//    position: relative;
//    top:-35px;
//  }
 
 ul.tree li:before {
    position:relative;
    top:-0.3em;
    // height:1em;
    height:2.5em;
    // width:12px;
    width:30px;
    color:white;
    border-bottom:1px solid rgb(100,100,100);
    content:"";
    display:inline-block;
    // left:-7px;
    left:10px;
 }
 ul.tree li div:before {
  position:relative;
  color:white;
  border-bottom:1px solid rgb(100,100,100);
  content:"";
  display:inline-block;
  // left:-7px;
  left:10px;
}
 ul.tree li:last-child:before {
    border-left:1px solid rgb(100,100,100);   
 }
// .product-table{
//   overflow-x:hidden !important;
// }
.brand-warning{
  white-space: pre-line
}
.warn-color{
  color:#48465b;
}
.table-header{
font-size:13px;
color:black;
}
// .product-sno{
//   max-width: 150px;
// }
.product-delete{
  margin-left:-10px;
}
.header-cell{
  padding: 0 1.5rem;
}
mat-header-cell{
  color:black;
 }
.product-actions{
position:relative;
left:-16px;
 }
 //saranya css changes
 .mat-cell:nth-child(1),
 .mat-header-cell:nth-child(1){
   flex: 0 0 10%;
 }