/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";

// header base skins
.kt-header-base-light {
	@import "sass/global/layout/header/skins/base/light.scss";
}
.kt-header-base-dark {
	@import "sass/global/layout/header/skins/base/dark.scss";
}

// header menu skins
.kt-header-menu-light {
	@import "sass/global/layout/header/skins/menu/light.scss";
}
.kt-header-menu-dark {
	@import "sass/global/layout/header/skins/menu/dark.scss";
}

// brand skins
.kt-brand-dark {
	@import "sass/global/layout/brand/skins/dark.scss";
}
.kt-brand-light {
	@import "sass/global/layout/brand/skins/light.scss";
}

// aside skins
.kt-aside-dark {
	@import "sass/global/layout/aside/skins/dark.scss";
}
.kt-aside-light {
	@import "sass/global/layout/aside/skins/light.scss";
}

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
	display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
	width: 100% !important;
}

.position-static {
	position: static;
}
.visual-logo{
	color:white;
	font-size:15px;
	text-transform:uppercase;
}
.product-btn{
	border-radius:2rem;
}



//login page css

.login-order{
	order:2;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	box-shadow: inset 0 0 0 1000px rgba(112, 87, 87, 0.2);
	width:60% !important;
}
.main-login{
	padding:60px;
}
.main-login{
	background:url('./assets/media/images/vmbackground.jpg') no-repeat 0 0;
	background-size:cover;
}
.forgot-password{
	flex-direction:row-reverse;
	margin:0px !important;

}

.forgot-password a{
margin-top:15px;
}
.sign-btn{
	justify-content:center !important;
}
.login-form{
	margin-top:25px !important;
	margin-bottom:0px !important;
}
.login-title{
	margin-bottom:30px !important;
}
.login-overall{
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	padding:0px !important;
	border:1px solid #A9A9A9;
	border-right:none;
}
.product-btn{
	border-radius:2rem !important;
}
.email-login{
	width:70%;
}
.login-incrct div{
	margin-left:14%;
}
.search-store{
	flex-direction:row-reverse;
  }
  .search-input{
	  height: 40px;
	  border-radius: 20px;
	  overflow: hidden;
	  cursor: pointer;
	  white-space: nowrap;
	  background: #F4F6F9;
	  padding-left: 20px;
	  border: 1px solid rgba(76, 87, 102, .1);
	  width:70%;
	  margin-left:31%;
  }
  .search-input:focus{
	outline:none !important;
  }
  .brand-overflow{
	  overflow-x:hidden !important;
  }
  .table-text{
	  overflow:hidden;
  }
.max-one{
	max-width:150px;
}
.max-two{
	max-width:250px;
}
.max-three{
	max-width:200px;
}
.max-fifty{
    max-width:50px;
}


@media only screen and (max-width: 992px) {
    .brand-overflow{
		overflow-x:auto !important;
	}
}

@media only screen and (max-width: 640px) {
    .brand-overflow{
		overflow-x:auto !important;
	}
}

// .myCustomModalClass .modal-dialog{
// 	max-width:80% !important;
//   }

/*newchnages*/
.myCustomModalClass .modal-dialog{
	max-width:80% !important;
  }
  mat-header-cell{
	color:black !important;
	font-weight:bold !important;
   }
   .kt-wizard-v1__nav-icon i{
    font-size:2.2rem;
  }
.btn_close{
    border-color:#e7505a !important;
    color:#e7505a !important;
    background: 0 0 !important;
}
.btn_close:hover{
    border-color: #e7505a !important;
    color: #FFF !important;
	background-color: #e7505a !important;
}
.mat-header-cell{
	text-transform:capitalize;
}
.btn-bsmall {
	padding: .4rem .4rem !important;
	font-size: .875rem !important;
	// line-height: .5;
	// border-radius: .2rem;
  }
  
	.btn.btn-primary {
		color: #FFFFFF;
		background-color: #3699FF;
		border-color: #3699FF;
		font-weight:bold !important;
	}
	.btn.btn-primary:hover {
	color: #FFFFFF;
	background-color: #187DE4;
	border-color: #187DE4;
	}


	.btn.btn-light-primary {
		color:#696969;
		background-color:#fff;
		border: 1px solid #696969;
		padding-top:4px;
		padding-bottom:4px;
	}
	.btn.btn-light-primary:hover{
		color: #fff !important;
		background-color: 	#696969	 !important;
		border: 1px solid #696969	!important;
	}





			//new css for table 
		mat-cell{
			color:#3F4254;
			font-size: 12px !important;
			font-family:Poppins;
			vertical-align: middle;
			// padding: 1rem 0px;
			text-transform:capitalize;
			font-weight:400;
		// 	text-align: center;
		//   justify-content:center;
		}
		mat-header-cell, .header-promotional{
			color:#696969 !important;
			font-size: 13px !important;
			// text-transform: uppercase !important;
			font-weight: 600!important ;
			letter-spacing: 0.1rem;
			// font-family:Helvetica, "sans-serif";
			font-family:Poppins;
			// flex-direction: column;
			// justify-content: center;
		}
		//   ::ng-deep .mat-sort-header-sorted {
		// 	color: #B5B5C3 !important;
		// 	font-size: 0.9rem;
		// 	text-transform: uppercase !important;
		// 	font-weight: 600!important ;
		// 	letter-spacing: 0.1rem;
		// 	font-family:Helvetica, "sans-serif";
		//   }
		.header-promotional{
			text-transform:uppercase !important;
		}
		// mat-checkbox:checked .mat-row{
		//  background:red !important;
		//  border-color: violet !important;
		// }
		.mat-row:nth-child(even){
			background-color:#fbfcfd;
			}
		
		.mat-row:nth-child(odd){
			background-color:white;
			}
		
		//   mat-checkbox{
		// 	background: #ebedf3;
		// 	height:17px;
		//   }
		
		.Centercolumns{
			flex-direction:column;
			justify-content: center;
		}

		table {
			width: 100%;
		}

		.mat-paginator-icon{
			color:#dcdcdc;
		}
		.mat-paginator-range-label{
			color:#3F4254 !important;
		}
		
		// .mat-select-panel {
		// 	  background-color: red;
		//   }
		
		//   /deep/ .mat-form-field-infix{
		// 	   background-color: red;
		//   }
		
		//   /deep/ .mat-select{
		// 	 background-color: red;
		//   }

		
		
		
		//    .mat-paginator-page-size-select {
		// 	width: 27px!important;
		//   }
		//    .mat-form-field-appearance-legacy .mat-form-field-underline {
		// 	background-color: transparent;
		//   }
		
		//    .mat-select-value {
		//   color: #005999;
		// 	font-weight: bold;
		// 	font-size: 15px;
		//   }
		//    .mat-select-arrow {
		// 	color:red;
		//   }
		//    .mat-option{
		//   padding: 0!important;
		
		//   }
		//    .mat-option-text {
		
		// 	text-align: right;
		//   }
		//   .mat-paginator-page-size-label{
		// 	//   font-size: 13px !important;
		// 	//   font-weight: 400;
		// 	  font-family: Poppins;
		//   }
		//   .mat-checkbox-frame { 
		// 	border-color: grey !important;
		// 	background-color:grey;
		// 	width: 18px;
		// 	height: 18px;
		// 	border-radius: 0.32rem;
		//   }
		//   .mat-checkbox{
		// 	border-color: grey !important;
		// 	// border-radius: 0.42rem;
		//   }

		.search-store{
			flex-direction: row-reverse;
		}
		/*userprofile pic none*/
		.kt-header__topbar-user img{
			display:none
		}
		.btn-icons{
			border-color: transparent;
			background: transparent;
			color: #87acd4;
		}
		.btn-icons:hover{
			color: #5d78ff;
			background: #f0f3ff;
		}
		//    .custom-frame .mat-checkbox-background{
		// 	width: 1.3rem;
		// 	height:1.3rem;
		// 	  border-radius: 70% !important;
		//   }

		//   .custom-frame .mat-checkbox-frame {
		// 	border-radius: 70% !important;
		// 	width: 1.3rem;
		// 	height:1.3rem
		//   }
		.cell-centeralignheader{
			justify-content: center  !important;
			display:flex;
		}
		.Centercolumns mat-header-cell{
			justify-content:center !important;
		}


		//mat table equal spacing
		// .custom-matcolumns{
		// 	flex: 6rem;
		//    flex:2;
		// }
		// .custom-matcolumnsextra{
		// 	flex: 7rem;
		// }

		//modal backdrop in select
		 .mat-datetimepicker-content{
			z-index:2000 !important;
		 }
		 .cdk-overlay-container{
			z-index:2000 !important;
		 }
	.mat-datetimepicker-calendar-header{
		background:blue !important;
	}

	.label-dot{
	line-height: 6px;
    min-height: 6px;
    min-width: 6px;
    height: 6px;
	width: 6px;
	display: inline-block;
		font-size: 0 !important;
		vertical-align: middle;
		text-align: center;
		border-radius: 2rem;

	}
	.label-primary {
		color: #FFFFFF;
		background-color: #5867dd !important;
	}
	.label-warning {
		color: #FFFFFF;
		background-color: #ffb822 !important;
	}





	//changes
/*table {
	width: 100%;
  }
  
  mat-row.example-detail-row {
	height: 0 !important;
  }
  
  mat-row.example-element-row:not(.example-expanded-row):hover {
	background: whitesmoke !important;
  }
  
  mat-row.example-element-row:not(.example-expanded-row):active {
	background: #efefef !important;
  }
  
  .example-element-row td {
	border-bottom-width: 0;
  }
  
  .example-element-detail {
	overflow: hidden;
	display: flex;
  }
  
  .example-element-diagram {
	min-width: 80px;
	border: 2px solid black;
	padding: 8px;
	font-weight: lighter;
	margin: 8px 0;
	height: 104px;
  }
  
  .example-element-symbol {
	font-weight: bold;
	font-size: 40px;
	line-height: normal;
  }
  
  .example-element-description {
	padding: 16px;
  }
  
  .example-element-description-attribution {
	opacity: 0.5;
  }*/

 //saranyadesign(12-oct-2020)
 .custom-btn{
		 padding-top:4px !important;	
		 padding-bottom:4px !important;
 }	
 mat-cell,mat-header-cell{overflow: hidden; text-overflow: ellipsis; word-break: break-word;}
//multi select dropdoen in audit list 
.multiselect-dropdown{
	color:#495057;
}
.multiselect-dropdown .dropdown-btn{
	border-color:#e2e5ec !important;
}

	