.select {
    height: 40px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin-bottom: 1em;
  }
  
  .select:after {
    content: "▼";
    padding: 12px 8px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
  }
  
  .select__field {
    height: 40px;
    width: 100%;
    padding: 5px 15px;
    color: #616263;
    background-color: #ececec;
    border: 1px solid #e3e3e3;
    outline: none;
    font-size: 16px;
    -webkit-appearance: none;
    /* for webkit browsers */
    -moz-appearance: none;
    /* for firefox */
  //  appearance: none;
    /* for modern browsers */
  }
  
  
  /* remove default caret for ie */
  
  .select__field::-ms-expand {
    display: none;
  }
  
  .select__field:focus:invalid {
    border-color: #FD6347;
  }
  
  .select__field:required:valid {
    border-color: #006400;
  }
  .select__border{
    border: 1px solid #adadad;
  }
  .select__border:after {
    box-shadow: 0 0 3pt 2pt #0000;    
}
//select dropdown
.select{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none !important;
  padding-right:10px !important;
  background: transparent !important;
}
.dpdwn{
  padding-left: 1.8rem !important;
}


//changes
table {
  width: 100%;
}


.mat-row1:nth-child(2n+1) {
  background-color: white !important;
}

.mat-row1:nth-child(2n) {
  background-color: #fbfcfd !important;
}

.mat-row1:nth-child(4n) {
  background-color: white !important;
}

.mat-row1:nth-child(4n+1) {
  background-color: #fbfcfd !important;
}

/*.mat-row1:nth-child(2n+1){
  background-color:#fbfcfd !important;
  }

.mat-row1:not(:nth-child(4n+1)){
  background-color:white !important;
  }*/
/*.example-detail-row {
  min-height: 0 !important;
}*/
.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke !important;
}

.example-element-row:not(.example-expanded-row):active {
  background: #efefef !important;
}

.example-element-row td{
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.sub-table{
  border-left: 1px solid #EBEDF3;
  border-right: 1px solid #EBEDF3;
  border-bottom: 1px solid #EBEDF3;
  // padding-left:20px;
  // padding-right:20px;
  box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.05);
  
}
.sub-field{
  border-right: 1px solid #EBEDF3;
}
.example-element-description{
  padding-top:0px;
}
.sub-table label{
  color:#646c9a;
  font-weight:500;
  font-size:13px;
}
.sub-table p{
  color:#3F4254;
  font-size:13px;
  font-weight:400
}
.custom-div{
  padding:13px 20px;
}
.flaticon2-document,.fa-caret-down,.fa-caret-right{
  font-size:16px !important;
}



//popover
.rmv-padd{
  padding:0 !important;
}
.date{
  font-size:1rem !important;
}
.inner-txt{
  font-size:1rem !important;
  font-weight: 300 !important;

}
.popover-content {
	word-wrap: break-word !important;
}
.mat-tab-group{
  font-family:Poppins, Helvetica, sans-serif !important;
}
.calendar-matappend{
  border-right:1px solid #e2e5ec;
  border-top:1px solid #e2e5ec;
  border-bottom:1px solid #e2e5ec;
  margin-left: -1px;
  border-radius: .25rem;
  height:38px;
}
.calendar-matappend2{
  border-right:1px solid #e2e5ec;
  border-top:1px solid #e2e5ec;
  border-bottom:1px solid #e2e5ec;
  margin-left: -1px;
  border-radius: .25rem;
  height:39px;
}
.days-btn{
  border:none !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}