<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header [title]="'New & Scheduled Audits'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools >
            <div [matTooltip]="dropdownList.length>0 ? 'Create New Audit' : 'No Retailers Found'">
             <button class="btn btn-light-primary font-weight-bolder ml-2 btn-pill" (click)="openLarge(sch_audit);" color="primary" [disabled]="dropdownList.length>0?false:true" [matTooltip]="dropdownList.length>0 ? 'Create New Audit' : 'No Retailers Found'" >Schedule Audit
            </button>
            </div>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>






        <div class="kt-form__section kt-form__section--first">
            <div class="kt-wizard-v1__form">
                <div class="kt-form__actions">
                    <div class="row kt-margin-b-30">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <div class="kt-form__filtration">
                                <div class="row align-items-center search-store">
                                    <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                        <div class="kt-input-icon kt-input-icon--left">
                                            <input type="text" class="form-control product-btn" placeholder="Search..." (keyup)="timediff.applyFilter($event.target.value,dataSource)">
                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                <span>
                                                    <i class="la la-search"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>


                                    <!--  <div class="col-md-4 kt-margin-b-20-tablet-and-mobile select_drp ml-3">
                                                                <div class="kt-input-icon kt-input-icon--left">
                                                                  <div class="row align-items-center">
                                                                      <label class="col-md-2 mr-2 mb-1">Status:</label>
                                                                      
                                                                      <select class="col-md-5 bootstrap-select form-control product-btn dpdwn">
                                                                          <option [ngValue]=0>All</option>

                                                                          <option *ngFor="let status of statusList" [ngValue]="status.status_id">
                                                                              {{ status.status_name}} 
                                                                              </option>
                                                                    </select>
                                                                  </div>     
                                                                </div>
                                                              </div>-->

                                    <div class="col-md-3 kt-margin-b-20-tablet-and-mobile select_drp">
                                        <div class="">
                                            <div class="row align-items-center">
                                                <div class="col-md-offset-2"></div>
                                                <div class="col-md-4 pr-0">
                                                    <label class="mb-0 pull-right">Type:</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <select class="bootstrap-select form-control product-btn" (change)="typeChanged($event)">
                                                        <option [ngValue]=0>All</option>
                                                        <option *ngFor="let type of typesList" [ngValue]="type.audit_type">
                                                            {{ type.audit_name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <!--         <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                                                <div class="d-flex align-items-center">
                                                                  <label class="mr-3 mb-0 d-none d-md-block">Status:</label>
                                                                  <div class="dropdown bootstrap-select form-control dropup">
                                                                    <select class="form-control">
                                                                    <option value="">All</option>
                                                                    <option value="1">Pending</option>
                                                                    <option value="2">Delivered</option>
                                                                    <option value="3">Canceled</option>
                                                                    <option value="4">Success</option>
                                                                    <option value="5">Info</option>
                                                                    <option value="6">Danger</option>
                                                                  </select>
                                                                    </div>
                                                                </div>
                                                              </div>-->



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20" [ngClass]="{'show' : selection.selected.length > 0}">
                    <!-- We show 'Group Actions' div if smth are selected -->
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label kt-form__label-no-wrap">
                                <label class="kt--font-bold kt-font-danger-">
                                    <span></span>
                                </label>
                                <!-- selectedCountsTitle => function from codeBehind (users-list.component.ts file) -->
                                <!-- selectedCountsTitle => just returns title of selected items count -->
                                <!-- for example: Selected records count: 4 -->
                            </div>
                            <div class="kt-form__control kt-form__group--inline">
                                <button (click)="fetchRetails()" mat-raised-button matTooltip="Delete bulk records" class="btn btn-outline-danger product-btn">
                                    <mat-icon>clear_all</mat-icon>
                                    Bulk Delete

                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="mat-elevation-z8"> -->
                <div class="mat-table__wrapper brand-overflow">
                    <mat-table class="lmat-elevation-z8" [dataSource]="dataSource" multiTemplateDataRows>

                        <ng-container matColumnDef="dd">
                            <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">

                            </mat-header-cell>

                            <mat-cell *matCellDef="let element" class="mat-column-checkbox">
                                <button class="btn btn-sm btn-clean btn-icon" mat-icon-button matTooltip="Retailer Details" type="button" (click)="expandedElement = expandedElement === element ? null : element;">

                                    <i [ngClass]="expandedElement === element ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i>
                                </button>

                            </mat-cell>

                        </ng-container>
                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"></mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="s_no">
                            <mat-header-cell style="max-width:150px" class="pl-4 pr-4" *matHeaderCellDef>S No</mat-header-cell>
                            <mat-cell style="max-width:150px" class="pl-4 pr-4" *matCellDef="let element;let i = dataIndex">
                                {{ this.paginator.pageIndex == 0 ? i+1 : (i +1)+ this.paginator.pageIndex * this.paginator.pageSize}}

                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="retailer">
                            <mat-header-cell *matHeaderCellDef>Retailer</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.retail_audit_list[0]['retailer']}} - {{element.retailers}}

                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="audit_type">
                            <mat-header-cell *matHeaderCellDef>Audit Type</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span style="width: 110px;">
                                    <span *ngIf="element.audit_type==1" class="label label-primary label-dot mr-2"></span>
                                    <span *ngIf="element.audit_type==1" class="font-weight-bold text-primary">
                                        {{element.type_audit_list[0]['audit_name']}}
                                    </span>
                                    <span *ngIf="element.audit_type==2" class="label label-warning label-dot mr-2"></span>
                                    <span *ngIf="element.audit_type==2" class="font-weight-bold text-warning">
                                        {{element.type_audit_list[0]['audit_name']}}
                                    </span>

                                </span>

                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="no_of_audits">
                            <mat-header-cell *matHeaderCellDef>Total Audits</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.total}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <mat-header-cell class="header-action" *matHeaderCellDef>Audit Details</mat-header-cell>
                            <mat-cell *matCellDef="let element">


                                <button class="btn btn-sm btn-clean btn-icon" mat-icon-button (click)="model_data(element);openBig(Details);" matTooltip="Audit Details"
                                    type="button">
                                    <i class="flaticon2-document"></i>
                                </button>
                            </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="expandedDetail">
                            <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                                    <div class="example-element-description">
                                        <div class="row validated sub-table">
                                            <div class="custom-div sub-field">
                                                <div class="control-group">
                                                    <label class="control-label">Mobile No</label>
                                                    <div class="controls">{{element.retail_audit_list[0]['mobile_no']}}</div>
                                                </div>

                                            </div>

                                            <div class="custom-div sub-field">
                                                <div class="control-group">
                                                    <label class="control-label">Landline No</label>
                                                    <div class="controls">{{element.retail_audit_list[0]['landline']}}</div>
                                                </div>

                                            </div>
                                            <div class="custom-div">
                                                <div class="control-group">
                                                    <label class="control-label">Email ID</label>
                                                    <div class="controls">{{element.retail_audit_list[0]['email']}}</div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>





                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <!--   <mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
                                  </mat-row>
  <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">

  </mat-row>-->
                        <mat-row *matRowDef="let element; columns: displayedColumns;" class="mat-row1" [class.example-expanded-row]="expandedElement === element">
                        </mat-row>

                        <mat-row *matRowDef="let element; columns: ['expandedDetail']" style="min-height: 0px !important">

                        </mat-row>
                    </mat-table>


                    <div class="mat-table__message" *ngIf="dataSource.data.length===0">No records found</div>


                    <div class="mat-table__bottom">

                        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>


                        <!-- <mat-paginator #paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                      showFirstLastButtons></mat-paginator>-->
                    </div>
                    <!-- end: BOTTOM -->
                </div>

                <!-- </div> -->



            </div>
        </div>

    </kt-portlet-body>
    <ng-template #sch_audit let-c="close" let-d="dismiss" style="float:left">
        <!-- <mat-card> -->
        <div style="width:2%" style="float:right; ">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset_form()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <mat-tab-group (selectedTabChange)="resetFormPartial()">


            <mat-tab label="Standlone Audit">

                <div class="kt-heading kt-heading--md pl-3 mt-0">Create New Audit</div>
                <div class="modal-body">
                    <form class="form-horizontal" id="kt_form" [formGroup]="new_audit_standalone">
                        <div class="kt-wizard-v1__content">
                            <div class="kt-form__section kt-form__section--first">
                                <div class="kt-wizard-v1__form enter-basics">
                                    <!--   <div class="row validated"> -->
                                    <!--<div class="col-xl-6">-->
                                    <div class="form-group row validated">
                                        <div class="col-lg-3">
                                            <label class="control-label">Retailers</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <ng-multiselect-dropdown [placeholder]="'Select Retailer'" [data]="dropdownList" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                                (onSelectAll)="onSelectAll($event)" (onDeSelect)="onDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)"
                                                [(ngModel)]="selectedItems" formControlName="retailer" [required]='requiredField'
                                                (blur)="setStatus()" (click)="setStatus()">
                                            </ng-multiselect-dropdown>
                                            <div *ngIf="(timediff.isControlHasError('retailer','required',new_audit_standalone) ) && !requiredField">
                                                <span class="invalid-feedback">Please Select Retailer</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- </div>-->
                                    <div class="form-group row validated">
                                        <div class="col-lg-3">
                                            <label class="control-label">Audit Start Date</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <div class="input-group">
                                                <input class="form-control" (mouseover)="setDate()" placeholder="Select Audit Start Date" formControlName="startDate" [matDatetimepicker]="dts"
                                                    required autocomplete="false" [min]="currentDate" (dateChange)="onDateSelect($event,new_audit_standalone)"
                                                    readonly>
                                                <span class="input-group-addon calendar-matappend">
                                                    <mat-datetimepicker-toggle [for]="dts"></mat-datetimepicker-toggle>
                                                </span>
                                                <mat-datetimepicker (mouseover)="setDate()" #dts type="datetime" openOnFocus="true" mode="auto" timeInterval="5"></mat-datetimepicker>
                                            </div>
                                            <div *ngIf="timediff.isControlHasError('startDate','required',new_audit_standalone)">
                                                <span class="invalid-feedback">Please Select Start Date.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row validated">
                                        <div class="col-lg-3">
                                            <label class="control-label">Audit End Date</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <div class="input-group">
                                                <input class="form-control" (mouseover)="setDate()" placeholder="Select Audit End Date" formControlName="endDate" [matDatetimepicker]="dte"
                                                    required autocomplete="false" [min]="min_date" (dateChange)="onDateSelect_end($event,new_audit_standalone)"
                                                    readonly>
                                                <span class="input-group-addon calendar-matappend2">
                                                    <mat-datetimepicker-toggle [for]="dte"></mat-datetimepicker-toggle>
                                                </span>
                                                <mat-datetimepicker (mouseover)="setDate()" #dte type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                            </div>
                                            <div *ngIf="timediff.isControlHasError('endDate','required',new_audit_standalone)">
                                                <span class="invalid-feedback">Please Select End Date.</span>
                                            </div>
                                        </div>
                                    </div>
                                
                                    
                                    <div class="form-group row validated">
                                        <div class="col-lg-3">
                                            <label class="control-label">Audit Time Period</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <input class="form-control" formControlName="time_period_per_audit" placeholder="Audit Time Period">
                                        </div>
                                    </div>



                                    <div class="form-group row validated">
                                        <div class="col-lg-3">
                                            <label class="control-label">Inspectors</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <select class="form-control" formControlName="inspectors">
                                                <option [ngValue]="null" disabled>Select Inspector</option>
                                                <option *ngFor="let insp of inspList | unique:'insp_name'" [ngValue]="insp.user_id">
                                                    {{ insp.insp_name}}
                                                </option>
                                            </select>
                                            <div *ngIf="timediff.isControlHasError('inspectors','required',new_audit_standalone)">
                                                <span class="invalid-feedback">Please Select an Inspector.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- number of year or hours -->
                                    <div class="form-group row validated">
                                        <div class="col-lg-3">
                                            <label>Inspector Acceptance Duration</label>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-6 col-xl-6">
                                                    <!-- <div class="form-group"> -->
                                                    <div class="input-group">
                                                        <input class="form-control" type="number" placeholder="Enter Number" min="1" formControlName="range" [(ngModel)]="range"
                                                            (keyup)=value_pass(range,new_audit_standalone,1)>
                                                        <div class="input-group-append">
                                                            <span class="input-group-addon calendar-matappend">
                                                                
                                                                <button type="button" class="btn days-btn mat-icon-button mat-button-base" [matMenuTriggerFor]="menu" #menuTriggerStandalone="matMenuTrigger"
                                                                    (mouseenter)="menuTriggerStandalone.openMenu()" [disabled]="!range">

                                                                    <div class="mat-button-wrapper">
                                                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                                                    </div>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                  <!--  <div *ngIf=" !requiredField_stand">
                                                   <span class="invalid-feedback">Please select Inspector Acceptance Duration.</span>
                                                    </div>-->
                                                    <!-- </div> -->
                                                </div>
                                                <div class="col-lg-6 col-xl-6">
                                                    <!-- <div class="form-group"> -->
                                                    <input class="form-control" type="text" placeholder="Select Duration" formControlName="chosenDuration" readonly>
                                                    <!-- </div> -->
                                                    <div *ngIf="timediff.isControlHasError('chosenDuration','required',new_audit_standalone)">
                                                        <span class="invalid-feedback">Please Select Duration.</span>
                                                    </div>
                                                </div>
                                                <mat-menu #menu="matMenu">
                                                    <span (mouseleave)="menuTriggerStandalone.closeMenu()">
                                                        <span *ngFor="let timech of timediff.TimeChoose">
                                                            <button mat-menu-item color="primary" (click)="chosenPeriod(timech.type,new_audit_standalone,1)">{{timech.type}}<span *ngIf="range > 1">s</span>
                                                                
                                                            </button>
                                                        </span>

                                                    </span>
                                                </mat-menu>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row validated">
                                        <div class="col-lg-3">
                                            <label class="control-label">Inspector Acceptance Date-Time (Starts at)</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <input class="form-control" formControlName="inspector_accp_time_starts_at" placeholder="Inspector Acceptance Date-Time Starts at ..">
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click');reset_form()">Cancel</button>
                    <button class="btn btn-outline-success btn-pill custom-btn" (click)="assignStandaloneAudit();">Assign</button>
                </div>
            </mat-tab>
            <mat-tab label="Periodic Audit">
                <div class="kt-heading kt-heading--md pl-3 mt-0">Create New Audit</div>
                <div class="modal-body">
                    <form class="kt-form" id="kt_form" [formGroup]="new_audit_periodic">
                        <div class="kt-wizard-v1__content">
                            <div class="kt-form__section kt-form__section--first">
                                <div class="kt-wizard-v1__form enter-basics">
                                    <!--   <div class="row validated"> -->
                                    <!--<div class="col-xl-6">-->
                                    <div class="form-group row validated">
                                        <div class="col-lg-3">
                                            <label class="control-label">Retailers</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <ng-multiselect-dropdown [placeholder]="'Select Retailer'" [data]="dropdownList" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                                (onSelectAll)="onSelectAll($event)" (onDeSelect)="onDeSelect($event)" [(ngModel)]="selectedItems1"
                                                (onDeSelectAll)="onDeSelectAll($event)" formControlName="retailer" [required]='requiredField1'
                                                (blur)="setClass()" (click)="setClass()">
                                            </ng-multiselect-dropdown>
                                            <div *ngIf="timediff.isControlHasError('retailer','required',new_audit_periodic) && !requiredField1">
                                                <span class="invalid-feedback">Please Select Retailer.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- </div>-->
                                    <div class="form-group row validated">
                                        <div class="col-lg-3">
                                            <label class="control-label">Audit Start Date</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <div class="input-group">
                                                <input class="form-control" (mouseover)="setDate()" placeholder="Select Start Date" formControlName="startDate" [matDatetimepicker]="dts1"
                                                    required autocomplete="false" [min]="currentDate" (dateChange)="onDateSelect($event,new_audit_periodic)">
                                                <span class="input-group-addon calendar-matappend">
                                                    <mat-datetimepicker-toggle [for]="dts1"></mat-datetimepicker-toggle>
                                                </span>
                                                <mat-datetimepicker (mouseover)="setDate()" #dts1 type="datetime" openOnFocus="true" mode="auto" timeInterval="5"></mat-datetimepicker>
                                            </div>
                                            <div *ngIf="timediff.isControlHasError('startDate','required',new_audit_periodic)">
                                                <span class="invalid-feedback">Please Select Start Date.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row validated">
                                        <div class="col-lg-3">
                                            <label class="control-label">Audit End Date</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <div class="input-group">

                                                <input class="form-control" (mouseover)="setDate()" placeholder="Select End Date" formControlName="endDate" [matDatetimepicker]="dte1"
                                                    required autocomplete="false" [min]="min_date" (dateChange)="onDateSelect_end($event,new_audit_periodic)">
                                                <span class="input-group-addon calendar-matappend2">
                                                    <mat-datetimepicker-toggle [for]="dte1"></mat-datetimepicker-toggle>
                                                </span>
                                                <mat-datetimepicker (mouseover)="setDate()" #dte1 type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                            </div>
                                            <div *ngIf="timediff.isControlHasError('endDate','required',new_audit_periodic)">
                                                <span class="invalid-feedback">Please Select Start Date.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--   <div class="form-group row validated">
                                      <div class="control-label col-lg-2"><label>Audit Range Date</label></div>
                                      <div  class="col-xl-9">
                                         <div class="input-group">
                                            <mat-datetimepicker #ote type="datetime" openOnFocus="true" timeInterval="5" ></mat-datetimepicker>
                                          <input   class="form-control" formControlName="outDate" [matDatetimepicker]="ote" required autocomplete="false" [min]="currentDate" [max]="currentDate">
                                            <span class="input-group-addon">
                                               <mat-datetimepicker-toggle [for]="ote" ></mat-datetimepicker-toggle>
                                            </span>
                                         </div>
                                      </div>
                                   </div> -->
                                    <div class="form-group row validated">
                                        <div class="col-lg-3">
                                            <label class="control-label">Total Time Period</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <input class="form-control" formControlName="time_period_per_audit">
                                        </div>
                                    </div>
                                    <div class="form-group row validated">
                                        <div class="col-lg-3">
                                            <label class="control-label">No of Audit Cycle</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <input type="number" class="form-control" formControlName="no_of_cycles" placeholder="Enter Number" min="1">
                                            <div class="select-errors" *ngIf="timediff.isControlHasError('no_of_cycles','required',new_audit_periodic)">
                                                <span class="invalid-feedback d-block">Please Select Number of Audit Cycle.</span>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-group row validated">
                                        <div class="col-lg-3">
                                            <label class="control-label">Inspectors</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <select class="form-control" formControlName="inspectors">
                                                <option [ngValue]="null" disabled>Select Inspector</option>
                                                <option *ngFor="let insp of inspList | unique:'insp_name'" [ngValue]="insp.user_id">
                                                    {{ insp.insp_name}}
                                                </option>
                                            </select>
                                            <div *ngIf="timediff.isControlHasError('inspectors','required',new_audit_periodic)">
                                                <span class="invalid-feedback">Please Select an Inspector.</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!--  <!-- number of year or hours -->
                                    <div class="form-group row validated">
                                        <div class="col-lg-3">
                                            <label>Inspector Acceptance Duration</label>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-6 col-xl-6">
                                                    <!-- <div class="form-group"> -->
                                                    <div class="input-group">
                                                        <input class="form-control" type="number" placeholder="Enter Number" min="1" formControlName="range" [(ngModel)]="range1"
                                                            (keyup)=value_pass(range1,new_audit_periodic,2)>
                                                        <div class="input-group-append">
                                                            <span class="input-group-addon calendar-matappend">
                                                                <button type="button" class="btn days-btn mat-icon-button mat-button-base" [matMenuTriggerFor]="menuPeriodic" #menuTriggerPeriodic="matMenuTrigger"
                                                                    (mouseenter)="menuTriggerPeriodic.openMenu()" [disabled]="!range1">

                                                                    <div class="mat-button-wrapper">
                                                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                                                    </div>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                 <!--   <div *ngIf=" !requiredField_periodic">
                                                        <span class="invalid-feedback">Please select Inspector Acceptance Duration.</span>
                                                    </div>-->
                                                    <!-- </div> -->
                                                </div>
                                                <div class="col-lg-6 col-xl-6">
                                                    <!-- <div class="form-group"> -->
                                                    <input class="form-control" type="text" placeholder="Select Duration" formControlName="chosenDuration" readonly>
                                                    <div *ngIf="timediff.isControlHasError('chosenDuration','required',new_audit_periodic)">
                                                        <span class="invalid-feedback">Please Select Duration.</span>
                                                    </div>
                                                    <!-- </div> -->
                                                </div>
                                                <mat-menu #menuPeriodic="matMenu">
                                                    <span (mouseleave)="menuTriggerPeriodic.closeMenu()">
                                                        <span *ngFor="let timech of timediff.TimeChoose">
                                                            <button mat-menu-item color="primary" (click)="chosenPeriod(timech.type,new_audit_periodic,2)">{{timech.type}}<span *ngIf="range1 > 1">s</span>
                                                                
                                                            </button>
                                                        </span>

                                                    </span>
                                                </mat-menu>


                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <!--   </div>-->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click');reset_form()">Cancel</button>
                    <button class="btn btn-outline-success btn-pill custom-btn" (click)="assignPeriodicAudit(warningpop);">Assign</button>
                </div>
            </mat-tab>
            <!-- <mat-tab>
                        <ng-template mat-tab-label class="button-row" style="float:right">
                          <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset_form()">
                             <span aria-hidden="true">&times;</span>
                            </button>
                        </ng-template> -->
            <!-- </mat-tab> -->
        </mat-tab-group>
        <!-- </mat-card> -->

    </ng-template>


    <ng-template #warningpop let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Audit Scheduled Dates with Time</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="allwarnings" *ngFor="let audit of auditScheduledDateTimeInTsp;let i=index">
                <div class="sublists">
                    <ul>
                        <li>
                            {{ i + 1 | ordinal }} Audit Scheduled at
                            <b>{{audit*1000 | date:'short'}}</b>
                        </li>
                    </ul>


                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-pill btn-outline-success btn-sm pull-right custom-btn" (click)="modal.close('Close click');closeModal();">OK</button>


        </div>
    </ng-template>
    <!-- Model Box in DEtails -->
    <ng-template #Details let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Audit Details </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="kt-form__section kt-form__section--first">
                <div class="kt-wizard-v1__form">
                    <div class="kt-form__actions">
                        <div class="row kt-margin-b-30">
                            <div class="col-xs-12 col-md-12 col-lg-12">
                                <!-- <div class="kt-form__filtration"> -->
                                <div class="row align-items-center search-store">
                                    <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                        <div class="kt-input-icon kt-input-icon--left">
                                            <input type="text" class="form-control product-btn" placeholder="Search..." (keyup)="timediff.applyFilter1($event.target.value)">
                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                <span>
                                                    <i class="la la-search"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                        <div class="">
                                            <div class="row align-items-center">
                                                <div class="col-md-2 pr-0">
                                                    <label class="mb-0 pull-right">Status:</label>
                                                </div>
                                                <div class="col-md-10">
                                                    <select class="bootstrap-select form-control product-btn ml-2" (change)="statusChanged($event)">
                                                        <option [ngValue]=0>All</option>

                                                        <option *ngFor="let status of statusList" [ngValue]="status.status_id">
                                                            {{ status.status_name}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <!-- <select class="col-md-5 bootstrap-select form-control product-btn dpdwn" (change)="typeChanged($event)">
                                                                           <option [ngValue]=0>All</option>
                                                                            <option *ngFor="let type of typesList" [ngValue]="type.audit_type">
                                                                                {{ type.audit_name}} 
                                                                                </option>
                                                                      </select>-->
                                            </div>
                                        </div>
                                    </div>




                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table in modal -->

            <div class="mat-table__wrapper work-table">
                <mat-table class="lmat-elevation-z8" [dataSource]="dataSource1" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
                    <!-- Checkbox Column -->

                    <!-- Table with selection -->
                    <!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->


                    <ng-container matColumnDef="s_no">
                        <!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
                        <mat-header-cell class="max-one" *matHeaderCellDef>S.No</mat-header-cell>
                        <mat-cell class="max-one" *matCellDef="let row;let i = index">
                            {{ this.currentPage == 0 ? i+1 : (i +1)+ this.currentPage * this.pageSize}}
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="retailer">
                        <mat-header-cell class="max-two" *matHeaderCellDef>Retailer</mat-header-cell>
                        <mat-cell class="max-two" *matCellDef="let row"> {{row.retail_audit_list[0]['retailer']}} - {{row.retailers}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="s_date">
                        <mat-header-cell class="max-two" *matHeaderCellDef>Start Date</mat-header-cell>
                        <mat-cell class="max-two" *matCellDef="let row">
                            {{(row.overall_audit_start_date * 1000)| date:'short'}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="e_date">
                        <mat-header-cell class="max-two" *matHeaderCellDef>End Date</mat-header-cell>
                        <mat-cell class="max-two" *matCellDef="let row">
                            {{(row.overall_audit_end_date * 1000) | date:'short'}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ins">
                        <mat-header-cell class="max-two" *matHeaderCellDef>Assigned Inspector</mat-header-cell>
                        <mat-cell class="max-two" *matCellDef="let row">
                            {{row.inspectors}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <mat-header-cell class="max-two header-cell" *matHeaderCellDef>Status</mat-header-cell>

                        <mat-cell class="max-two action-cell" *matCellDef="let row">
                            <button *ngIf="row.audit_status==1" type="button" placement="left" class="btn btn-outline-primary btn-pill btn-prop" [ngbPopover]="popContent"
                                [popoverTitle]="popTitle" (click)="Timeline_view(row)">Scheduled</button>
                            <button *ngIf="row.audit_status==2" type="button" placement="left" class="btn btn-outline-warning btn-pill btn-prop" [ngbPopover]="popContent"
                                [popoverTitle]="popTitle" (click)="Timeline_view(row)">Acceptance Overdue</button>
                            <button *ngIf="row.audit_status==3" type="button" placement="left" class="btn btn-outline-success btn-pill btn-prop" [ngbPopover]="popContent"
                                [popoverTitle]="popTitle" (click)="Timeline_view(row)">Accepted</button>
                            <button *ngIf="row.audit_status==4" type="button" placement="left" class="btn btn-outline-danger btn-pill btn-prop" [ngbPopover]="popContent"
                                [popoverTitle]="popTitle" (click)="Timeline_view(row)">Declined</button>
                            <button *ngIf="row.audit_status==5" type="button" placement="left" class="btn btn-outline-warning btn-pill btn-prop" [ngbPopover]="popContent"
                                [popoverTitle]="popTitle" (click)="Timeline_view(row)">Audit Overdue</button>
                            <button *ngIf="row.audit_status==6" type="button" placement="left" class="btn btn-outline-dark btn-pill btn-prop" [ngbPopover]="popContent"
                                [popoverTitle]="popTitle" (click)="Timeline_view(row);"  >Reschedule Requested</button>
                                <button *ngIf="row.audit_status==7" type="button" placement="left" class="btn btn-outline-success btn-pill btn-prop" [ngbPopover]="popContent"
                                [popoverTitle]="popTitle" (click)="Timeline_view(row);"  >Audit Sumbited</button>



                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <mat-header-cell class="max-two" *matHeaderCellDef>Action</mat-header-cell>
                        <mat-cell class="max-two action-cell" *matCellDef="let row">
                            <button class="btn btn-sm btn-clean btn-icon" (click)="row.audit_status==6?EditReschedule(row,Reschedule):row.audit_status==5?editAuditOverdue(row,Overdue):null"  mat-icon-button [disabled]="(row.audit_status==6 || row.audit_status==5)?false:true">
                                <mat-icon>create</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>

                    <mat-row *matRowDef="let row; columns: displayedColumns1"></mat-row>
                </mat-table>
                <div class="mat-table__message" *ngIf="dataSource1.data.length === 0">No records found</div>
                <!-- Message for empty data  -->
                <div class="mat-table__message" *ngIf="dataSource1.isPreloadTextViewed$ | async">Please wait....</div>
                <div class="mat-table__bottom">
                    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [length]="totalSize" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)"
                        [showFirstLastButtons]="true">
                    </mat-paginator>
                    <!--   <mat-paginator #paginator1 [length]="dataSource1.data.length"
                    [pageSize]="5" [pageSizeOptions]="[3,5, 10, 20]"  (page)="getData($event)" ></mat-paginator>-->

                </div>
            </div>




        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-pill btn-outline-success btn-sm pull-right" (click)="modal.close('Close click');">OK</button>


        </div>
    </ng-template>
    <!--timeline-->
    <ng-template #popContent>
        <div class="col-xl-12 rmv-padd">
            <kt-portlet [class]="'kt-portlet--height-fluid'">
                <kt-portlet-header [title]="'Recent Activities'">
                    <!--	<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
                </ng-container>-->
                <button type="button" class="close" aria-label="Close" (click)="p.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
                </kt-portlet-header>
                <kt-portlet-body>
                    <div perfectScrollbar [ngStyle]="{'max-height': '50vh'}" class="kt-timeline-v2">
                        <div class="kt-timeline-v2__items kt-padding-top-25 kt-padding-bottom-30">
                            <ng-container *ngFor="let item of data">
                                <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>
                            </ng-container>
                        </div>
                    </div>

                    <ng-template #itemTemplate let-item="item">
                        <div class="kt-timeline-v2__item">
                            <span class="kt-timeline-v2__item-time date">{{item.time}}</span>
                            <div class="kt-timeline-v2__item-cricle">
                                <i [ngClass]="item.icon ? item.icon :'fa fa-genderless'"></i>
                            </div>
                            <div class="kt-timeline-v2__item-text kt-padding-top-5 inner-txt" [innerHTML]="item.text"></div>

                            <div class="kt-list-pics kt-list-pics--sm kt-padding-l-20" [innerHTML]="item.attachment"></div>
                        </div>
                    </ng-template>
                </kt-portlet-body>
            </kt-portlet>
        </div>
    </ng-template>



    <!--timeline-->

</kt-portlet>
<!-- Reschedule-modal -->
<div class="kt-section ">
    <div class="kt-section__content">
        <ng-template #content8 let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Add work Category</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" method="post" (ngSubmit)="add_work_master()" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div class="modal-body">

                    <button type="button" mat-icon-button color="primary" matTooltip="Edit user" (click)="addAddress()">
                        <mat-icon>add</mat-icon>
                    </button>

                    <p class="container border mb-4 p-3" *ngFor="let category of categorys; let i = index;">

                        Category {{i + 1}}:
                        <input type="text" [(ngModel)]="category.name" name="category">
                        <button type="button" mat-icon-button color="primary" matTooltip="Edit user" (click)="removeAddress(i)">
                            <mat-icon>indeterminate_check_box</mat-icon>
                        </button>
                    </p>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click')">Close</button>
                    <button type="submit" class="btn btn-outline-success btn-pill custom-btn">Save changes</button>
                </div>
            </form>
        </ng-template>

    </div>
</div>
<!-- End Modal - ->
   <!-- Edit modal -->

<div class="kt-section ">
    <div class="kt-section__content">
        <ng-template #Reschedule let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Reschedule</h4>
                <button type="button" class="close" aria-label="Close" #closebutton (click)="c('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- [formGroup]="Edit_Reschedule_form" -->
            <form class="form-horizontal" id="kt_form" [formGroup]="Edit_reschedule"  (ngSubmit)="onSubmit()">
            <div class="modal-body">

                <div class="row validated">
                    <label class="control-label col-lg-3">Reschedule Requested Date</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" placeholder="Enter Schedule Date" formControlName="Date" readonly>
                    </div>
                </div>
                <br>
                <div class="row validated">
                    <label class="control-label col-lg-3">Inspector</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" placeholder="Enter The Inspectors"  formControlName="Inspector_name" readonly >
                    </div>
                </div>
                <br>
                <div class="row validated">
                    <label class="control-label col-lg-3">Updated at</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" placeholder="Enter  Update Date" formControlName="Update_at" readonly >
                    </div>
                </div>
                <br>
                <span *ngIf="reschedule_view==true">



                <div class="form-group row validated">
                    <label class="control-label col-lg-3">Choose Other Inspector</label>
                    <div class="col-lg-9">
                        <select class="form-control" formControlName="inspectors">
                            <option [ngValue]="''" disabled>Select Inspector</option>
                            <option *ngFor="let insp of list | unique:'insp_name'" [ngValue]="insp.user_id">
                                {{ insp.insp_name}}
                            </option>
                        </select>
                        <!--&& reschedule_check==true-->
                       
                      
                      
                        <div *ngIf="(ins.touched || ins.dirty)&&(ins.errors?.required||ins.errors) || reschedule_check">
                      <!--  <div *ngIf="Edit_reschedule.get('inspectors').hasError('required') && Edit_reschedule.get('inspectors').touched">-->
                            
                        <span class="invalid-feedback">Please Select an Inspector.</span>
                        
                    </div>
                    </div>
                </div>
            </span>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success btn-pill custom-btn" (click)="AcceptAssign_Reschedule('Accpet');" (mouseenter)="reschedule_view=false" >Accept</button>
                <button type="submit" class="btn btn-outline-primary btn-pill custom-btn" (click)="AcceptAssign_Reschedule('Assign');"  (mouseenter)="reschedule_view=true">Assign</button>
                <!-- <button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click')">Close</button> -->
                
            </div>  
            </form>
        </ng-template>

    </div>
</div>

<!--Audit Overdue Modal-->
<div class="kt-section ">
    <div class="kt-section__content">
        <ng-template #Overdue let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Audit Overdue</h4>
                <button type="button" class="close" aria-label="Close" #closebutton (click)="c('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
         
            <form class="form-horizontal" id="kt_form" [formGroup]="audit_overdue">
            <div class="modal-body">

                <div class="form-group row validated">
                        <div class="col-lg-3">
                    <label>Assigned Inspector</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" formControlName="assigned_insp" readonly>
                    </div>
                </div>
                <br>

          

          
                <div class="form-group row validated">
                    <div class="col-lg-3">
                        <label>Inspector Acceptance Duration</label>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6">
                                <!-- <div class="form-group"> -->
                                <div class="input-group">
                                    <input class="form-control" type="number" placeholder="Enter Number" min="1" formControlName="range" [(ngModel)]="range2"
                                        (keyup)=value_pass(range2,audit_overdue,3)>
                                    <div class="input-group-append">
                                        <span class="input-group-addon calendar-matappend">
                                            
                                            <button type="button" class="btn days-btn mat-icon-button mat-button-base" [matMenuTriggerFor]="menu" #menuTriggerStandalone="matMenuTrigger"
                                                (mouseenter)="menuTriggerStandalone.openMenu()" [disabled]="!range2">
                                                <!-- [disabled]="!range2"-->

                                                <div class="mat-button-wrapper">
                                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                                </div>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                              <!--  <div *ngIf="!requiredField_auditoverdue">-->
                                  {{range2}} {{timpepartAuditOverdue}} {{audit_overdue.controls.range.value}} {{audit_overdue.controls.chosenDuration.value}}
                                  <div *ngIf="timediff.isControlHasError('range','required',audit_overdue)">
                                        <span class="invalid-feedback">Please Select Inspector Acceptance Duration.</span>
                                    </div>
                                <!-- </div> -->
                            </div>
                            <div class="col-lg-6 col-xl-6">
                                <!-- <div class="form-group"> -->
                                <input class="form-control" type="text" placeholder="Select Duration" formControlName="chosenDuration" readonly>
                                <!-- </div> -->
                                <div *ngIf="timediff.isControlHasError('chosenDuration','required',audit_overdue)">
                                    <span class="invalid-feedback">Please Select Duration.</span>
                                </div>
                            </div>
                            <mat-menu #menu="matMenu">
                                <span (mouseleave)="menuTriggerStandalone.closeMenu()">
                                    <span *ngFor="let timech of timediff.TimeChoose">
                                        <button mat-menu-item color="primary" (click)="chosenPeriod(timech.type,audit_overdue,3)">{{timech.type}}<span *ngIf="range2 > 1">s</span>
                                            
                                        </button>
                                    </span>

                                </span>
                            </mat-menu>


                        </div>
                     
                    </div>
                </div>



                    <div class="form-group row validated">
                        <label class="control-label col-lg-3">Choose New Inspector</label>
                        <div class="col-lg-9">
                            <select class="form-control" formControlName="inspectors">
                                <option [ngValue]="''" disabled>Select Inspector</option>
                                <option *ngIf="list.length==0" [ngValue]="''" disabled>No Data</option>
                                
                                <option *ngFor="let insp of list | unique:'insp_name'" [ngValue]="insp.user_id">
                                    {{ insp.insp_name}}
                                </option>
                            </select>
                            <div *ngIf="timediff.isControlHasError('inspectors','required',audit_overdue)">
                                    <span class="invalid-feedback">Please Select New Inspector Date.</span>
                                </div>
                         
                        </div>
                    </div>
            
               
            </div>
            <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success btn-pill custom-btn" (click)="auditOverdueAssign(audit_overdue,3);">Assign</button>
                    <!-- <button type="button" class="btn btn_close btn-pill custom-btn" (click)="c('Close click')">Close</button> -->
                    
                </div>  
            </form>
        </ng-template>

    </div>
</div>