@import "sass/pages/wizard/wizard-1";
.productnew-btn{
    border-radius:2rem;
    margin-left:10px;
  }@import "sass/pages/wizard/wizard-1";
.productnew-btn{
    border-radius:2rem;
    // margin-left:10px;
  }
  .kt-wizard-v1__nav-label{
      font-size:12px !important;
      margin-top:-5px;
  }
  // .kt-wizard-v1__nav-item:after{
  //   // color:#8a2be2 !important;
  //   display:none !important;
  // }
  .kt-wizard-v1__nav-item[data-ktwizard-state="current"] .kt-wizard-v1__nav-icon{
    // color:#8a2be2 !important;
    color:#b666d2 !important;
  }
  .kt-wizard-v1__nav-item[data-ktwizard-state="current"] .kt-wizard-v1__nav-label{
    // color:#8a2be2 !important;
    color:#b666d2 !important;
  }
  .kt-wizard-v1__nav-item[data-ktwizard-state="current"] + .kt-wizard-v1__nav-icon i:after{
    // color:#8a2be2 !important;
    background-color:#b666d2 !important;
  }
  .kt-wizard-v1__nav-item[data-ktwizard-state="done"] .kt-wizard-v1__nav-icon{
    // color:#989aa7 !important;
    color:#a2a5b9 !important;
  }
  .kt-wizard-v1__nav-item[data-ktwizard-state="done"]:after{
    color:#a2a5b9 !important;
  }
    .kt-wizard-v1__nav-item[data-ktwizard-state="done"] .kt-wizard-v1__nav-label{
    color:#a2a5b9 !important  ;
  }
  .second-retailmaster{
    padding:1rem 0;
  }
  .kt-form{
    padding:0px !important;
  }
  .mat-header-cell{
    font-weight:bold !important;
  }
  // .form-control{
  //   width:75% !important;
  // }
  .kt-portlet{
    margin-bottom:0px !important;
  }
  // .kt-wizard-v1__nav-icon i{
  //   font-size:45px !important;
  // }
  .mat-cell div{
    position:absolute;
  }
  .enter-basics .form-control{
    width:85% !important;
  }
  .kt-form__actions{
    padding:0px !important;
  }
  .kt-wizard-v1__nav-body{
    padding:0px !important;
  }
  .kt-wizard-v1__nav-icon{
    margin-bottom:0px !important;
  }
  // mat-header-cell{
  //   justify-content:center;
  // }
  .kt-wizard-v1__nav-icon i{
    font-size:2.2rem;
  }
  .kt-portlet__body{
    padding:10px !important;
  }
  // .mat-cell{
  //   justify-content:center;
  // }
  .kt-wizard-v1__content{
    margin-bottom:10px !important;
  }
  .kt-heading{
    margin-top:10px 0px;
  }
  // .kt-wizard-v1__nav-icon i:before{
  //   background-color:white;
  //   position:relative;
  //   z-index:1;
  // }
  // .kt-wizard-v1__nav-item:after{
  //   content:"" !important;
  //   position: absolute;
  //   // height:5px;
  //   width:80%;
  //   border:1px dashed #ddd;
  //   top:70px;
  //   left:10%;
  //   // z-index:-1;
  // }
  .kt-wizard-v1__nav-body{
    background-color:white;
  }
  // .kt-wizard-v1__nav-item:after{
  //   display:none;
  // }
  // .kt-wizard-v1__nav-item[data-ktwizard-state="current"]:after{
  //   border-color:green !important;
  // }

  .kt-wizard-v1__nav-item[data-ktwizard-state="current"]:after{
    color: #b666d2 !important;
  }
    .mat-padding{
          padding-right:10px;
    }
	
      .select-planogram select{
        padding-right:0px !important;
        padding-left:0px !important;
        text-transform:capitalize;
      }
      .select-available select{
        padding-right:0px !important;
        padding-left:0px !important;
      }
 
      .table-text{
        font-size:12px;
      }
  
