<kt-portlet class="mb-0">
	<kt-portlet-body>

					<!--begin: Wizard -->
					<div #wizard class="kt-grid kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1" data-ktwizard-state="step-first">
						<div class="kt-grid__item">
							<!--begin: Form Wizard Nav -->
							<div class="kt-wizard-v1__nav">
								<div class="kt-wizard-v1__nav-items  pb-3">
									
									<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step" data-ktwizard-state="current">
										<div class="kt-wizard-v1__nav-body">
											<div class="kt-wizard-v1__nav-icon">
												<!-- <i class="flaticon-bus-stop"></i> -->
												  <i class="flaticon2-shopping-cart first-line"></i>
											</div>
											<div class="kt-wizard-v1__nav-label">
												 Retail Details
											
											</div>
										</div>
									</a>
									<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step">
										<div class="kt-wizard-v1__nav-body">
											<div class="kt-wizard-v1__nav-icon">
												<!-- <i class="flaticon-list"></i> -->
												 <i class="flaticon-medal"></i>
											</div>
											<div class="kt-wizard-v1__nav-label">
												Branding Elements
											</div>
										</div>
									</a>
									<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step">
										<div class="kt-wizard-v1__nav-body">
											<div class="kt-wizard-v1__nav-icon">
												<!-- <i class="flaticon-globe"></i> -->
												   <i class="flaticon2-list-3"></i>
											</div>
											<div class="kt-wizard-v1__nav-label">
												Promotional Material
											</div>
										</div>
									</a>
									<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step">
										<div class="kt-wizard-v1__nav-body">
											<div class="kt-wizard-v1__nav-icon">
												<!-- <i class="flaticon-truck"></i> -->
												<i class="flaticon2-list-2"></i>
											</div>
											<div class="kt-wizard-v1__nav-label">
												 Planogram Details
											</div>
										</div>
									</a>
									<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step">
										<div class="kt-wizard-v1__nav-body">
											<div class="kt-wizard-v1__nav-icon">
												<!-- <i class="flaticon-globe"></i> -->
												   <i class="flaticon2-list-3"></i>
											</div>
											<div class="kt-wizard-v1__nav-label">
												 Check List
											</div>
										</div>
									</a>
								</div>
							</div>
							<!--end: Form Wizard Nav -->
						</div>
			<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">
				<!--begin: Form Wizard Form-->
				<form class="kt-form" id="kt_form" [formGroup]="retails">
					<!--begin: Form Wizard Step 1-->
					<div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
						<div class="kt-heading kt-heading--md">Enter Basic Details</div>
						<div class="kt-form__section kt-form__section--first">
								<div class="kt-wizard-v1__form enter-basics">
								<div class="row validated"> 
										<div class="col-xl-6">
											<div class="form-group">	
											
												<label>Retail ID</label>
												 <!-- {{notFocusedRetailID}} {{dupRetailId}} -->
												<input type="text" class="form-control" formControlName="retail_id" (focus)="notFocusedRetailID = false" (focusout)="notFocusedRetailID = true"
												placeholder="Enter Retail ID">
												<div *ngIf="isControlHasError('retail_id','required')">
														<span class="invalid-feedback">Retail ID is Required.</span>
														
													</div>
													<div *ngIf="dupRetailId===true && notFocusedRetailID===true">
														<span class="invalid-feedback">Retail ID Already Exist.</span>
													</div>
												
											</div>
										</div>
										<div class="col-xl-6">
											<div class="form-group">
												<label>Retailer</label>
												<input type="text" class="form-control" formControlName="retailer"
												placeholder="Enter Name">
														<div *ngIf="isControlHasError('retailer','required')">
															<span class="invalid-feedback">Name is Required.</span>
														</div>
											</div>
										</div>
									</div>

									<div class="row validated">
											<div class="col-xl-6">
												<div class="form-group">
													<label>Retail Category</label>
													<select class="form-control" formControlName="retail_category">
															<option [ngValue]="null" disabled>Select Retail Category</option>
															<option *ngFor="let type of storeCatList" [ngValue]="type.store_name">
										{{ type.store_name }} 
									</option>
														</select>
													<div *ngIf="isControlHasError('retail_category','required')">
															<span class="invalid-feedback">Retail Category is Required.</span>
														</div>
												</div>
											</div>
											<div class="col-xl-6">
												<div class="form-group">
													<label>Email ID</label>
													<input type="text" class="form-control" formControlName="email" (focus)="notFocusedEmail = false" (focusout)="notFocusedEmail = true"
													placeholder="Enter Email ID">
															<div *ngIf="isControlHasError('email','required')">
																<span class="invalid-feedback">Email ID is Required.</span>
															</div>
															<div *ngIf="isControlHasError('email','email')">
																<span class="invalid-feedback">Email ID is not valid.</span>
															</div>
															<div *ngIf="dupRetailEmail===true && notFocusedEmail">
																<span class="invalid-feedback">Email ID Already Exist.</span>
															</div>
															
												</div>
											</div>
										</div>

										<div class="row validated">
											<div class="col-xl-6">
												<div class="form-group">
													<label>Landline Number</label>
													<input type="text" class="form-control" formControlName="landline"
													placeholder="Enter Landline Number">
													<div *ngIf="isControlHasError('landline','required')">
															<span class="invalid-feedback">Landline Number is Required.</span>
														</div>
														<div *ngIf="isControlHasError('landline','pattern')">
															<span class="invalid-feedback">Landline Number is not valid.</span>
														</div>
												</div>
											</div>
											<div class="col-xl-6">
												<div class="form-group">
													<label>Mobile Number</label>
													<input type="text" class="form-control" formControlName="mobile_no" (focus)="notFocusedMobile = false" (focusout)="notFocusedMobile = true"
													placeholder="Enter Mobile Number">
															<div *ngIf="isControlHasError('mobile_no','required')">
																<span class="invalid-feedback">Mobile Number is Required.</span>
															</div>
															<div *ngIf="isControlHasError('mobile_no','pattern')">
																<span class="invalid-feedback">Mobile Number is not valid.</span>
															</div>
															<div *ngIf="dupMobileNum===true && notFocusedMobile">
																<span class="invalid-feedback">Mobile Number Already Exist.</span>
															</div>
												</div>
											</div>
										</div>

										<div class="row validated">
											<div class="col-xl-6">
												<div class="form-group">
													<label>Address Line 1</label>
													<input type="text" class="form-control" formControlName="address_line1"
													placeholder="Enter Address">
													<div *ngIf="isControlHasError('address_line1','required')">
															<span class="invalid-feedback">Address is Required.</span>
														</div>
												</div>
											</div>
											<div class="col-xl-6">
												<div class="form-group">
													<label>Address Line 2</label>
													<input type="text" class="form-control" formControlName="address_line2"
													placeholder="Enter Address">
															<div *ngIf="isControlHasError('address_line2','required')">
																<span class="invalid-feedback">Address is Required.</span>
															</div>
												</div>
											</div>
										</div>

										<div class="row validated">
						
											<div class="col-xl-6">
																<div class="form-group">
																	<label>Country</label>
																	<select class="form-control" formControlName="country" (ngModelChange)="getstate($event)" >
																	<!--	<option value="" disabled>Select Country</option>-->
																		<option [ngValue]="null" disabled>Select Country</option>
																		<option [ngValue]="'101'">India</option>
																		<!--	<option *ngFor="let countrys of country" [ngValue]="countrys.id">-->
														
													<!--</option>-->
																		</select>
																			<div *ngIf="isControlHasError('country','required')">
																				<span class="invalid-feedback">Country is Required.</span>
																			</div>
																		
																</div>
															</div>
															<div class="col-xl-6">
																<div class="form-group">
																	<label>State</label>
																	<select class="form-control" formControlName="state" (ngModelChange)="getdistrict($event)" >
																	<!--	<option value="" *ngIf="disableStateDropdown===true">Select State</option>
																		<option [ngValue]="null" disabled *ngIf="disableStateDropdown===false">Select State</option>-->

																			<option [ngValue]="null" disabled>Select State</option>
																			<option *ngFor="let states of state" [ngValue]="states.id">
														{{ states.name}} 
													</option>
																		</select>
																	<div *ngIf="isControlHasError('state','required')">
																			<span class="invalid-feedback"> State is Required.</span>
																		</div>
																</div>
															</div>
														
														</div>
												<div class="row validated">
												<div class="col-xl-6">
																<div class="form-group">
																	<label>District</label>
																	<select class="form-control" formControlName="district" (ngModelChange)="gettaluk($event)">
																	<!--	<option value="" *ngIf="disableDistrictDropdown===true">Select District</option>

																		<option [ngValue]="null" disabled  *ngIf="disableDistrictDropdown===false">Select District</option>-->
																		<option [ngValue]="null" disabled>Select District</option>
	
																		<option *ngFor="let districts of district" [ngValue]="districts.id"  >
														{{ districts.name}} 
													</option>
																		</select>
																			<div *ngIf="isControlHasError('district','required')">
																				<span class="invalid-feedback">District is Required.</span>
																			</div>
																		
																</div>
															</div>
															<div class="col-xl-6">
																<div class="form-group">
																	<label>Taluk</label>
																	<select class="form-control" formControlName="taluk" (ngModelChange)="getcity()">
																		<!--	<option value="" *ngIf="disableTalukDropdown===true">Select Taluk</option>

																		<option [ngValue]="null" disabled *ngIf="disableTalukDropdown===false">Select Taluk</option>-->
																		<option [ngValue]="null" disabled>Select Taluk</option>

																			<option *ngFor="let taluks of taluk" [ngValue]="taluks.id">
														{{ taluks.name}} 
													</option>
																		</select>
																	<div *ngIf="isControlHasError('taluk','required')">
																			<span class="invalid-feedback"> Taluk is Required.</span>
																		</div>
																</div>
															</div>
														
														</div>
														<div class="row validated">
												<div class="col-xl-6">
																<div class="form-group">
																	<label>Town/Village</label>
																	<input type="text" class="form-control" formControlName="city"
																	placeholder="Enter  Town/Village" (keypress)=typedTownVillage()>
																			<div *ngIf="isControlHasError('city','required')">
																				<span class="invalid-feedback">Town/Village is Required.</span>
																			</div>
																		
																</div>
															</div>
															<div class="col-xl-6">
																<div class="form-group">
																	<label>Pincode</label>
																	<input type="text" class="form-control" formControlName="pincode"
																	placeholder="Enter Pincode">
																			<div *ngIf="isControlHasError('pincode','required')">
																				<span class="invalid-feedback">Pincode is Required.</span>
																			</div>
																</div>
															</div>
														
														</div>

										<div class="row validated">
											<div class="col-xl-6">
												<div class="form-group">
													<label>Business Partner Name</label>
													<input type="text" class="form-control" formControlName="business_partner_name"
													placeholder="Enter Business Partner Name">
													<div *ngIf="isControlHasError('business_partner_name','required')">
															<span class="invalid-feedback">Business Partner Name is Required.</span>
														</div>
												</div>
											</div>
											<div class="col-xl-6">
												<div class="form-group">
													<label>Business Partner Email</label>
													<input type="text" class="form-control" formControlName="business_partner_email"
													placeholder="Enter Business Partner Email">
															<div *ngIf="isControlHasError('business_partner_email','required')">
																<span class="invalid-feedback">Business Partner Email is Required.</span>
															</div>
															<div *ngIf="isControlHasError('business_partner_email','email')">
																<span class="invalid-feedback">Business Partner Email ID is not valid.</span>
															</div>
												</div>
											</div>
										</div>

										<div class="row validated">
											<div class="col-xl-6">
												<div class="form-group">
													<label>TL Name</label>
													<input type="text" class="form-control" formControlName="tl_name"
													placeholder="Enter TL Name">
													<div *ngIf="isControlHasError('tl_name','required')">
															<span class="invalid-feedback">TL Name is Required.</span>
														</div>
												</div>
											</div>
											<div class="col-xl-6">
												<div class="form-group">
													<label>TL Email ID</label>
													<input type="text" class="form-control" formControlName="tl_email"
													placeholder="Enter TL Email ID">
															<div *ngIf="isControlHasError('tl_email','required')">
																<span class="invalid-feedback">TL Email ID is Required.</span>
															</div>
															<div *ngIf="isControlHasError('tl_email','email')">
																<span class="invalid-feedback">TL Email ID is not valid.</span>
															</div>
												</div>
											</div>
										</div>

									</div>
					
						</div>
					</div>
					<!--end: Form Wizard Step 1-->

					<!--begin: Form Wizard Step 2-->
					<div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
	


						<div class="kt-heading kt-heading--md">Available Branding Elements</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v1__form">
							
								
						
								<div class="mat-elevation-z8">
									<div class="mat-table__wrapper brand-overflow">
										<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
										matSortActive="ind" matSortDirection="asc" matSortDisableClear>
											<ng-container matColumnDef="select">
												<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
													<mat-checkbox (change)="$event ? masterToggle() : null"
													[checked]="selection.hasValue() && isAllSelected()"
													[indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
												</mat-header-cell>
												<mat-cell *matCellDef="let row" class="mat-column-checkbox">
													<mat-checkbox (click)="$event.stopPropagation()"
													(change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"></mat-checkbox>
												</mat-cell>
											</ng-container>
										  
										 
											<ng-container matColumnDef="name">
												<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Name</mat-header-cell>
												<mat-cell *matCellDef="let be">
													<span class="table-text">
														
																<select class="form-control" formControlName="be_name" (change)="nameChanged('be_name','be_material','name')">
																		<option [ngValue]="null" disabled>Select Name</option>
																		<option *ngFor="let type of beNameList | unique : 'name'" [ngValue]="type.name">
													{{ type.name}} 
												</option>
																	</select>
																	<div class="select-errors" *ngIf="isControlHasError('be_name','required')">
																		<span class="invalid-feedback d-block">Name is Required.</span>
																	</div>
													</span>
													

												</mat-cell>
											</ng-container>
											<ng-container matColumnDef="material">
												<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Material</mat-header-cell>
												<mat-cell *matCellDef="let be">
													<span class="table-text">
													
															<select class="form-control" formControlName="be_material" (change)="nameChanged('be_material','be_dimension','material')">
																	<option [ngValue]="null" disabled>Select Material</option>
																	<option *ngFor="let type of allDataExcelMaterial | unique:'material'" [ngValue]="type.material">
												{{ type.material}} 
											</option>
																</select>
																<div class="select-errors" *ngIf="isControlHasError('be_material','required')">
																	<span class="invalid-feedback d-block">Material is Required.</span>
																</div>
													</span>
													<div class="invalid-feedback">
															Material is Required.
													</div>
					
													
												
												</mat-cell>
											</ng-container>
											<ng-container matColumnDef="dimensions">
												<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Dimension</mat-header-cell>
												<mat-cell *matCellDef="let be">
														<span class="table-text">
																<select class="form-control" formControlName="be_dimension" (change)="nameChanged('be_dimension','be_measurement','dimensions')">
																		<option [ngValue]="null" disabled>Select Dimensions</option>
																		<option *ngFor="let type of allDataExcelDim | unique:'dimensions'" [ngValue]="type.dimensions">
																			<span *ngIf="type.dimensions!='null'; then thenBlock else elseBlock"></span>
																			<ng-template #thenBlock>
																			{{ type.dimensions }} 
																		</ng-template>
																		<ng-template #elseBlock>
																				NA
																			</ng-template>
												</option>
																	</select>

																	<div class="select-errors" *ngIf="isControlHasError('be_dimension','required')">
																		<span class="invalid-feedback d-block">Dimension is Required.</span>
																	</div>
														</span> 
													
												</mat-cell>
											</ng-container>
											<ng-container matColumnDef="measurement">
													<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Measurement</mat-header-cell>
													<mat-cell *matCellDef="let be">
															<span class="table-text">
																	<select class="form-control" formControlName="be_measurement" (change)="nameChanged('be_measurement','be_uom','measurement')">
																			<option [ngValue]="null" disabled>Select Measurement</option>
																			<option *ngFor="let type of allDataExcelMeasurement" [ngValue]="[type.length,type.height,type.width]">
																				<span *ngIf="type.dimensions=='1-d'">{{ type.length }}</span>
																				<span *ngIf="type.dimensions=='2-d'">{{ type.length }} * {{ type.height }}</span>
																				<span *ngIf="type.dimensions=='3-d'">{{ type.length }} * {{ type.height }} * {{ type.width }} </span>
																				<span *ngIf="type.dimensions=='null'">NA</span>
														
													</option>
																		</select>

																		<div class="select-errors" *ngIf="isControlHasError('be_measurement','required')">
																			<span class="invalid-feedback d-block">Measurements are Required.</span>
																		</div>
															</span>	
														
													</mat-cell>
												</ng-container>
						
											<ng-container matColumnDef="uom">
													<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Unit of Measurement</mat-header-cell>
													<mat-cell *matCellDef="let be">
															<span class="table-text">
																	<select class="form-control" formControlName="be_uom" (change)="nameChanged('be_uom','be_quantity','measurement')">
																			<option [ngValue]="null" disabled>Select Unit of Measurement</option>
																			<option *ngFor="let type of allDataExcelUOM" [ngValue]="type.uom">
																				<span *ngIf="type.uom!='null'; then thenUOMBlock else elseUOMBlock"></span>
																				<ng-template #thenUOMBlock>
																				{{ type.uom }} 
																			</ng-template>
																			<ng-template #elseUOMBlock>
																					NA
																				</ng-template>
													</option>
																		</select>
																		<div   class="select-errors" *ngIf="isControlHasError('be_uom','required')">
																			<span class="invalid-feedback d-block">Measurements are Required.</span>
																		</div>
															</span>
			
													</mat-cell>
											</ng-container>

											<ng-container matColumnDef="quantity">
												<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Quantity</mat-header-cell>
												<mat-cell *matCellDef="let be">
														<span class="table-text">
															<input type="number" class="form-control" formControlName="be_quantity"
															placeholder="Enter Quantity" min="1">
															<div class="select-errors" *ngIf="isControlHasError('be_quantity','required')">
																<span class="invalid-feedback d-block">Quantity is Required.</span>
															</div>
														</span>
														
												</mat-cell>
										</ng-container>

											<ng-container matColumnDef="actions">
													<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Action</mat-header-cell>
													<mat-cell *matCellDef="let be">
															<span class="table-text">
																	<button class="btn btn-outline-primary productnew-btn btn-sm" (click)="clickedAdd(contentSmallAlert)"
																	color="primary" matTooltip="Add Branding Elements">Add</button>
																	
														</span>
													</mat-cell>
											</ng-container>
										   
									   
											<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
											<mat-row class="py-3" *matRowDef="let row; columns: displayedColumns"></mat-row>
										</mat-table>
									  <!--  <div class="mat-table__message" *ngIf="allDataExcel1.length===0">No records found</div>-->
										<!-- Message for empty data  -->
										<!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
									</div>
									 <!-- start: BOTTOM -->
							<!-- <div class="mat-table__bottom"> 
								<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
								<!-- <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner> -->
								<!-- MATERIAL PAGINATOR | Binded to dasources -->
								<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
								<!-- <mat-paginator  [pageSize]="pageSize" [pageSizeOptions]="[1, 10, 20]" 
								[length]="totalSize"
								[pageIndex]="currentPage" (page)="pageEvent = page_chage($event,dataSourceBE.data)"    [showFirstLastButtons]="true"></mat-paginator>
							</div>  -->
								
								</div>	
								
						
							</div>
						</div>

<span *ngIf="assignedBE.length>0">
						<div class="kt-heading kt-heading--md">Assigned Branding Elements</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v1__form">
							
								
						
								<div class="mat-elevation-z8">
									<div class="mat-table__wrapper brand-overflow">
										<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource1" matSort #sort1="matSort"
										matSortActive="ind" matSortDirection="asc" matSortDisableClear>
										{{dataSource1}}
											<ng-container matColumnDef="select">
												<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
													<mat-checkbox (change)="$event ? masterToggle() : null"
													[checked]="selection.hasValue() && isAllSelected()"
													[indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
												</mat-header-cell>
												<mat-cell *matCellDef="let row" class="mat-column-checkbox">
													<mat-checkbox (click)="$event.stopPropagation()"
													(change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"></mat-checkbox>
												</mat-cell>
											</ng-container>
											<ng-container matColumnDef="s_no">
													<mat-header-cell *matHeaderCellDef class="kt-font-boldest">S No</mat-header-cell>
													<mat-cell *matCellDef="let be;let i = index">
														{{ this.currentPage == 0 ?  i+1 : (i +1)+ this.currentPage * this.pageSize}}
													</mat-cell>
											</ng-container>
											<ng-container matColumnDef="name">
													<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Name</mat-header-cell>
													<mat-cell *matCellDef="let be">
															<span class="table-text">{{be.name}}</span>		
													</mat-cell>
											</ng-container>

											<ng-container matColumnDef="material">
													<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Material</mat-header-cell>
													<mat-cell *matCellDef="let be">
															<span class="table-text">{{be.material}}</span>
													</mat-cell>
											</ng-container>

											<ng-container matColumnDef="dimensions">
													<mat-header-cell *matHeaderCellDef  class="kt-font-boldest">Dimension</mat-header-cell>
													<mat-cell *matCellDef="let be">
															<span class="table-text" *ngIf="be.dimension != 'null'">{{be.dimension}}</span>
															<span class="table-text" *ngIf="be.dimension == 'null'">NA</span>
													</mat-cell>
											</ng-container>

											<ng-container matColumnDef="measurement">
													<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Measurements</mat-header-cell>
													<mat-cell *matCellDef="let be">
														
															<span class="table-text" *ngIf="be.dimension == 'null'">NA</span>
															<span class="table-text" *ngIf="be.dimension == '1-d'">{{be.measurement[0]}}</span>
															<span class="table-text" *ngIf="be.dimension == '2-d'">{{be.measurement[0]}} * {{be.measurement[1]}}</span>
															<span class="table-text" *ngIf="be.dimension == '3-d'">{{be.measurement[0]}} * {{be.measurement[1]}} * {{be.measurement[2]}}</span>
													</mat-cell>
											</ng-container>

											<ng-container matColumnDef="uom">
													<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Unit of Measurement</mat-header-cell>
													<mat-cell *matCellDef="let be">
															<span class="table-text" *ngIf="be['uom']!='null'">{{be.uom}}</span>
															<span class="table-text" *ngIf="be['uom']=='null'">NA</span>
													</mat-cell>
											</ng-container>
											<ng-container matColumnDef="quantity">
													<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Quantity</mat-header-cell>
													<mat-cell *matCellDef="let be">
															<span class="table-text">{{be.quantity}}</span>
													</mat-cell>
											</ng-container>
											<ng-container matColumnDef="actions">
													<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Action</mat-header-cell>
													<mat-cell *matCellDef="let be;let i = index">
															
															<button mat-icon-button color="warn" (click)="deleteBE(i)"
															matTooltip="Delete Branding Element" type="button">
																<mat-icon>delete</mat-icon>
															</button>			
													</mat-cell>
											</ng-container>
										  
										 

										   
									   
											<mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
											<mat-row class="py-3" *matRowDef="let row; columns: displayedColumns1"></mat-row>
										</mat-table>
									  <!--  <div class="mat-table__message" *ngIf="allDataExcel1.length===0">No records found</div>-->
										<!-- Message for empty data  -->
										<!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
									</div>
								  <!-- start: BOTTOM -->
								<div class="mat-table__bottom">
									<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
									<!-- <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner> -->
									<!-- MATERIAL PAGINATOR | Binded to dasources -->
									<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
									<mat-paginator  [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" 
									[length]="totalSize"
									[pageIndex]="currentPage" (page)="pageEvent = page_chage($event,dataSource1.data)" [showFirstLastButtons]="true"></mat-paginator>
								</div>
								</div>	
								
						
							</div>
						</div>
					</span>

					</div>
					<!--end: Form Wizard Step 2-->

					<!--begin: Form Wizard Step 3-->
					<div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md">Available Promotional Materials</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v1__form">
							
								
						
								<div class="mat-elevation-z8">
									<div class="mat-table__wrapper brand-overflow">
										<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSourcePromo" matSort #sort1="matSort"
										matSortActive="ind" matSortDirection="asc" matSortDisableClear>
											
										  
										 
											<ng-container matColumnDef="product_category">
												<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Name</mat-header-cell>
												<mat-cell *matCellDef="let be">
													<span class="table-text">
														
																<select class="form-control" formControlName="p_category" (change)="pCategory(i)">
																		<option [ngValue]="null" disabled>Select Category</option>
																		<option *ngFor="let type of pList;let i = index" [ngValue]="i">
													{{ type.product_category}}
												</option>
																	</select>
																	<div *ngIf="isControlHasError('p_category','required')">
																		<span class="invalid-feedback d-block">Product Category is Required.</span>
																	</div>
													</span>
													

												</mat-cell>
											</ng-container>

											<ng-container matColumnDef="name">
												<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Name/Description</mat-header-cell>
												<mat-cell *matCellDef="let be">
														<span class="table-text">
															<input type="text" class="form-control" formControlName="p_description">
															
															

															
														</span>
														
												</mat-cell>
										</ng-container>
										

											<ng-container matColumnDef="quantity">
												<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Quantity</mat-header-cell>
												<mat-cell *matCellDef="let be">
														<span class="table-text">
															<input type="number" class="form-control" formControlName="p_quantity"
															placeholder="Enter Quantity" min="1">
															<div *ngIf="isControlHasError('p_quantity','required')">
																<span class="invalid-feedback d-block">Quantity is Required.</span>
															</div>
														</span>
														
												</mat-cell>
										</ng-container>

											<ng-container matColumnDef="actions">
													<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Action</mat-header-cell>
													<mat-cell *matCellDef="let be">
															<span class="table-text">
																	<button class="btn btn-outline-primary productnew-btn btn-sm" (click)="clickedAddPromo(contentSmallAlert)"
																	color="primary" matTooltip="Add Branding Elements">Add</button>
																	
														</span>
													</mat-cell>
											</ng-container>
										   
									   
											<mat-header-row *matHeaderRowDef="displayedColumnsPromo"></mat-header-row>
											<mat-row class="py-3" *matRowDef="let row; columns: displayedColumnsPromo"></mat-row>
										</mat-table>
									  <!--  <div class="mat-table__message" *ngIf="allDataExcel1.length===0">No records found</div>-->
										<!-- Message for empty data  -->
										<!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
									</div>
									  <!-- start: BOTTOM -->
								<!-- <div class="mat-table__bottom"> -->
									<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
									<!-- <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner> -->
									<!-- MATERIAL PAGINATOR | Binded to dasources -->
									<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
									<!-- <mat-paginator  #paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator> -->
								<!-- </div> -->
								
								</div>	
								
						
							</div>
						</div>

						<span *ngIf="assignedPromo.length>0">
								<div class="kt-heading kt-heading--md">Assigned Promo Materials</div>
								<div class="kt-form__section kt-form__section--first">
									<div class="kt-wizard-v1__form">
									
										
								
										<div class="mat-elevation-z8">
											<div class="mat-table__wrapper brand-overflow">
												<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource2" matSort #sort1="matSort"
												matSortActive="ind" matSortDirection="asc" matSortDisableClear>
													<ng-container matColumnDef="select">
														<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
															<mat-checkbox (change)="$event ? masterToggle() : null"
															[checked]="selection.hasValue() && isAllSelected()"
															[indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
														</mat-header-cell>
														<mat-cell *matCellDef="let row" class="mat-column-checkbox">
															<mat-checkbox (click)="$event.stopPropagation()"
															(change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"></mat-checkbox>
														</mat-cell>
													</ng-container>
													<ng-container matColumnDef="s_no">
															<mat-header-cell *matHeaderCellDef  class="kt-font-boldest">S No</mat-header-cell>
															<mat-cell *matCellDef="let be;let i = index">
																{{ this.currentPage == 0 ?  i+1 : (i +1)+ this.currentPage * this.pageSize}}
															</mat-cell>
													</ng-container>
													<ng-container matColumnDef="product_category">
															<mat-header-cell *matHeaderCellDef  class="kt-font-boldest">Category</mat-header-cell>
															<mat-cell *matCellDef="let be">
																	<span class="table-text">{{be.category}}</span>		
															</mat-cell>
													</ng-container>
													<ng-container matColumnDef="name">
															<mat-header-cell *matHeaderCellDef  class="kt-font-boldest">Name/Description</mat-header-cell>
															<mat-cell *matCellDef="let be">
																	<span class="table-text">{{be.name}}</span>		
															</mat-cell>
													</ng-container>
		
							
													<ng-container matColumnDef="quantity">
															<mat-header-cell *matHeaderCellDef  class="kt-font-boldest">Quantity</mat-header-cell>
															<mat-cell *matCellDef="let be">
																	<span class="table-text">{{be.quantity}}</span>
															</mat-cell>
													</ng-container>
													<ng-container matColumnDef="actions">
															<mat-header-cell *matHeaderCellDef  class="kt-font-boldest">Action</mat-header-cell>
															<mat-cell *matCellDef="let be;let i = index">
																	
																	<button mat-icon-button color="warn" (click)="deletePromo(i)"
																	matTooltip="Delete Promo Material" type="button">
																		<mat-icon>delete</mat-icon>
																	</button>			
															</mat-cell>
													</ng-container>
												  
												 
		
												   
											   
													<mat-header-row *matHeaderRowDef="displayedColumnsPromo1"></mat-header-row>
													<mat-row *matRowDef="let row; columns: displayedColumnsPromo1"></mat-row>
												</mat-table>
											  <!--  <div class="mat-table__message" *ngIf="allDataExcel1.length===0">No records found</div>-->
												<!-- Message for empty data  -->
												<!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
											</div>
											 <!-- start: BOTTOM -->
									<div class="mat-table__bottom">
										<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
										<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
										<!-- MATERIAL PAGINATOR | Binded to dasources -->
										<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
										<mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5,10, 20]" 
										[length]="totalSize1"
										[pageIndex]="currentPage" (page)="pageEvent = page_chage($event,dataSource2.data)"  [showFirstLastButtons]="true"></mat-paginator>
									</div>
										</div>	
										
								
									</div>
								</div>
							</span>
					</div>
					<!--end: Form Wizard Step 3-->

					<!--begin: Form Wizard Step 4-->
					<div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md">Available Products</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v1__form">
									<mat-table #table [dataSource]="dataSourceProducts" class="mat-elevation-z8">

											<ng-container *ngFor="let disCol of displayedColumnsProduct; let colIndex = index; let formcontrols of productReatilsControls" matColumnDef="{{disCol}}">
												<mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell>
											
												<mat-cell *matCellDef="let element"> 
													<span *ngIf="formcontrols!='Quantity' && formcontrols!='Action'">
														<select class="form-control" [formControlName]="formcontrols" (change)="productChanged(colIndex,formcontrols)">
																<option [ngValue]="null" disabled>Select {{disCol}} </option>

																

										<span *ngIf="colIndex===0 || colIndex===displayedColumnsProduct.length-3; then thenBlock else elseBlock"></span>
																			<ng-template #thenBlock>
																				<span *ngIf="colIndex===0; then then1Block else else1Block"></span>
																				
																			<ng-template #then1Block>
																				<option *ngFor="let type of productList | unique: formcontrols" [ngValue]="type[formcontrols]">
																					{{type[formcontrols]}} 
													</option>
													</ng-template>
													<ng-template #else1Block>
															<option *ngFor="let type of Type;let i=index" [ngValue]="type.viewValue">
																	{{ type.viewValue }}
																</option>
															</ng-template>
																		</ng-template>
																	
																		<ng-template #elseBlock>

																			<option *ngFor="let type of productList[formcontrols] | unique: formcontrols" [ngValue]="type[formcontrols]">
																				{{type[formcontrols]}} 
																		</option>
																			</ng-template>
																			

															</select>
															<div *ngIf="isControlHasError(formcontrols,'required')">
																	<span class="invalid-feedback d-block">{{formcontrols}} is Required.</span>
																</div>
														</span>
													<!--	<span *ngIf="formcontrols =='Type'">
															<span class="table-text">
																<select class="form-control" formControlName="Type" (change)="typeChanged(Type[$event.target.selectedIndex-1])">
																	<option [ngValue]="null" disabled>Select Type</option>
																	
																		<option *ngFor="let type of Type;let i=index" [ngValue]="type.viewValue">
																			{{ type.viewValue }}
																		</option>
																	
																</select>
																<div *ngIf="isControlHasError('Type','required')">
																	<span class="invalid-feedback d-block">Type is Required.</span>
																</div>
															</span>
															
														</span>-->
														<span *ngIf="formcontrols =='Quantity'">
																		<span class="table-text">
																			<input type="number" class="form-control" formControlName="Quantity"
																			placeholder="Enter Quantity" min="1">
																			<div *ngIf="isControlHasError('Quantity','required')">
																				<span class="invalid-feedback d-block">Quantity is Required.</span>
																			</div>
																		</span>
																		
															</span>
															<span *ngIf="formcontrols =='Action'">
																			<span class="table-text">
																					<button class="btn btn-outline-primary productnew-btn  btn-sm" (click)="clickedAddProduct(contentSmallAlert)"
																					color="primary" matTooltip="Add">Add</button>
																					
																		</span>
																</span>
												</mat-cell>
											</ng-container>
										
									
											<mat-header-row *matHeaderRowDef="displayedColumnsProduct"></mat-header-row>
											<mat-row class="py-3" *matRowDef="let row; columns: displayedColumnsProduct;"></mat-row>
										</mat-table>
								
						
								<div class="mat-elevation-z8">
									<div class="mat-table__wrapper brand-overflow">
										</div>
										</div>
										</div>
										</div>

										<span *ngIf="assignedProduct.length>0">
											<div class="kt-heading kt-heading--md">Assigned Products</div>
											<div class="kt-form__section kt-form__section--first">
												<div class="kt-wizard-v1__form">
												
													
											
													<div class="mat-elevation-z8">
														<div class="mat-table__wrapper brand-overflow">
															<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource3" matSort #sort1="matSort"
															matSortActive="ind" matSortDirection="asc" matSortDisableClear>
															<ng-container *ngFor="let disCol of displayedColumnsProduct1; let colIndex = index" matColumnDef="{{disCol}}">
																<mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell>
																<mat-cell *matCellDef="let element;let i = index"> 
																		<span *ngIf="disCol == 'S_No'">
																				<span class="table-text">
																	{{i+1}}
																	</span>
																	</span>
																		<span *ngIf="disCol != 'Action' && 'S_No'">
																				<span class="table-text">
																	{{element[disCol]}}
																	</span>
																	</span>
																	<span *ngIf="disCol == 'Action'">
																			<span class="table-text">
																					<button class="btn btn-outline-primary productnew-btn btn-sm" (click)="deletePro(i)"
																					color="primary" matTooltip="Delete Assigned Product">Delete</button>
																					
																		</span>
																</span>
																	</mat-cell>
																</ng-container>
					
															   
														   
																<mat-header-row *matHeaderRowDef="displayedColumnsProduct1"></mat-header-row>
																<mat-row *matRowDef="let row; columns: displayedColumnsProduct1"></mat-row>
															</mat-table>
														  <!--  <div class="mat-table__message" *ngIf="allDataExcel1.length===0">No records found</div>-->
															<!-- Message for empty data  -->
															<!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
														</div>
														<!-- start: BOTTOM -->
												<div class="mat-table__bottom">
													<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
													<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
													<!-- MATERIAL PAGINATOR | Binded to dasources -->
													<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
													<mat-paginator  [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" 
													[length]="totalSize2"
													[pageIndex]="currentPage" (page)="pageEvent = page_chage($event,dataSource3.data)"  [showFirstLastButtons]="true"></mat-paginator>
												</div>
													
													</div>	
													
											
												</div>
											</div>
										</span>

										</div>
					<!--end: Form Wizard Step 4-->

					<!--begin: Form Wizard Step 5-->
					<div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
						<!--	<kt-auth-notice class="login-incrct"></kt-auth-notice>-->
							<div class="kt-heading kt-heading--md">Available Check List</div>
							<div class="kt-form__section kt-form__section--first">
								<div class="kt-wizard-v1__form">
										<div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
										[ngClass]="{'show' : selection.selected.length > 0}">
											<!-- We show 'Group Actions' div if smth are selected -->
											<div class="col-xl-12">
												<div class="kt-form__group kt-form__group--inline">
													<div class="kt-form__label kt-form__label-no-wrap">
														<label class="kt-font-bold kt-font-danger-">
															<span></span>
														</label>
													
													</div>
													<div class="kt-form__control kt-form__group--inline">
														<button (click)="fetchUsers()" mat-raised-button matTooltip="Select bulk records"
														class="btn btn-outline-danger product-btn">
															<mat-icon>clear_all</mat-icon>
														Bulk Addition
													
														</button>
													</div>
												</div>
											</div>
										</div>
									
							
									<div class="mat-elevation-z8">
										<div class="mat-table__wrapper brand-overflow">
											<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource4" matSort #sort1="matSort"
											matSortActive="ind" matSortDirection="asc" matSortDisableClear>
											<ng-container matColumnDef="select">
													<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
														<mat-checkbox (change)="$event ? masterToggle() : null"
														[checked]="selection.hasValue() && isAllSelected()"
														[indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
													</mat-header-cell>
													<mat-cell *matCellDef="let row" class="mat-column-checkbox">
														<mat-checkbox (click)="$event.stopPropagation()"
														(change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"></mat-checkbox>
													</mat-cell>
												</ng-container>
												<ng-container matColumnDef="s_no">
														<mat-header-cell *matHeaderCellDef class="kt-font-boldest">S No</mat-header-cell>
														<mat-cell *matCellDef="let be;let i = index">
															{{ this.currentPage == 0 ?  i+1 : (i +1)+ this.currentPage * this.pageSize}}
														</mat-cell>
												</ng-container>
												<ng-container matColumnDef="question">
														<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Question</mat-header-cell>
														<mat-cell *matCellDef="let be">
																<span class="table-text">{{be.desc}}</span>		
														</mat-cell>
												</ng-container>
												<ng-container matColumnDef="ans_category">
														<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Answer Category</mat-header-cell>
														<mat-cell *matCellDef="let be">
																<span class="table-text">{{be.answer_category}}</span>		
														</mat-cell>
												</ng-container>
	
						
											
												<ng-container matColumnDef="action">
														<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Action</mat-header-cell>
														<mat-cell *matCellDef="let be;let i = index">
																
																<button class="btn btn-outline-primary productnew-btn btn-sm" (click)="addQuestion(i)"
																color="primary" matTooltip="Add Check List">Add</button>		
														</mat-cell>
												</ng-container>
											  
											 
	
											   
										   
												<mat-header-row *matHeaderRowDef="displayedColumnsCheckList"></mat-header-row>
												<mat-row *matRowDef="let row; columns: displayedColumnsCheckList"></mat-row>
											</mat-table>
										  <!--  <div class="mat-table__message" *ngIf="allDataExcel1.length===0">No records found</div>-->
											<!-- Message for empty data  -->
											<!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
										</div>
										 <!-- start: BOTTOM -->
									<div class="mat-table__bottom">
										<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
										<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
										<!-- MATERIAL PAGINATOR | Binded to dasources -->
										<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
										<mat-paginator  [pageSize]="pageSize" [pageSizeOptions]="[5,10, 20]" 
										[length]="totalSize4"
										[pageIndex]="currentPage" (page)="pageEvent = page_chage($event,dataSource4.data)"  [showFirstLastButtons]="true"></mat-paginator>
									</div>
									
									</div>
									<span *ngIf="assignedCheckList.length>0">

									<div class="kt-heading kt-heading--md">Assigned CheckList</div>
											<div class="kt-form__section kt-form__section--first">
												<div class="kt-wizard-v1__form">
													
									<div class="mat-elevation-z8">
											<div class="mat-table__wrapper brand-overflow">
												<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource5" matSort #sort1="matSort"
												matSortActive="ind" matSortDirection="asc" matSortDisableClear>
										
													<ng-container matColumnDef="s_no">
															<mat-header-cell *matHeaderCellDef class="kt-font-boldest">S No</mat-header-cell>
															<mat-cell *matCellDef="let be;let i = index">
																{{ this.currentPage == 0 ?  i+1 : (i +1)+ this.currentPage * this.pageSize}}
															</mat-cell>
													</ng-container>
													<ng-container matColumnDef="question">
															<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Question</mat-header-cell>
															<mat-cell *matCellDef="let be">
																	<span class="table-text">{{be.desc}}</span>		
															</mat-cell>
													</ng-container>
													<ng-container matColumnDef="ans_category">
															<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Answer Category</mat-header-cell>
															<mat-cell *matCellDef="let be">
																	<span class="table-text">{{be.answer_category}}</span>		
															</mat-cell>
													</ng-container>
		
							
												
													<ng-container matColumnDef="action">
															<mat-header-cell *matHeaderCellDef class="kt-font-boldest">Action</mat-header-cell>
															<mat-cell *matCellDef="let be;let i = index">
																	<button mat-icon-button color="warn" (click)="deleteQuestion(i)"
																	matTooltip="Delete Question" type="button">
																		<mat-icon>delete</mat-icon>
																	</button>
																	<!--<button class="btn btn-outline-primary productnew-btn" (click)="deleteQuestion(i)"
																					color="primary" matTooltip="Delete Question">Delete</button>-->
																	
															</mat-cell>
													</ng-container>
												  
												 
		
												   
											   
													<mat-header-row *matHeaderRowDef="displayedColumnsCheckList1"></mat-header-row>
													<mat-row *matRowDef="let row; columns: displayedColumnsCheckList1"></mat-row>
												</mat-table>
											  <!--  <div class="mat-table__message" *ngIf="allDataExcel1.length===0">No records found</div>-->
												<!-- Message for empty data  -->
												<!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
											</div>

											 
											<div class="mat-table__bottom">
												<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
												<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
												<!-- MATERIAL PAGINATOR | Binded to dasources -->
												<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
												<mat-paginator  [pageSize]="pageSize" [pageSizeOptions]="[5,10, 20]" 
												[length]="totalSize3"
												[pageIndex]="currentPage" (page)="pageEvent = page_chage($event,dataSource5.data)"  [showFirstLastButtons]="true"></mat-paginator>
											</div>
										
										</div>	
										</div>
										</div>
										</span>
									
							
								</div>
							</div>
					</div>
					<!--end: Form Wizard Step 5-->

					<!--begin: Form Actions -->
					<div class="kt-form__actions">
						<div class="btn btn-pill btn-outline-secondary btn-sm kt-font-bold" data-ktwizard-type="action-prev">
							Previous
						</div>
						<div (click)="onSubmit()" class="btn btn-pill btn-outline-success btn-sm  kt-font-bold" data-ktwizard-type="action-submit">
							Submit
						</div>
						<div (click)="onSubmit_next()" class="btn btn-pill btn-outline-brand btn-sm kt-font-bold" data-ktwizard-type="action-next">
							Next Step
						</div>
					</div>
					<!--end: Form Actions -->
				</form>
				<!--end: Form Wizard Form-->
			</div>
		</div>
		<!--end: Wizard -->

	</kt-portlet-body>

	<ng-template #contentSmallAlert let-c="close" let-d="dismiss">
			<div class="modal-header">
				<h4 class="modal-title warn-color">Warning Message</h4>
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="brand-warning">
					{{msg}}

</p>
			</div>
			
			<div class="modal-footer">
					<button type="button" class="btn btn-pill btn-outline-secondary btn-sm btn_close" (click)="c('Close click')">Cancel</button>
					<button type="button" class="btn btn-pill btn-outline-success btn-sm" (click)="addQuantity(contentSmallAlert1);">Ok</button>

				</div>
		</ng-template>

		<ng-template #contentSmallAlert1 let-c="close" let-d="dismiss">
				<div class="modal-header">
					<h4 class="modal-title warn-color">Warning Message</h4>
					<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>


				<form class="form-horizontal" [formGroup]="quantityGroup">
					<div class="modal-body">
					<div class="form-body">
						<div class="row validated">
							<label class="control-label col-lg-3">Quantity</label>
							<div class="col-lg-9">
								<input type="number" class="form-control" formControlName="be_extraquantity"
									placeholder="Enter Quantity" min="1">
									<div *ngIf="quantityGroup.get('be_extraquantity').invalid && (quantityGroup.get('be_extraquantity').dirty || quantityGroup.get('be_extraquantity').touched)">
										<span class="invalid-feedback"
					*ngIf="quantityGroup.get('be_extraquantity').errors.required">
					Quantity is Required.

				</span>
									</div>
									
								</div>
							</div>
							<br>
							</div>
						</div>
							</form>
			<!--	<form class="kt-form" id="kt_form" [formGroup]="quantityGroup">
				<div class="modal-body">
					<p class="brand-warning">
							<input type="number" class="form-control" formControlName="be_extraquantity"
							placeholder="Enter Quantity" min="0">
							<div *ngIf="quantityGroup.get('be_extraquantity').invalid && (quantityGroup.get('be_extraquantity').dirty || quantityGroup.get('be_extraquantity').touched)">
										<span class="invalid-feedback"
					*ngIf="quantityGroup.get('be_extraquantity').errors.required">
					Quantity is Required.

				</span>
									</div>
							
	
	</p> 
				</div>
			</form>-->
				<div class="modal-footer">
					<button type="button" class="btn btn-pill btn-outline-secondary btn-sm btn_close" (click)="c('Close click')">Cancel</button>

					<button type="button" class="btn btn-pill btn-outline-success btn-sm" (click)="clickedDone();">Done</button>
				</div>
				
			</ng-template>
</kt-portlet>
