<mat-card>
<mat-card-title>Type-1</mat-card-title>
<form class="example-form">
    
    <mat-form-field class="example-full-width">
    <mat-select placeholder="Country" [(ngModel)]="Country"  name="Country" (ngModelChange)="getstate($event)"  >
        <mat-option *ngFor="let countrys of country" [value]="countrys.id">
          {{ countrys.name }}
        </mat-option>
        <!-- <mat-option  [value]="'101'">India</mat-option>
        <mat-option  [value]="'231'" >USA</mat-option> -->
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Region" [(ngModel)]="region" (ngModelChange)="getregstate($event)" name="region" [disabled]="disable">
        <mat-option  [value]="'1'">North</mat-option>
        <mat-option  [value]="'2'">South</mat-option>
        <mat-option  [value]="'3'">East</mat-option>
        <mat-option  [value]="'4'">West</mat-option>
        <mat-option  [value]="'5'">Northeast</mat-option>
        <mat-option  [value]="'6'">Central</mat-option>
        <mat-option  [value]="'7'">Arabian Sea</mat-option>
        <mat-option  [value]="'8'">Bay of Bengal</mat-option>
    
      </mat-select>
    </mat-form-field>
      <mat-form-field class="example-full-width">
      <mat-select placeholder="States/Union Territories" [(ngModel)]="states" (ngModelChange)="getdistrict($event)" name="states">
        <mat-option *ngFor="let states of state" [value]="states.id">
          {{ states.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="District" [(ngModel)]="districts" (ngModelChange)="getcity($event)" name="districts" [disabled]="disable">
      <mat-option *ngFor="let districts of district" [value]="districts.id">
        {{ districts.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
      <mat-form-field class="example-full-width">
    
      <mat-select placeholder="City/Village"  [(ngModel)]="citys" (ngModelChange)="getpincode($event)" name="citys">
        <mat-option *ngFor="let citys of city" [value]="citys.id" >
          {{ citys.city_name }}
        </mat-option>
      </mat-select>
    </mat-form-field> 
    <mat-form-field class="example-full-width" >
      <input matInput placeholder="Pincode" value="{{ pincode.pincode }}">   </mat-form-field>
  </form>

<br>
<br>
<form class="example-form">
<mat-card-title>Type-2</mat-card-title>
 <mat-form-field class="example-full-width">
<mat-select placeholder="Country" [(ngModel)]="Country1"  name="Country1" (ngModelChange)="getstate($event)"  >
        <mat-option *ngFor="let countrys of country" [value]="countrys.id">
          {{ countrys.name }}
   </mat-option>
    </mat-select>
	    </mat-form-field>
   <mat-form-field class="example-full-width">
      <mat-select placeholder="States/Union Territories" [(ngModel)]="states" (ngModelChange)="getdistrict($event)" name="states">
        <mat-option *ngFor="let states of sta" [value]="states.id">
          {{ states.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
<!--<mat-form-field class="example-full-width" >
<mat-select placeholder="Sate Name" [(ngModel)]="Sates1"  name="sates1" (ngModelChange)="getdistrict($event)" name="states">
        <mat-option *ngFor="let  sates1 of sates" [value]="sates1.id" >
          {{ sates1.name }}
        </mat-option>
      </mat-select>
	  </mat-form-field>-->
	  <mat-form-field class="example-full-width">
      <mat-select placeholder="District" [(ngModel)]="districts1" (ngModelChange)="gettaluk($event)" name="districts1">
      <mat-option *ngFor="let districts1 of district1" [value]="districts1.id">
        {{ districts1.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <mat-select placeholder="Taulk/Area/Town" [(ngModel)]="taluks" (ngModelChange)="getcitystaulk($event)" name="taulks">
      <mat-option *ngFor="let taluks of taluk" [value]="taluks.id">
        {{ taluks.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <mat-form-field class="example-full-width">

  <mat-select placeholder="City/Village" [(ngModel)]="citys1" (ngModelChange)="getpincode($event)" name="citys1">
        <mat-option *ngFor="let citys of city1" [value]="citys.id" >
          {{ citys.city_name }}
        </mat-option>
      </mat-select>
    </mat-form-field> 
    <mat-form-field class="example-full-width" >
      <input matInput placeholder="Pincode" value="{{ pincode1.pincode }}">   </mat-form-field>
	  </form>
</mat-card>
