<kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header [title]="'Retail List'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <button type="button" class="btn btn-light-primary font-weight-bolder btn-pill" matTooltip="Excel - Upload, Download"
                [matMenuTriggerFor]="menu">Export
            </button>
            <div [matTooltip]="dedata.length>0 && prodata.length>0 && progrpdata.length>0 && checkdata.length>0? 'Create New Audit' : 'No Master Found'">
            <button class="btn btn-light-primary font-weight-bolder ml-2 btn-pill" (click)="openModal('data')"
                color="primary" [disabled]="dedata.length>0 && prodata.length>0 && progrpdata.length>0 && checkdata.length>0?false:true" >New
                Retail </button>
                </div>
              <!--   <button class="btn btn-outline-primary productnew-btn btn-bsmall" (click)="openLg(warningpop);"
                color="primary" matTooltip="Create New Retail">Warning
                </button>-->
            <input hidden type="file" #uploader (change)="onFileChange($event)"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                multiple="false" />
            <mat-menu #menu="matMenu">
                <button mat-menu-item color="primary" (click)="export('sample')">Sample File</button>
                <button type="submit" mat-menu-item color="primary" (click)="openLg(content);">Upload File</button>
                <button *ngIf="allData?.length>0" mat-menu-item color="primary" (click)="export('db')">Download
                    File</button>
            </mat-menu>
        </ng-container>
    </kt-portlet-header>
	<kt-portlet-body>
            <div class="kt-form__section kt-form__section--first">
                    <div class="kt-wizard-v1__form">
                            <div class="kt-form__actions">
                                    <div class="row kt-margin-b-30">
                                        <div class="col-xs-12 col-md-12 col-lg-12">
                                            <div class="kt-form__filtration">
                                                <div class="row align-items-center search-store">
                                                        <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                                                <div class="kt-input-icon kt-input-icon--left">
                                                                  <input type="text" class="form-control product-btn" placeholder="Search..."  (keyup)="applyFilter($event.target.value)">
                                                                  <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                    <span><i class="la la-search"></i></span>
                                                                  </span>
                                                                </div>
                                                              </div>
                                                    <!-- <div class="col-xs-3 col-md-3 col-lg-3 kt-margin-bottom-10-mobile"> -->
                                                        <!-- <mat-form-field class="mat-form-field-fluid"><input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search"><mat-hint align="start"><strong>Search</strong> in all fields
                                                                    </mat-hint></mat-form-field> -->
                                                        <!-- <input class="search-input" #searchInput placeholder="Search in all fields" -->
                                                            <!-- (keyup)="applyFilter($event.target.value)"> -->
                                                        <!-- </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            <div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
                [ngClass]="{'show' : selection.selected.length > 0}">
                    <!-- We show 'Group Actions' div if smth are selected -->
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label kt-form__label-no-wrap">
                                <label class="kt--font-bold kt-font-danger-">
                                    <span></span>
                                </label>
                                <!-- selectedCountsTitle => function from codeBehind (users-list.component.ts file) -->
                                <!-- selectedCountsTitle => just returns title of selected items count -->
                                <!-- for example: Selected records count: 4 -->
                            </div>
                            <div class="kt-form__control kt-form__group--inline">
                                <button (click)="fetchRetails()" mat-raised-button matTooltip="Delete bulk records"
                                class="btn btn-outline-danger product-btn">
                                    <mat-icon>clear_all</mat-icon>
                                Bulk Delete
                              
                                </button>
                                {{ selection.selected.length }} Records
                            </div>

                        </div>
                    </div>
                </div>
                
                        <!-- <div class="mat-elevation-z8"> -->
                            <div class="mat-table__wrapper brand-overflow">
                                <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
                                matSortActive="ind" matSortDirection="asc" matSortDisableClear>
                                <ng-container matColumnDef="select">
                                        <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"></mat-checkbox>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="s_no">
                                            <mat-header-cell  style="max-width:70px" *matHeaderCellDef>S No</mat-header-cell>
                                            <mat-cell style="max-width:70px" *matCellDef="let be;let i = index">
                                                {{i+1}}	
                                            </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="retail_id">
                                            <mat-header-cell *matHeaderCellDef>Retail ID</mat-header-cell>
                                            <mat-cell *matCellDef="let be">
                                                    <span class="table-text">{{be.retail_id}}</span>		
                                            </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="retailer">
                                            <mat-header-cell *matHeaderCellDef>Retailer</mat-header-cell>
                                            <mat-cell *matCellDef="let be;let i = index">
                                                <span class="table-text">
                                                    <a class="nav-link" href="javascript:void(0);" (click)="viewBasicInfo(i);openMedium(retail,'lg');" matTooltip="View Basic Info">
                                                            {{be.retailer}}
                                                    </a>
                                                    </span>

                                            </mat-cell>
                                    </ng-container>
                                  <!--  <ng-container matColumnDef="basic_info">
                                            <mat-header-cell *matHeaderCellDef>Basic Info</mat-header-cell>
                                            <mat-cell *matCellDef="let be">
                                                    <a class="nav-link" href="javascript:void(0);" (click)="viewBasicInfo()" matTooltip="View Basic Info">Basic Info</a>
                                                 
                                            </mat-cell>
                                    </ng-container>-->
                                    <ng-container matColumnDef="branding_elements">
                                            <mat-header-cell *matHeaderCellDef>Branding Elements</mat-header-cell>
                                            <mat-cell *matCellDef="let be;let i = index;">
                                                    <button  type="button" class="actions-btn"  (click)="viewBEInfo(i);openLarge(table,'xl');" matTooltip="View Branding Elements"  mat-icon-button color="primary">Branding Elements</button>

                                            </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="promo">
                                            <mat-header-cell *matHeaderCellDef>Promo Materials</mat-header-cell>
                                            <mat-cell *matCellDef="let be;let i = index;">
                                                    <button  type="button" class="actions-btn"  (click)="viewPromoInfo(i);openLarge(table,'xl');" matTooltip="View  Promo Materials"  mat-icon-button color="primary"> Promo Materials</button>
	
                                            </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="planogram">
                                            <mat-header-cell *matHeaderCellDef>Planogram</mat-header-cell>
                                            <mat-cell *matCellDef="let be;let i = index;">
                                                    <button  type="button" class="actions-btn"  (click)="viewProInfo(i);openLarge(table,'xl');" matTooltip="View Planogram" mat-icon-button color="primary">Planogram</button>
	
                                            </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="check_list">
                                            <mat-header-cell *matHeaderCellDef>Check List</mat-header-cell>
                                            <mat-cell *matCellDef="let be;let i = index;">
                                                    <button  type="button" class="actions-btn" (click)="viewCheckListInfo(i);openLarge(table,'xl');" matTooltip="View Check List" mat-icon-button color="primary">Check List</button>

                                            </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="assigned_manager">
                                            <mat-header-cell class="text-center" *matHeaderCellDef>Assigned Managers</mat-header-cell>
                                            <mat-cell *matCellDef="let be">
                                                    <span class="table-text">
                                                        <span *ngIf="be.assigned_manager_ids.length>0">
                                                            <select class="form-control pl-1">
                                                                    <option [ngValue]="null" disabled>Manager List</option>
                                                                    <option *ngFor="let id of be.assigned_manager_ids; let i = index" [ngValue]="id" [disabled]=true>
                                                                    {{be.assigned_manager_name[i]}}
                                                                    </option>
                                                                    
                                                                </select>
                                                            </span>
                                                            <span *ngIf="be.assigned_manager_ids.length<=0">
                                                                NA
                                                            </span>
                                                    </span>		
                                            </mat-cell>
                                    </ng-container>



            
                                
                                    <ng-container matColumnDef="action">
                                            <mat-header-cell   *matHeaderCellDef>Actions</mat-header-cell>
                                            <mat-cell *matCellDef="let be;let i = index">
                                                    
                                                    <button class="btn btn-sm btn-clean btn-icon" mat-icon-button 
                                    (click)="openModal(be);"
                                    matTooltip="Edit Retail">
                                        <mat-icon>create</mat-icon>
                                    </button>
                                    <button class="btn btn-sm btn-clean btn-icon" mat-icon-button  (click)="deleteRetail(be.s_no)"
                                    matTooltip="Delete Retail" type="button">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                            </mat-cell>
                                    </ng-container>
                                  
                                 

                                   
                               
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                                </mat-table>
                                <div class="mat-table__message" *ngIf="dataSource.data.length===0">No records found</div>

                                <!-- Message for empty data  -->
                                 <!-- <div class="mat-table__message" *ngIf="loader===true">Please wait....</div> -->
                                     <!-- start: BOTTOM -->
                    <div class="mat-table__bottom">
                      
                        <mat-paginator #paginator [length]="25" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons></mat-paginator>
                    </div>
                    <!-- end: BOTTOM -->
                            </div>
                        	
                        <!-- </div> -->
              
                        
                
                    </div>
                </div>

    </kt-portlet-body>

    <ng-template #retail let-modal>
            <div class="modal-header">
              <h4 class="modal-title">{{modalTitle}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <div class="kt-form__section kt-form__section--first">
                            <div class="kt-wizard-v1__form">
                            <div class="row validated"> 
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label>Retail ID</label>
                                            <input type="text" class="form-control" value="{{models.retail_id}}" readonly>
                                          
                                       
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label>Retailer</label>
                                            <input type="text" class="form-control" value="{{models.retailer}}" readonly>
                                            
                                                    
                                        </div>
                                    </div>
                                </div>

                                <div class="row validated">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Retail Category</label>
                                                <input type="text" class="form-control" value="{{models.retail_category}}" readonly>

                                              
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Email ID</label>
                                                <input type="text" class="form-control" value="{{models.email}}" readonly>
                                                    
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row validated">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Landline Number</label>
                                                <input type="text" class="form-control" value="{{models.landline}}" readonly>

                                             
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Mobile Number</label>
                                                <input type="text" class="form-control" value="{{models.mobile_no}}" readonly>

                                                        
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row validated">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Address Line 1</label>
                                                <input type="text" class="form-control" value="{{models.address_line1}}" readonly>

                                            
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Address Line 2</label>
                                                <input type="text" class="form-control" value="{{models.address_line2}}" readonly>

                                                     
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row validated">
                    
                                        <div class="col-xl-6">
                                                            <div class="form-group">
                                                                <label>Country</label>
                                                                <input type="text" class="form-control" value="{{models.country}}" readonly>
                                                                
                                                               
                                                                    
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <div class="form-group">
                                                                <label>State</label>
                                                                <input type="text" class="form-control" value="{{models.state}}" readonly>
                                                                
                                                               
                                                               
                                                            </div>
                                                        </div>
                                                    
                                                    </div>
                                            <div class="row validated">
                                            <div class="col-xl-6">
                                                            <div class="form-group">
                                                                <label>District</label>
                                                                <input type="text" class="form-control" value="{{models.district}}" readonly>

                                                                      
                                                                    
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <div class="form-group">
                                                                <label>Taluk</label>
                                                                <input type="text" class="form-control" value="{{models.taluk}}" readonly>
                                                            </div>
                                                        </div>
                                                    
                                                    </div>
                                                    <div class="row validated">
                                            <div class="col-xl-6">
                                                            <div class="form-group">
                                                                <label>Town/Village</label>
                                                                <input type="text" class="form-control" value="{{models.city}}" readonly>
                                                                     
                                                                    
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <div class="form-group">
                                                                <label>Pincode</label>
                                                                <input type="text" class="form-control" value="{{models.pincode}}" readonly>

                                                                       
                                                            </div>
                                                        </div>
                                                    
                                                    </div>

                                    <div class="row validated">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Business Partner Name</label>
                                                <input type="text" class="form-control" value="{{models.business_partner_name}}" readonly>

                                                
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Business Partner Email</label>
                                                <input type="text" class="form-control" value="{{models.business_partner_email}}" readonly>

                                                       
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row validated">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>TL Name</label>
                                                <input type="text" class="form-control" value="{{models.tl_name}}" readonly>

                                              
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>TL Email ID</label>
                                                <input type="text" class="form-control" value="{{models.tl_email}}" readonly>

                                                        
                                            </div>
                                        </div>
                                    </div>

                                </div>
                
                    </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-pill btn-outline-secondary btn-sm btn_close" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>

          <ng-template #table let-modal>
            <div class="modal-header">
              <h4 class="modal-title">{{modalTableTitle}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
<span *ngIf="modalTableTitle==='Assigned Branding Elements'">
                    <div class="mat-elevation-z8">
                            <div class="mat-table__wrapper brand-overflow">
                                <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSourceBE" matSort #sort1="matSort"
                                matSortActive="ind" matSortDirection="asc" matSortDisableClear>
                        
                                <ng-container matColumnDef="s_no">
                                        <mat-header-cell *matHeaderCellDef>S No</mat-header-cell>
                                        <mat-cell *matCellDef="let be;let i = index">
                                            {{i+1}}	
                                        </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                                <span class="table-text">{{be.name}}</span>		
                                        </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="material">
                                        <mat-header-cell *matHeaderCellDef>Material</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                                <span class="table-text">{{be.material}}</span>
                                        </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="dimensions">
                                        <mat-header-cell *matHeaderCellDef>Dimension</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            
                                                <span class="table-text" *ngIf="be.dimension != 'null'">{{be.dimension}}</span>
                                                <span class="table-text" *ngIf="be.dimension == 'null'">NA</span>
                                        </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="measurement">
                                        <mat-header-cell *matHeaderCellDef>Measurements</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                            
                                                <span class="table-text" *ngIf="be.dimension == 'null'">NA</span>
                                                <span class="table-text" *ngIf="be.dimension == '1-d'">{{be.measurement[0]}}</span>
                                                <span class="table-text" *ngIf="be.dimension == '2-d'">{{be.measurement[0]}} * {{be.measurement[1]}}</span>
                                                <span class="table-text" *ngIf="be.dimension == '3-d'">{{be.measurement[0]}} * {{be.measurement[1]}} * {{be.measurement[2]}}</span>
                                        </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="uom">
                                        <mat-header-cell *matHeaderCellDef>Unit of Measurement</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                                <span class="table-text" *ngIf="be['uom']!='null'">{{be.uom}}</span>
                                                <span class="table-text" *ngIf="be['uom']=='null'">NA</span>
                                        </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="quantity">
                                        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                                        <mat-cell *matCellDef="let be">
                                                <span class="table-text">{{be.quantity}}</span>
                                        </mat-cell>
                                </ng-container>
                                 

                                   
                               
                                    <mat-header-row *matHeaderRowDef="displayedColumnsBrandingElements"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnsBrandingElements"></mat-row>
                                </mat-table>
                              <!--  <div class="mat-table__message" *ngIf="allDataExcel1.length===0">No records found</div>-->
                                <!-- Message for empty data  -->
                                <!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
                            </div>

                            
                            		<!-- start: BOTTOM -->
								<div class="mat-table__bottom">
									<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
                                    <mat-spinner [diameter]="20" *ngIf="dataSourceBE.loading$ | async"></mat-spinner>
									<!-- MATERIAL PAGINATOR | Binded to dasources -->
									<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
									<mat-paginator  [pageSize]="pageSize" [pageSizeOptions]="[5,10, 20]" 
                                    [length]="totalSize"
                                    [pageIndex]="currentPage" (page)="pageEvent = page_chage($event,dataSourceBE.data)"  [showFirstLastButtons]="true"></mat-paginator>
								</div>

                        
                        </div>
                    </span>
<span *ngIf="modalTableTitle==='Assigned Promo Materials'">
                    <div class="mat-elevation-z8">
                            <div class="mat-table__wrapper brand-overflow">
                                <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSourcePromo" matSort #sort1="matSort"
                                matSortActive="ind" matSortDirection="asc" matSortDisableClear>
                                 
                                    <ng-container matColumnDef="s_no">
                                            <mat-header-cell *matHeaderCellDef>S No</mat-header-cell>
                                            <mat-cell *matCellDef="let be;let i = index">
                                                {{i+1}}	
                                            </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="product_category">
                                            <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
                                            <mat-cell *matCellDef="let be">
                                                    <span class="table-text">{{be.category}}</span>		
                                            </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="name">
                                            <mat-header-cell *matHeaderCellDef>Name/Description</mat-header-cell>
                                            <mat-cell *matCellDef="let be">
                                                    <span class="table-text">{{be.name}}</span>		
                                            </mat-cell>
                                    </ng-container>

            
                                    <ng-container matColumnDef="quantity">
                                            <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                                            <mat-cell *matCellDef="let be">
                                                    <span class="table-text">{{be.quantity}}</span>
                                            </mat-cell>
                                    </ng-container>
                                                                 
                                 

                                   
                               
                                    <mat-header-row *matHeaderRowDef="displayedColumnsPromo"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnsPromo"></mat-row>
                                </mat-table>
                              <!--  <div class="mat-table__message" *ngIf="allDataExcel1.length===0">No records found</div>-->
                                <!-- Message for empty data  -->
                                <!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
                            </div>
                            <!-- start: BOTTOM -->
								<div class="mat-table__bottom">
									<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
									<mat-spinner [diameter]="20" *ngIf="dataSourcePromo.loading$ | async"></mat-spinner>
									<!-- MATERIAL PAGINATOR | Binded to dasources -->
									<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
									<mat-paginator  [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" 
                                    [length]="totalSize"
                                    [pageIndex]="currentPage" (page)="pageEvent = page_chage($event,dataSourcePromo.data)" [showFirstLastButtons]="true"></mat-paginator>
								</div>

                        
                        </div>	
                    </span>
                    <span *ngIf="modalTableTitle==='Planogram'">
                            <mat-tab-group>
                                    <mat-tab label="Display">
                                            <div class="mat-elevation-z8">
                                                    <div class="mat-table__wrapper brand-overflow">
                                                        <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSourceProductsDisplay" matSort #sort1="matSort"
                                                        matSortActive="ind" matSortDirection="asc" matSortDisableClear>
                                                        <ng-container *ngFor="let disCol of displayedColumnsProduct; let colIndex = index" matColumnDef="{{disCol}}">
                                                            <mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell>
                                                            <mat-cell *matCellDef="let element;let i = index"> 
                                                                            <span class="table-text" *ngIf="disCol === 's_no'">
                                                                {{i+1}}
                                                                </span>
                                                                            <span class="table-text" *ngIf="disCol !== 's_no'">
                                                                {{element[disCol]}}
                                                                </span>
                                                             
                                                                </mat-cell>
                                                            </ng-container>
                
                                                           
                                                       
                                                            <mat-header-row *matHeaderRowDef="displayedColumnsProduct"></mat-header-row>
                                                            <mat-row *matRowDef="let row; columns: displayedColumnsProduct"></mat-row>
                                                        </mat-table>
                                                        <div class="mat-table__message" *ngIf="dataSourceProductsDisplay.data.length===0">No records found</div>
                                                      <!--  <div class="mat-table__message" *ngIf="allDataExcel1.length===0">No records found</div>-->
                                                        <!-- Message for empty data  -->
                                                        <!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
                                                    </div>
                                                      <!-- start: BOTTOM -->
								<div class="mat-table__bottom">
									<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
									<mat-spinner [diameter]="20" *ngIf="dataSourceCheckList.loading$ | async"></mat-spinner>
									<!-- MATERIAL PAGINATOR | Binded to dasources -->
									<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
									<mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" 
                                    [length]="totalSize"
                                    [pageIndex]="currentPage" (page)="pageEvent =page_chage($event,dataSourceProductsDisplay.data)" [showFirstLastButtons]="true"></mat-paginator>
								</div>
                                                </div>	
                                        </mat-tab>
                                    <mat-tab label="Sellable"> 
                                            <div class="mat-elevation-z8">
                                                    <div class="mat-table__wrapper brand-overflow">
                                                        <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSourceProductsSellable" matSort #sort1="matSort"
                                                        matSortActive="ind" matSortDirection="asc" matSortDisableClear>
                                                        <ng-container *ngFor="let disCol of displayedColumnsProduct; let colIndex = index" matColumnDef="{{disCol}}">
                                                            <mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell>
                                                            <mat-cell *matCellDef="let element;let i = index"> 
                                                                            <span class="table-text" *ngIf="disCol === 's_no'">
                                                                {{i+1}}
                                                                </span>
                                                                            <span class="table-text" *ngIf="disCol !== 's_no'">
                                                                {{element[disCol]}}
                                                                </span>
                                                             
                                                                </mat-cell>
                                                            </ng-container>
                
                                                           
                                                       
                                                            <mat-header-row *matHeaderRowDef="displayedColumnsProduct"></mat-header-row>
                                                            <mat-row *matRowDef="let row; columns: displayedColumnsProduct"></mat-row>
                                                        </mat-table>
                                                        <div class="mat-table__message" *ngIf="dataSourceProductsSellable.data.length===0">No records found</div>
                                                        <!-- Message for empty data  -->
                                                        <!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
                                                    </div>
                                                 <!-- start: BOTTOM -->
								<div class="mat-table__bottom">
									<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
									<mat-spinner [diameter]="20" *ngIf="dataSourceCheckList.loading$ | async"></mat-spinner>
									<!-- MATERIAL PAGINATOR | Binded to dasources -->
									<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
									<mat-paginator  [pageSize]="pageSize" [pageSizeOptions]="[5,10, 20]" 
                                    [length]="totalSize1"
                                    [pageIndex]="currentPage" (page)="pageEvent =page_chage($event,dataSourceProductsSellable.data)" [showFirstLastButtons]="true"></mat-paginator>
								</div>
                                                </div>
                                     </mat-tab>
                                  </mat-tab-group>
                                    
                    </span>

                    <span *ngIf="modalTableTitle==='Assigned Check List'">
                            <div class="mat-elevation-z8">
                                    <div class="mat-table__wrapper brand-overflow">
                                        <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSourceCheckList" matSort #sort1="matSort"
                                        matSortActive="ind" matSortDirection="asc" matSortDisableClear>
                                
                                            <ng-container matColumnDef="s_no">
                                                    <mat-header-cell *matHeaderCellDef>S No</mat-header-cell>
                                                    <mat-cell *matCellDef="let be;let i = index">
                                                        {{i+1}}	
                                                    </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="question">
                                                    <mat-header-cell *matHeaderCellDef>Question</mat-header-cell>
                                                    <mat-cell *matCellDef="let be">
                                                            <span class="table-text">{{be.desc}}</span>		
                                                    </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="ans_category">
                                                    <mat-header-cell *matHeaderCellDef>Answer Category</mat-header-cell>
                                                    <mat-cell *matCellDef="let be">
                                                            <span class="table-text">{{be.answer_category}}</span>		
                                                    </mat-cell>
                                            </ng-container>

                                                            

                                           
                                       
                                            <mat-header-row *matHeaderRowDef="displayedColumnsCheckList"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumnsCheckList"></mat-row>
                                        </mat-table>
                                      <!--  <div class="mat-table__message" *ngIf="allDataExcel1.length===0">No records found</div>-->
                                        <!-- Message for empty data  -->
                                        <!--  <div class="mat-table__message" *ngIf="loader===true">Please wait....</div>-->
                                    </div>
                                	<!-- start: BOTTOM -->
								<div class="mat-table__bottom">
									<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
                                    <mat-spinner [diameter]="20" *ngIf="dataSourceCheckList.loading$ | async"></mat-spinner>
									<!-- MATERIAL PAGINATOR | Binded to dasources -->
									<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
									<mat-spinner [diameter]="20" *ngIf="dataSourceCheckList.loading$ | async"></mat-spinner>
								</div>

                                </div>	
                    </span>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-pill btn-outline-secondary btn-sm btn_close" (click)="modal.close('Close click')">Close</button>
                </div>
              </ng-template>
    
              <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">Upload Files</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');closeModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            <!--    <form class="form-horizontal" [formGroup]="uploadGroup">-->

                <div class="modal-body">

                  

                               <div class="row">
                                <div class="col-lg-12 mb-3">
                                        <button type="submit" class="btn btn-outline-primary productnew-btn btn-sm"  (click)="basic();uploader.click()"
                                        color="primary" matTooltip="Add Basic Details">
                                        Upload Basic Info</button>
                                          <label class="ml-3">{{filedataBasic}}</label>
                                       
                                </div>
                               
                            </div>
                          
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                        <button type="submit" class="btn btn-outline-primary productnew-btn btn-sm" (click)="brandingElements();uploader.click()"
                                        color="primary" matTooltip="Add Branding Element Details">
                                        Upload Branding Element</button>
                                        <label class="ml-3">{{filedataBE}}</label>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-12 mb-3">
                                            <button type="submit" class="btn btn-outline-primary productnew-btn btn-sm" (click)="promoMaterial();uploader.click()"
                                            color="primary" matTooltip="Add Promo Material Details">
                                            Upload Promo Material</button>
                                            <label class="ml-3">{{filedataPromo}}</label>
                                   </div>
                            </div>   

                            <div class="row">
                                    <div class="col-lg-12 mb-3">
                                            <button type="submit" class="btn btn-outline-primary productnew-btn btn-sm" (click)="productGrouping();uploader.click()"
                                            color="primary" matTooltip="Add Product Grouping Details">
                                            Upload Products</button>
                                            <label class="ml-3">{{filedataProductGrouping}}</label>
                                   </div>
                            </div>            
                    
                            <div class="row">
                                    <div class="col-lg-12">
                                            <button type="submit" class="btn btn-outline-primary productnew-btn btn-sm" (click)="checkList();uploader.click()"
                                            color="primary" matTooltip="Add Check List Details">
                                            Upload Check List</button>
                                            <label class="ml-3">{{filedataCheckList}}</label>
                                     </div>
                            </div>    
                    
                  
                    
                 
                   
                 
                    
                   
                   
               
                  
                   
                    
                 
                  
                  

                    
                    <input hidden type="file" #uploader (change)="onFileChange($event)"
                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    multiple="false" />

                    
                    
                  
                 <!--  </p> -->
                </div>
            <!--    </form>-->
                <div class="modal-footer">
                        <button type="button" class="btn btn-pill btn-outline-secondary btn-sm btn_close" (click)="modal.close('Close click')">Cancel</button>
                         <button type="button" class="btn btn-pill btn-outline-success btn-sm pull-right" (click)="UploadDone(warningpop);">OK</button>
                      

                 
                </div>
              </ng-template>

                         <ng-template #warningpop let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">Warning Message</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');closeModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
           
    <div class="modal-body">
            <div class="allwarnings" *ngFor="let div of allFailedUploadExcel;let i=index">
            <div class="sublists">
                    <h6>{{headerUploadExcel[i]}}</h6>
                    
                    
                    <span *ngIf="i===0">
                    <span *ngIf="div.length>2">
                       
                 <ul *ngFor="let id of (allHeadingsUploadExcel[i]) ? (div.slice((div.length)/2)) : (div)">
                  <li>
                        Retail ID -<b>{{id}}</b> is not Valid
                    </li>   
                 </ul>
              </span>
               <span *ngIf="div.length<=2">
                        <ul *ngFor="let id of div">
                            <li>
                                    Retail ID -<b>{{id}}</b> is not Valid  
                            </li>

                        </ul>
                    </span>
                    <span *ngIf="div.length===0">
                            All are successfully uploaded.
    
                        </span>
                </span>
               
              <span *ngIf="i!==0">
                   
                         <span *ngIf="div.length>2">
                       
                                <ul *ngFor="let id of (allHeadingsUploadExcel[i]) ? (div.slice((div.length)/2)) : (div)">
                                 <li *ngIf="id[allFailedUploadExcelNames[i-1]].length>0">
                                        {{headerUploadExcel[i]+ '-'}}
                                       
                                     <span  *ngFor="let ids of id[allFailedUploadExcelNames[i-1]]; let deep_i = index">
                                            <b>{{ids}} {{deep_i === id[allFailedUploadExcelNames[i-1]].length -1 ? '' : ',&nbsp;' }}</b>
                                     </span>
                                        for <b>{{id['retail_id']}}</b> is not Valid
                                        </li> 
                                     <!--   <li *ngIf="id[allFailedUploadExcelNames[i-1]].length===0">
                                                All are successfully uploaded.
                                        </li> --> 
                                </ul>
                             </span>
                              <span *ngIf="div.length<=2">
                                       <ul *ngFor="let id of div">
                                            <li *ngIf="id[allFailedUploadExcelNames[i-1]].length>0">
                                                {{headerUploadExcel[i]+ '-'}}
                                                <span  *ngFor="let ids of id[allFailedUploadExcelNames[i-1]]; let deep_i = index">
                                                        <b>{{ids}} {{deep_i === id[allFailedUploadExcelNames[i-1]].length -1 ? '' : ',&nbsp;' }}</b>
                                                        </span>
                                                           for <b>{{id['retail_id']}}</b> is not Valid
                                           </li>
                                        <!--   <li *ngIf="id[allFailedUploadExcelNames[i-1]].length===0">
                                                All are successfully uploaded.
                                        </li>  -->
                                       </ul>
                                   </span>
                                   <span *ngIf="div.length===0">
                                       All are successfully uploaded.

                                   </span>

                </span>
                   </div>
                   <button *ngIf="div.length>2" class="btn btn-pill btn-sm btn-outline-success" (click)="allHeadingsUploadExcel[i]=!allHeadingsUploadExcel[i]">{{ allHeadingsUploadExcel[i] == false ? 'View Less' : 'View More' }}</button>  

                   </div>
                   </div>
                   
            
                <div class="modal-footer">
                         <button type="button" class="btn btn-pill btn-outline-success btn-sm pull-right" (click)="modal.close('Close click');closeModal();">OK</button>

                 
                </div>
              </ng-template>

</kt-portlet>
