@import "sass/pages/wizard/wizard-1";

.productnew-btn{
    border-radius:2rem;
    margin-left:10px;
  }
  button.mat-raised-button.mat-button-base.mat-primary {
    margin-left: 3px;
  }
  .create-icon{
    margin-left:-10px;
  }
  .delete-icon{
    margin-left:-10px;
  }
  .table-text{
    overflow:hidden;
    text-transform: capitalize;
  }

  .nav-link{
    padding:0px !important;
  }

  .example-container {
    display: flex;
    flex-direction: column;

    flex-basis: 300px;
  }

  // .mat-table {
  //   overflow: auto;
  //   max-height: 500px;
  // }
  // .mat-cell{
  //   justify-content: center;
  // }
  // mat-header-cell{
  //   justify-content:center;
  // }
// mat-cell{
//   border-right: 1px solid #d8dce6;
//   align-self: stretch;
//   text-align: center;
//   justify-content:center;
// }
// mat-header-cell{
//   border-right: 1px solid #d8dce6;
//   align-self: stretch;
//   text-align: center;
//   justify-content:center;
// }
.waringdisplay{ 
  overflow-y:auto;
}
// #myList li:nth-of-type(1n+4) {
//   display: none;
// }
.sublists h6{
  font-weight:bold;
  color:#000 !important;
  margin:15px auto;
  font-size:15px;
}
.sublists ul li{
  padding:5px 0;
}
// .header-action{
//   padding: 0 2rem;
// }
.actions-btn{
  font-size:12px;
}